[2017-07-03 18:23] greg-db commented on #164
Thanks for pointing that out, and apologies for the trouble!

[2017-07-10 01:00] josechen01 opened #165 "ViewController can't be release after authorizeFromController"
ViewController can't be release after called authorizeFromController

[2017-07-10 15:48] greg-db commented on #165
@josechen01 Can you elaborate on the issue you're experiencing? Please include the code to reproduce the issue, and the unexpected error/output you're getting. Thanks in advance!

[2017-07-12 07:52] josechen01 commented on #165
@greg-db
I can reproduce by follow steps:
1.Present a ViewController
2.Invoke + (void)authorizeFromController:controller:openURL
3.Touch cancel button on Dropbox app, then it will back to my app
4.Dismiss the ViewController(vc can't be release)

I noticed that "DBMobileSharedApplication" will retain the viewcontroller, after cancel authorization, "_controller" should be set to nil.

[2017-07-12 16:29] greg-db commented on #165
Thanks! We'll look into it.

[2017-07-28 04:42] sarunw opened #166 "Oauth not redirect back in iOS11 beta 4"
Just FYI, since it still in beta. Here is what I get

![1simulator_screen_shot_-_iphone_6s_-_2017-07-28_at_11_29_52](https://user-images.githubusercontent.com/795368/28702811-c8ca84f2-7389-11e7-897a-e8f34faeb32b.png)
![2simulator_screen_shot_-_iphone_6s_-_2017-07-28_at_11_30_01](https://user-images.githubusercontent.com/795368/28702812-c9284254-7389-11e7-85e7-97d77009c51d.png)

[2017-07-28 17:11] greg-db commented on #166
Thanks for the report!

[2017-08-10 06:39] shoaibhassanWhizpool opened #167 "Showing Blank white screen with error dbapi-8-emm and dbapi-2://1/connect"
Hello Dropbox Team,
i am getting
-canOpenURL: failed for URL: "dbapi-2://1/connect" - error: "The operation couldn’t be completed. (OSStatus error -10814.)"
2017-08-10 11:31:29.961522+0500 Sign&Fill[2831:792345] -canOpenURL: failed for URL: "dbapi-8-emm://1/connect" - error: "The operation couldn’t be completed. (OSStatus error -10814.)"

I am using pod version 3.1.1 into my application.

[2017-08-10 14:28] greg-db commented on #167
The 10814 errors themselves are expected if the official Dropbox app isn't installed, so they're safe to ignore. (The SDK checks if the official app is installed, and would use that for the authorization flow if it is. If it isn't though, it will fall back to an in-app flow.)

You shouldn't be seeing a blank screen for the authorization page though. Can you share a screenshot showing the issue? Al

[2017-08-11 10:02] shoaibhassanWhizpool commented on #167
here is my code for calling login screen
-(void)loadDropBoxData{
    if (![DBClientsManager authorizedClient]) {
        [DBClientsManager authorizeFromController:[UIApplication sharedApplication]
                                       controller:self
                                          openURL:^(NSURL *url) {
                                              [[UIApplication sharedApplication] o

[2017-08-11 16:13] greg-db commented on #167
Based on the screenshot, it looks like you're seeing this on iPhone, not iPad.

I just tried to reproduce this using the code you supplied, but it worked properly for me. I'm not sure I understand the part where you said "press done button of dropbox login screes it comes back" though. What specifically comes back? Can you clarify the steps to reproduce this?

Additionally, please let us know:
- w

[2017-08-13 17:51] guidedways opened #168 "v3.2.0 does not compile. Dozens of 'file not found' errors."
Just did a clean checkout of `carthage update` (v3.2.0) and I get the following build error:

`DBTEAMPOLICIESOfficeAddInPolicy.h file not found`

This is in `DBTeamPoliciesObjects.m`. I can see the file exists but does not get added to the project for some reason.

[2017-08-13 18:13] guidedways commented on #168
Just added this manually and it seems there are dozens more missing from the project file. I then tried downloading the project directly from GitHub and it seems the project file really does have dozens of files missing. Not sure what's going on,

[2017-08-13 18:21] guidedways commented on #168
It seems the instructions on the main page are incorrect. It mentions v3.2.0 as the latest release, whereas the latest release should have been v3.1.2. Switching to 3.1.2 fixes it.

[2017-08-13 18:26] guidedways commented on #167
I can confirm I'm seeing the same thing on v3.1.2 (and v3.2.0 won't compile, I've raised this issue). I had v3.0.18 before and it was working perfectly.

[2017-08-14 16:00] greg-db commented on #168
Thanks for the report! We'll look into it.

[2017-08-14 16:00] greg-db commented on #167
@guidedways Can you let me know what version(s) of Xcode and iOS you're seeing this with? This isn't reproducing for me with SDK v3.1.2.

[2017-08-14 16:03] guidedways commented on #167
This is Xcode 8.x (latest) and iOS Simulator 10.x (latest). I switched back to 3.0.18 and I've had no issues whatsoever. I tried this with a completely fresh install on a iOS simulator. The same code (unchanged) worked the moment I reverted back to v3.0.18.

[2017-08-14 16:18] greg-db commented on #167
@guidedways Thanks! That's the same setup I'm testing with though and it unfortunately isn't showing the same issue for me.

Does [the DBRoulette sample app](https://github.com/dropbox/dropbox-sdk-obj-c/tree/master/Examples/DBRoulette) display the same issue for you? Also, does this only reproduce when following the steps outlined by shoaibhassanWhizpool above, or does it occur on every call to `a

[2017-08-16 14:05] businessOS opened #169 "The project have to many issues, don't compile"
carthage update --platform iOS
Error:
*** Building scheme "ObjectiveDropboxOfficial iOS" in ObjectiveDropboxOfficial.xcodeproj
Build Failed
	Task failed with exit code 65:
	/usr/bin/xcrun xcodebuild -project /Users/Laeramario/Documents/Proyectos/Xcode/iTopsolutions/Dental/DentalCheck/Carthage/Checkouts/dropbox-sdk-obj-c/Source/ObjectiveDropboxOfficial/ObjectiveDropboxOfficial.xcodeproj -scheme Obj

[2017-08-16 14:06] businessOS commented on #169
Please just put a framework SDK file!

[2017-08-16 16:08] greg-db commented on #169
Thanks for the report! This seems to be the same as #168, so I'm closing this in favor of that one.

I'm also sending this along as a feature request to also distribute the SDK as a framework file.

[2017-08-16 16:08] #169 closed

[2017-08-16 20:08] greg-db commented on #166
@sarunw It looks like you might be using an older version of the Dropbox SDK. Based on the screenshots you provided, you appear to be using the old `browserAuth` parameter. That had to be removed in [v3.0.11](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.0.11). That was one way to hit this issue on iOS 11. Please update to the latest version of the iOS SDK, currently v3.2.0. Doing so

[2017-08-16 20:08] #166 closed

[2017-08-18 01:49] Oleksandren commented on #167
Hello!
I have the same problem. On the iPhone (both simulator iPhone 7 and device iPhone 7plus) I have white blank screen when try to log in.
The code for log in used the as in the listing above.

The app used splitViewController.
Also interesting behaviour I can observe: In my app I have two place where is used login into dropBox:
The first place is the settings screen. This screen is the only on

[2017-08-18 14:07] greg-db commented on #167
@Oleksandren Thanks for the information!

[2017-08-20 19:15] Oleksandren commented on #167
@shoaibhassanWhizpool @greg-db
I found solution.
Instead passing 'self' as parametr (UIViewController), I pass 'self.navigationController.viewControllers[0]' and everything works well.
So, call to ask authorization in dropBox look like:
[DBClientsManager authorizeFromController:[UIApplication sharedApplication]
                                       controller:self.navigationController.viewControl

[2017-08-21 00:12] Oleksandren commented on #167
I tried to use latest version of the DropBox SDK. It is not helps to resolve bug. But when I used the latest version of the SDK, in the log appeared the following warning:
[ViewService] Failed to get remote view controller with error: Error: domain=_UIViewServiceInterfaceErrorDomain, code=2
As I see in the search results this problem in iOS core (in the Safari View Controller which opened to make

[2017-08-21 14:44] Solublepeter commented on #168
As we can't use 3.2.0, due to the number of compile errors, is the official advice to use 3.1.2, or to wait for 3.2.0 to be fixed?

[2017-08-21 18:46] greg-db commented on #168
I don't have an ETA for a fix right now, so feel free to use 3.1.2 for now.

[2017-08-21 19:51] greg-db commented on #167
Thanks again @Oleksandren ! We'll follow up here once we have any news on this issue.

[2017-08-22 00:03] Oleksandren commented on #167
@greg-db
I think you can try remove all appearance configurations for UIToolbar and for UIBarButtonItem's. In this case toolbar will be not so attractive, but it not cause the bug.

[2017-08-22 14:54] greg-db commented on #167
Thanks @Oleksandren !

[2017-08-25 14:33] Allan-Nava commented on #67
I have this problem when I i try to upload the Archive Release.

I use this script:
[code]

I use ionic cordova build ios --release and it works "build succeeded", but when I try to upload to app store I have this problem:

[2017-08-25 18:57] greg-db commented on #67
@Allan-Nava Based on your output, it looks like the error is referring to 'GoogleCast.framework', which isn't made by Dropbox, so I'm afraid we can't offer help for that.

[2017-08-25 19:02] Allan-Nava commented on #67
@greg-db Ok, sorry :(

[2017-08-29 05:40] shoaibhassanWhizpool commented on #125
@scobbe i am also facing same issue.
when i call downloadUrl with connected wifi.Nothing happens.its does't move to completion block or progress block and sticks there..i am using cocoa Pods version 3.2.0 and testing on iPhone 6 with iOS 10.3.
Any solution?

[2017-08-29 19:33] greg-db commented on #125
@shoaibhassanWhizpool It sounds like you may be running in to a somewhat different issue. The issue reported here was for a specific error, but you said you're not getting anything.

Please [open a new issue](https://www.dropboxforum.com/t5/API-support/Unable-to-download-file-to-a-desired-path-via-files-download-to/m-p/239111#M13274) with the details of the issue you're seeing (i.e., steps to repr

[2017-09-07 13:23] neojino commented on #169
I have exactly same problem.
please Just put a framework SDK file, I can't any update with API V2 now.

[2017-09-11 03:08] gobetti commented on #151
Hi! According to the [podspec file history](https://github.com/dropbox/dropbox-sdk-obj-c/commits/master/ObjectiveDropboxOfficial.podspec), the support to iOS 8 was dropped in 3.0.16.

I was wondering if that should have increased the major version number, given that it breaks compatibility. Otherwise, if one is using CocoaPods and has `pod 'ObjectiveDropboxOfficial', '~> 3.0'`, a simple `pod insta

[2017-09-11 08:46] manishbajo2008 commented on #167
We have integrated dropbox SDK API v2  in our app.We are getting a blank screen,no login screen found when App runs on iPad.Our App runs fine on iPhone and the login screen appears.May you help us on this issue this seems to be a bug in your SDK,because the login screen is getting rendered from your server.

Besides, dropbox SDK API v1 works fine on iPhone and iPad.Please provide us solution.

[2017-09-11 14:09] greg-db commented on #167
Thanks for the additional report @manishbajo2008 ! I don't have an update on this yet, but I'll follow up here once I do.

[2017-09-11 14:35] greg-db commented on #151
@gobetti Thanks for the feedback, and apologies for the trouble.

The actual functionality relevant to this change was the introduction of the use of `SFSafariViewController` in the app authorization flow.

[2017-09-13 10:08] manishbajo2008 commented on #167
@greg-db
May we get some type of confirmation report from dropbox team regarding this issue.As we have tried to release our app HpePrint but apple has rejected our app raising this user interface bug.We have also tried contacting the developer team of dropbox but no response has been found.

[2017-09-13 11:10] greg-db commented on #167
@manishbajo2008 I work with the API team at Dropbox and I can confirm this issue is currently open with engineering, though I don't have a timeline for a fix right now.

I do see that you just opened an API ticket and a forum thread for this, but I'll close those in favor of this GitHub issue so we can track this in one place.

[2017-09-19 19:48] greg-db commented on #168
This should be fixed in the latest version, currently v3.3.2.

[2017-09-19 19:48] #168 closed

[2017-09-26 08:08] manishbajo2008 commented on #167
@greg-db
Is there any progress on this?May your team communicate with apple team explaining this open issue?

**Below find the details for rejection from Apple:-**
From Apple
•	2. 1 Performance: App Completeness
Guideline 2.1 - Performance - App Completeness

We discovered one or more bugs in your app when reviewed on iPad running iOS 11 on Wi-Fi connected to an IPv6 network.

When attempting to c

[2017-09-26 17:23] greg-db commented on #167
@manishbajo2008 Thanks for the information. I don't have an update from the team on this, but I'll let them know about the issues it is causing for you in app review to see if we can help.

[2017-09-28 11:21] manish-cs commented on #167
An update on this, I am facing the same issue.

[2017-09-28 11:36] greg-db commented on #167
@manish-cs I don't have an update on this yet. I'll reply here once I do.

[2017-09-29 08:08] fmalekpour commented on #167
Lovely iOS 11, in DBOAuthMobile-iOS.m add this before presentViewController:

`	  if (@available(iOS 11.0, *)) {
		  [NSThread sleepForTimeInterval:0.5f];
	  }
`

Works for me!

[2017-09-29 20:26] greg-db commented on #167
We're still looking into this, but it no longer reproduces for us. If anyone is still seeing this issue, would you be able to share a sample project that shows it? Thanks!

[2017-09-30 05:14] PaulSlocum opened #172 "Is there a possibility to build for iOS 5.1 (iPad 1)?"
I have clients who have many iPad 1's that they use for their business with a Dropbox app of mine, which now stopped working because the API v1.0 was turned off.  My app has been updated for the new Dropbox API, but I can't find a way to build with a deployment target as low as 5.1 for the iPad 1.  I tried building with XCode 7, but it says that embedded frameworks are only supported on iOS 8.0 an

[2017-10-01 15:36] guidedways opened #173 "v1_retired errors"
Hi

Many of our users are being annoyed by a v1_retired error even though they are not using v1 APIs (they've got our latest app which does not use v1 at all). It does 'migrate' a v1 token if there's one but it does not sync using v1 APIs.

We've asked them to unlink and relink and they're frustrated as much as we are. Please help.

[2017-10-02 01:22] greg-db commented on #173
Thanks for the report! This SDK only calls API v2 endpoints, so that would be unexpected.

Can you share the code that reproduces the issue, and any output errors you get?

Also, are you sure they're definitely on the latest version of your app(s)? It sounds like they just may be on older versions, which would be using older (v1) SDKs.

[2017-10-02 01:23] guidedways commented on #173
I've asked some of them for their logs but they say they're most certainly on the latest version. Some of them are reporting Dropbox 400 errors and some are reporting v1_retired, while some other are reporting v1_something errors. It's all over the place, given the number of people syncing with dropbox. Yet I'm unable to reproduce this on my own devices.

[2017-10-02 01:27] greg-db commented on #173
Ok, thanks for the information. In that case, since you can't reproduce this, I'll close this and follow up with you privately after checking our logs.

[2017-10-02 01:27] #173 closed

[2017-10-02 14:57] greg-db commented on #172
@PaulSlocum Thanks for the post. This SDK doesn't support iOS 5.1. I'll pass this along as a feature request, but it's relatively unlikely that we'll be implementing support for that. Apologies I don't have better news!

For reference, there are some third party SDKs listed here, but I don't know what versions they support:

https://www.dropbox.com/developers/documentation/communitysdks

Alternati

[2017-10-02 14:57] #172 closed

[2017-10-04 02:19] scobbe commented on #167
Sorry for the long delay here. I think the solution is to make sure that you're passing the topmost view controller when authorizing. With the UISplitViewController case, it's not necessarily `self`.

So would people mind trying this to see if it fixes the problem for them:
[code]

`[UIApplication sharedApplication].keyWindow.rootViewController` should get you the topmost view controller.

I can b

[2017-10-04 09:55] sovannarithsok commented on #167
Should use the top:

[2017-10-04 09:56] sovannarithsok commented on #167
Should check the top controller:

           let vc = UIApplication.shared.keyWindow?.rootViewController
            if var topController = vc {
                while let presentedViewController = topController.presentedViewController {
                    topController = presentedViewController
                }
                DBClientsManager.authorize(fromController: UIApplication.shared, cont

[2017-10-04 15:27] chrisvanbuskirk opened #174 "Thumbnails"
Anyway we can write a thumbnail for our files that would show in files app?

NSURL allows for:

@{NSURLThumbnailDictionaryKey: @{NSThumbnail1024x1024SizeKey: image}};

[2017-10-04 19:24] greg-db commented on #174
No, the Dropbox SDK doesn't offer anything like that, but I'll pass this along as a feature request.

[2017-10-06 15:14] wasnotrice opened #175 "Carthage update fails for version 3.3.3"
Looks like an issue with stone?

[code]

[2017-10-06 18:05] scobbe commented on #175
@wasnotrice: Sorry about this. This should be fixed now.

[2017-10-06 18:05] #175 closed

[2017-10-06 18:07] wasnotrice commented on #175
@scobbe  Thank you, no worries! 🚀

[2017-10-08 01:30] guidedways opened #178 "Item already in "tmp" folder"
I got into a situation where a file got corrupt somehow in Dropbox. It wouldn't download correctly so I "restored" an older version using the web version of dropbox. The app now seems to pull changes just fine, however it now is now receiving these error from the library:

`Error Domain=NSCocoaErrorDomain Code=0 "(null)" UserInfo={errorContent=“EBF5E1F3-BF9B-46C6-8BE8-F0A9529E8025” couldn’t be mov

[2017-10-09 10:18] semionenko commented on #153
Hi, I see the same problem in SDK 3.3.3.

DropboxClientError[{
    NSError = "Error Domain=NSCocoaErrorDomain Code=4 \"\U201cCFNetworkDownload_f3HZ60.tmp\U201d couldn\U2019t be moved to \U201cDocuments\U201d because either the former doesn't exist, or the folder containing the latter doesn't exist.\" UserInfo={NSSourceFilePathErrorKey=/Users/meteorx/Library/Developer/CoreSimulator/Devices/30D277D8

[2017-10-09 11:21] semionenko opened #179 "Methods DeleteV2 and MoveV2 not working in SDK 3.3.3"
Methods delete_ and move are deprecated. I try to use method deleteV2 (printed delete_v2 - wrong too) and moveV2.

`DBUserClient *userClient = [DBClientsManager authorizedClient];
[[userClient.filesRoutes deleteV2:backupMetadata.pathLower] setResponseBlock:^(DBFILESDeleteResult * _Nullable deleteResult, DBFILESDeleteError * _Nullable routeError, DBRequestError * _Nullable networkError) {...}`

del

[2017-10-09 17:53] greg-db commented on #178
@guidedways For reference, can you share the code that triggers this?

If you're using one of [the `download` methods](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBFILESUserAuthRoutes.html#/c:objc(cs)DBFILESUserAuthRoutes(im)downloadUrl:overwrite:destination:) though, you may want to set `overwrite` to true so you can overwrite that existing local file.

[2017-10-09 18:06] greg-db commented on #153
@semionenko Can you share the code that reproduces this for you in 3.3.3? Thanks in advance!

[2017-10-09 18:06] greg-db commented on #179
@semionenko The deprecation waring does have the wrong formatting for the non-deprecated method. I'll ask the team to get that fixed up.

I can't reproduce this unrecognized selector error for `deleteV2` and `moveV2` though. This runs for me:

[code]

Can you double check you have 3.3.3 successfully installed, and perhaps trying cleaning and rebuilding?

[2017-10-10 01:54] semionenko commented on #153
Pod update operation show me: Using ObjectiveDropboxOfficial (3.3.3)

backupMetadata - the result from listFolder task:

[code]

Then I've tried download the file:
[code]

[2017-10-10 01:54] semionenko commented on #179
Pod update operation show me: Using ObjectiveDropboxOfficial (3.3.3)

[2017-10-10 11:53] iChirag opened #180 "Getting some error while downloading any file from Dropbox"
here is my code:

[code]

[2017-10-10 12:42] igiso commented on #146
I get a mac o linker Error
_OBJC_CLASS_$_DBClientsManager", referenced from: objc-class-ref in ofxDropBox.o

When I run on Ipad,
but on simulator everything runs ok?
Any Ideas?

<img width="311" alt="screen shot 2017-10-10 at 15 36 48" src="https://user-images.githubusercontent.com/2058400/31386901-25b713e8-add1-11e7-9313-ee6a6b0434ef.png">
<img width="1957" alt="screen shot 2017-10-10 at 15 36 25

[2017-10-10 19:14] greg-db commented on #146
@igiso Have you already tried the troubleshooting steps discussed earlier in this thread?

[2017-10-10 19:25] greg-db commented on #153
@semionenko Thanks! I just tried that code with 3.3.3 and unfortunately it doesn't reproduce the issue for me. I hate to be a bother, but can you share a small sample project that hits this error? We'll need to be able to reproduce it here to investigate it properly. Thanks in advance!

[2017-10-10 19:25] greg-db commented on #179
Thanks for following up. Unfortunately I'm still not able to reproduce this. Can you try my code sample above and let me know if that does or doesn't work for you? It may be useful to try it in [the sample app](https://github.com/dropbox/dropbox-sdk-obj-c/tree/master/Examples/DBRoulette) for comparison.

To help us look into this, please share the code that reproduces this, or ideally, a small sam

[2017-10-10 19:34] greg-db commented on #180
@iChirag How is your `<MY VALID PATH>` built?

[2017-10-11 23:02] CharlieBurtoff commented on #167
Make sure you are not presenting the WebView from an ActionSheet - that can cause the blank screen / no loading issues. I wasted a long time before checking the view hierarchy which was ultimately my issue. I also was distracted by the TCP / Socket errors.

[2017-10-12 03:50] semionenko commented on #179
Thanks for the help. You can close the issue. I've fixed the problem after remove pods and install it again.

[2017-10-12 06:05] iChirag commented on #180
It is a valid path. See this I get using `NSlog`

`/Users/myname/Library/Developer/CoreSimulator/Devices/3D50FBB7-3A3F-4F21-9BA2-69765A1837CC/data/Containers/Data/Application/1EF1BB7D-EEB7-457E-B97B-FE744875A516/Documents/Gallery/Docs/123/DNO_03.jpg`

[2017-10-12 10:46] andywangzhen opened #182 "Show blank page when login."
the console log is "-canOpenURL: failed for URL: "dbapi-2://1/connect" - error: "The operation couldn’t be completed. (OSStatus error -10814.)"and "-canOpenURL: failed for URL: "dbapi-8-emm://1/connect" - error: "The operation couldn’t be completed. (OSStatus error -10814.)""

[2017-10-12 10:47] andywangzhen commented on #182
can you gave me the solution for this issue ...@ @graham @drspin @jterk @diwakergupta @alanjrogers

[2017-10-12 12:58] #179 closed

[2017-10-12 15:29] greg-db commented on #180
@iChirag Can you share the code the produces the `/Users/myname/Library/Developer/CoreSimulator/Devices...` path? That will likely be relevant in reproducing this issue. Thanks in advance!

[2017-10-12 16:18] greg-db commented on #182
The `canOpenURL` 10814 errors themselves are expected if the official Dropbox app isn't installed, so they're safe to ignore. (The SDK checks if the official app is installed, and would use that for the authorization flow if it is. If it isn't though, it will fall back to an in-app flow.)

It sounds like you're getting a blank page when calling `authorizeFromController` though. That would be unrel

[2017-10-13 03:26] andywangzhen commented on #182
Thanks!
I tried the way you give me, but it was not working well.
i find a way ,that tap the setting and click safari and clear history and website data.then it works well...

[2017-10-13 03:31] andywangzhen commented on #182
`- (BOOL) dropboxIsLinked
{
    if ([DBClientsManager authorizedClient]) {
        return YES;
    } else {
        [self dismissPopoverAnimated:NO];
//        [[DBSession sharedSession] linkUserId:nil fromController:self];
        [DBClientsManager authorizeFromController:[UIApplication sharedApplication]
                                       controller:self

[2017-10-13 06:51] iChirag commented on #180
okay here is code line by which that path produced

`NSString *urlPath = [self.strDownloadPath stringByAppendingPathComponent:[filePath lastPathComponent]];`

This is called inside the function.

That function is called by using following code in **didSelectRowAtIndexPath**

[code]

[2017-10-13 18:01] greg-db commented on #182
Thanks! Version 3.1.2 is a bit old now though, and there have been various bug fixes since then, so please update to the latest version, currently v3.3.4 and let us know if you're still seeing the issue.

[2017-10-13 19:52] greg-db commented on #180
Apologies, I should have asked earlier, but what version of the SDK do you have installed? If it's not the latest version, currently v3.3.4, please update to that and let us know if that helps. There have been a number of bug fixes in recent versions.

Anyway, if that doesn't help, we can look into it, but we'll still need a bit more information to try to reproduce this. Specifically, the code you

[2017-10-14 06:22] andywangzhen commented on #182
Thanks!
I have update the version to v3.3.4 ,but it doesn't work....maybe ,it's reason of  the DBSafaricontroller 's webview cache. that , when i tap the setting and click the safari to clear the cache and website data ,it becomes well.  a suggestion for you ...how to solve it ? maybe ,i would let my users to clear safari 's cache when the find this issue , now this is the only way for this issue

[2017-10-14 10:32] iChirag commented on #180
okay It seems to be resolved with **v3.3.4**
However when I am updating with pod it taking some older version. So that was a mistake. Anyway,`pod 'ObjectiveDropboxOfficial','3.3.4'` resolved my issued.

[2017-10-15 15:32] yoasha opened #184 ""The Podfile contains framework or static library targets, for which the Podfile does not contain host targets""
I am getting the following warning when running `pod install`

_[!] The Podfile contains framework or static library targets, for which the Podfile does not contain host targets (targets which embed the framework).
If this project is for doing framework development, you can ignore this message. Otherwise, add a target to the Podfile that embeds these frameworks to make this message go away (e.g. a

[2017-10-15 16:27] yoasha commented on #184
This is cocoapods issue so I submitted a similar issue in the appropriate repository

[2017-10-15 16:27] #184 closed

[2017-10-16 12:17] #180 closed

[2017-10-16 18:25] greg-db commented on #182
Thanks! I can't seem to reproduce this.

What version(s) of iOS are you seeing this with?
Does it reproduce for you in [the DBRoulette example app](https://github.com/dropbox/dropbox-sdk-obj-c/tree/master/Examples/DBRoulette)?

[2017-10-17 18:45] kallipigous commented on #182
I have exactly the same trouble. Works fine when dropbox app is installed but the web page loaded up is blank. This is a landscape only app incidentally.

[2017-10-17 19:10] greg-db commented on #182
@kallipigous Can you confirm you're passing in the topmost controller and are using the latest version of the SDK, per my earlier comments?

If so, please let me know what versions of iOS you're seeing this with, and if it reproduces with the example app.

[2017-10-17 19:11] kallipigous commented on #182
Yup 'm passing the top controller and I'm using the most recent version of ios11.

I'll try with the example app.

[2017-10-17 19:37] greg-db commented on #182
@kallipigous Thanks! To clarify though, I was referring to the latest version of the Dropbox SDK, not iOS itself.

Anyway, we haven't been able reproduce this version of this issue (where it's not about the view controller). That being the case, can you provide a small sample project that does reproduce it? That would be helpful in investigating. Thanks in advance!

[2017-10-17 19:41] kallipigous commented on #182
I'll have a look though it will be difficult to parse out.  For the time being I'll have to insist people have the dropbox app installed. I'll keep playing though and let you know if anything.

[2017-10-18 01:35] andywangzhen commented on #182
Thanks:
The version is iOS 10 and Xcode is 8.It does’t reproduces in example app, just in my self. I have tried the way of that you have given to me — use topmost controller.

发件人: Greg K
答复: dropbox/dropbox-sdk-obj-c
日期: 2017年10月18日 星期三 上午3:10
至: dropbox/dropbox-sdk-obj-c
抄送: 王振, Author
主题: Re: [dropbox/dropbox-sdk-obj-c] Show blank page when login. (#182)

@kallipigous<https://github.com/kallipi

[2017-10-18 16:05] greg-db commented on #182
@andywangzhen Thanks! As discussed with kallipigous, we haven't been able to reproduce this behavior, and since it doesn't reproduce for you in the example app, it does seem to be related to something specific to your app. I hate to be a bother, but that being the case, we will need a small sample project that reproduces the issue to be able to investigate further. If you would be able to supply o

[2017-10-18 23:48] relfarias opened #185 "ARCHIVE: Command /bin/sh failed with exit code 1"
I have installed the SDK using Carthage but I was receiving the error: "Command /bin/sh failed with exit code 1"

I have fixed the error just enable the checkbox "Run script only when installing" inside Build Phases. I also deleted the DerivedData folder but still not working.

The problem is I cannot fix the issue when I try to Archive my project (to build it is ok, just Archive).

Anyone knows h

[2017-10-19 01:03] relfarias commented on #185
one of our developers have solved the issue
when you create Archive, the path in your shel: /usr/local/bin/carthage copy-frameworks doesn't work.
Need to change for: /bin/sh

[2017-10-19 01:03] #185 closed

[2017-10-19 11:51] yoasha opened #186 "Many warnings in XCode 9.0 when running the static analyzer (Product > Analyze)"
The following warning appears in many files:
`Converting a pointer value of type 'NSNumber * _Nullable' to a primitive boolean value; instead, either compare the pointer to nil or call -boolValue`

[2017-10-19 11:52] yoasha commented on #186
![image](https://user-images.githubusercontent.com/5601548/31769653-29761912-b4dd-11e7-8880-c837cee30694.png)

[2017-10-19 13:09] igiso commented on #146
Yes I've tried, everything, I need to clarify, that my project works on Simulator, the linking problem is when testing on Device.

[2017-10-19 13:18] igiso commented on #146
ps
I didn't run those Pod files, I just dragged the ObjectiveDropboxOfficial.framework into the project

I tried to run them,  but it made any difference

<img width="572" alt="screen shot 2017-10-19 at 16 16 52" src="https://user-images.githubusercontent.com/2058400/31772649-104bbbca-b4e9-11e7-99af-58b4415a0150.png">

[2017-10-19 13:21] igiso commented on #146
On the simulator I get this warning but it compiles:

<img width="754" alt="screen shot 2017-08-30 at 17 46 51" src="https://user-images.githubusercontent.com/2058400/31772862-90b9943a-b4e9-11e7-9bcc-f53566dda060.png">

[2017-10-19 13:59] igiso commented on #146
I am putting a reference to this I think it is related:

https://github.com/drewmccormack/ensembles/issues/208

[2017-10-19 14:36] igiso commented on #146
I've solved the problem, I had to rebuild the framework for the particular device and then relink it,
but now it doesn't work on the simulator,

I created two projects with shared code but different linked frameworks..

[2017-10-19 14:37] igiso commented on #146
now the other issue I have is that I get redirected to the dropbox but I do not continue , it is stuck in an authentication loop I click allow on dropbox but it keeps asking for authentication .. I must have skiped a part in the code..

[2017-10-19 14:42] igiso commented on #146
so apparently I must enable Application does not run in background to NO
for the code to work..

IS there a way to disable this? I want the app to shut down each time it runs..

[2017-10-19 19:54] greg-db commented on #186
Thanks for the report! I'll ask the team to get this cleaned up.

[2017-10-19 20:00] greg-db commented on #146
@igiso The SDK should work both on device and in the simulator. You'll need to pick one of the supported installation methods though, and follow all of the documented steps:

https://github.com/dropbox/dropbox-sdk-obj-c#sdk-distribution

It sounds like you only manually dragged in the ObjectiveDropboxOfficial.framework. To get this working, please try again using one of the officially supported in

[2017-10-23 10:21] mt-lelang opened #187 "How to Cancels, pause,continue all outstanding requests."
I upload file to dropbox. But i want to cancel all the requests like in version1 we have the functions :
/* Cancels all outstanding requests. No callback for those requests will be sent */
- (void)cancelAllRequests;

[2017-10-23 17:41] scobbe commented on #187
With the v2 SDK, you should track the task objects yourself, and simply call cancel on all of them. There is no helper function for this, unfortunately.

[2017-10-24 06:19] Mudasir441 opened #188 "How to remove session for a user when deleting app"
I logged in to dropbox through my app. Then i delete the app without logout. When I again install the app, the user is logged in. How to logout user when deleting app?

[2017-10-24 09:22] rupaksp opened #189 "Error Uploading Files"
While trying to upload file with

 (DBBatchUploadTask *)batchUploadFiles:(NSDictionary<NSURL *, DBFILESCommitInfo *> *)fileUrlsToCommitInfo
                                  queue:(NSOperationQueue *)queue
                          progressBlock:(DBProgressBlock)progressBlock
                          responseBlock:(DBBatchUploadResponseBlock)responseBlock

I am getting error
NSError = \"Error Dom

[2017-10-24 09:40] rupaksp commented on #189
Found Issue.
I was using [NSURL fileURLWithPath] instead of [NSURL URLWithString:path] to convert local path to URL.
Because of it, the path was wrong and got error "No such file or directory"
closing issue.

[2017-10-24 09:40] #189 closed

[2017-10-24 11:25] relfarias commented on #40
I am having problems with overwriting.
My files are not being cretaed inside the folder and overwriting the archives.

NSString * path = [documentdir stringByAppendingPathComponent:[keys lastObject]];
NSData *dataFile = [[NSFileManager defaultManager] contentsAtPath:path];

[self uploadFile:dataFile :@"/DB" pathLocal:path];

-(void)uploadFile:(NSData *)fileData:(NSString *)pathDropbox pathLocal:(N

[2017-10-24 15:39] greg-db commented on #188
[Cross-linking for reference: https://stackoverflow.com/questions/46904825/user-not-logged-out-from-dropbox-and-google-drive-when-deleting-app ]

You should use [`DBClientsManager.unlinkAndResetClients`](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBClientsManager.html#/c:objc(cs)DBClientsManager(cm)unlinkAndResetClients) to remove the stored access token.

Note that this i

[2017-10-24 15:39] #188 closed

[2017-10-24 15:42] greg-db commented on #40
@relfarias This is an old closed issue with several subscribers. Please [open a new issue](https://github.com/dropbox/dropbox-sdk-obj-c/issues/new) including both your code and the output you're getting so we can help you without spamming the others here. Thanks!

[2017-10-24 22:15] relfarias opened #190 "Upload - not overwriting"
I am having problems with overwriting.
My files are not being created inside the folder and overwriting the archives.

[code]

[2017-10-25 15:06] greg-db commented on #190
@relfarias What error or output are you getting?

[2017-10-26 22:33] jerry-jpreng commented on #67
I am having a similar (but not identical) problem to that of the original poster. Followed instructions to use Carthage on the readme. Had to add the framework to "Embedded Binaries" **as well as** "Linked Frameworks and Libraries" to get the app to build.

All works fine both in simulator and on device when tested locally, but when trying to upload a build to ITC I get the following errors during

[2017-10-27 08:00] tanyaoh opened #191 "Click on the button to prepare for landing verification, but did not appear landing interface, no response"
[DropboxClientsManager authorizeFromController:[UIApplication sharedApplication] controller:self openURL:^(NSURL *url) {
                    [AppViewDelegate openURL:url options:nil];
                } browserAuth:NO];

The returned URL is:  @"dbapi-2://1/connect? k=40l8o30x6jpwf8z&s=&state=oauth2:1BA467D3-65B0-4A14-B8FE-DEDFF7109DB3";

Thanks！

[2017-10-27 10:29] mt-lelang opened #192 "How to detect the networks down when uploading and downloading"
I could not know how to detect when networks down when uploading and downloading.

[code]

[2017-10-27 16:10] greg-db commented on #191
I'm afraid I don't understand your post. I'll be happy to help with any issues you're having with the Dropbox API, but I'll need some more information. Please reply with:

- the version number of the SDK you're using. (If you're not using the latest version, please upgrade and try again.)
- the full text of any error or output.
- the steps to reproduce the issue, including any other relevant code

[2017-10-27 18:14] greg-db commented on #192
For upload/download calls like this, you won't necessarily get a `DBRequestError` if you lose the connection, since that uses a background session which will just automatically resume when the connection returns. (Non-upload/download calls will return a `DBRequestError` though.)

If you want to proactively check for a network connection, you can use [`Reachability`](https://developer.apple.com/lib

[2017-10-27 18:14] #192 closed

[2017-10-27 18:30] scobbe commented on #67
@jerry-jpreng: Have you tried using the build script suggested in [this SO post](https://github.com/dropbox/dropbox-sdk-obj-c/issues/67#issuecomment-339820109)?

[2017-10-27 21:26] jerry-jpreng commented on #67
That did it! Thanks for your help, @scobbe.

[2017-10-27 21:29] scobbe commented on #67
@jerry-jpreng: Amazing! Good luck 👍

[2017-10-31 02:06] jerry-jpreng opened #194 "unlinkAndResetClient appears to not delete auth tokens as docs say it should"
Starting with an authorized user, after I call unlinkAndResetClients, [DBClientsManager authorizedUser] is nil as expected. But, if I then trigger reauthorization with..
[code]
...I am **not** presented with the 'Enter Username and Password' dropbox authentication screen, but with the  'Allow access to folder' screen, which shows the user as **already logged in** to the user whose auth tokens shou

[2017-10-31 07:17] tanyaoh commented on #191
My App is using the Dropbox version of 3.3.4。Dropbox has been in normal use in our App, but there are a small number of customers in foreign countries to reflect that they can’t jump to login Dropbox page. So I can‘t provide any print information.
But I can provide some of the relevant code：

[Code_and_video 2.zip](https://github.com/dropbox/dropbox-sdk-obj-c/files/1429825/Code_and_video.2.zip)

t

[2017-10-31 15:37] greg-db commented on #194
Thanks for the post. The `unlinkAndResetClients` method clears out `authorizedClient` and deletes the stored API access tokens from the keychain, but note that this is separate from the user's web session in the browser, which is based on the browser's cookies.

When the official Dropbox for iOS app isn't installed, this Objective-C Dropbox SDK uses `SFSafariViewController` to send the user throug

[2017-10-31 15:37] #194 closed

[2017-10-31 15:47] greg-db commented on #191
Thanks! So, to make sure I understand, based on the supplied video, it looks like the issue is that the Dropbox app authorization flow is not shown when the "Dropbox Accessibility" row is being selected. Is that correct?

Are you able to reproduce this yourself, or is this video just from a user?

If you can reproduce this yourself, please use the debugger to determine where this is breaking down.

[2017-11-01 02:13] tanyaoh commented on #191
Yes, the user reflects the situation is the case, select "Dropbox Accessibility" line, there is no response, that video is provided by the customer, I can not reproduce, I use them are normal and select "Dropbox Accessibility" After the line there will be Dropbox application authorization process interface appears, so I do not know how to provide error log. Do you have any advice? thank you!

[2017-11-01 17:30] greg-db commented on #191
Does the use happen to have a computer with Xcode installed by any chance? If so, they can use the Devices manager to see/download the console log when they connect the iPhone.

Otherwise, without the ability to reproduce the issue or any error message to go on, I'm afraid I won't be able to offer much help. (E.g., from the information available so far, it's not even clear if `authorizeFromControl

[2017-11-03 06:55] Ranjan911 opened #195 "ObjectiveDropboxOfficial cannot authorize app when dropbox app is installed in same device"
I integrated ObjectiveDropboxOfficial SDK of dropbox into my app. I followed the dropbox tutorial provided and was able to authorize the app and do further dropbox operations like upload and download.
It worked well.

But if the same app is installed in a device which already has dropbox app installed, then the app is unable to get authorize from dropbox.
When my app call following code:
[DBClient

[2017-11-03 14:31] greg-db commented on #195
@Ranjan911 Can you double check that you configured your plist as shown here?

https://github.com/dropbox/dropbox-sdk-obj-c#application-plist-file

[2017-11-03 15:03] Ranjan911 commented on #195
@greg-db Yes, its all fine, because, dropbox works well when there is no dropbox app installed in my device.
It fails to authorize when there is dropbox app installed in device.

[2017-11-03 15:35] greg-db commented on #195
For reference then, can you try configuring and running [the example app](https://github.com/dropbox/dropbox-sdk-obj-c/tree/master/Examples/DBRoulette), to see if the same issue appears there? That should help narrow down where the issue is. Thanks in advance!

[2017-11-03 17:24] scobbe commented on #195
@Ranjan911: In addition to Greg's request, can you try running this command:
[code]

Sometimes if you have another build with the same app key, the redirect gets confused.

[2017-11-04 09:50] ntnbkta opened #196 "DBFILESUserAuthRoutes , downloadURL:overwrite:destination API not working"
Hi, I am trying to migrate API v1 to APIv2 and have completed successful integration of Dropbox new  iOS SDK using carthage.

I get a valid result for `getMetadata` API, but doesn't work for `downloadURL:overwrite:destination`.

I tried to debug and found out that  when I step into the instruction in `DBFILESUserAuthRoutes`, the `downloadURL:overwrite:destination` has path = nil, overwrite = overw

[2017-11-04 18:19] scobbe commented on #196
Hi there, please share some sample code with us. Thanks!

[2017-11-05 06:17] ntnbkta commented on #196
We can close this issue. I sorted out that we were doing some timing out checks in out legacy code and this issue was happening because of that. Sorry for the inconvenience. Also thanks a lot for the timely response.

[2017-11-05 06:17] #196 closed

[2017-11-08 12:29] amacymind opened #197 "DBClientsManager authorizeFromController not working on device"
Hello,
I am integrate Dropbox ios sdk in my app. For authenticate i am using method
`[DBClientsManager authorizeFromController:[UIApplication sharedApplication]
                                   controller:self
                                      openURL:^(NSURL *url) {
                                          NSLog(@"urlll:%@",url);
                                          [[UIApplication sh

[2017-11-08 12:35] everythingIsBuggy opened #198 "path_display sometimes with lowercase characters"
For some reason, sometimes a directory has only lowercase characters in the property path_display, although the real directory has uppercase characters.

Example folder-structure:

/directoryName
--/Sub#Dir1/
----/SubDir2/

Returning DBFILESMetadata Object:

{
    id = "id:a-bcdefgh-fsjfrejgierojgoe";
    name = SubDir2;
    "path_display" = "/directoryName/Sub#Dir1/subdir2";      // wrong
    "pa

[2017-11-08 16:29] greg-db commented on #198
Thanks for writing this up! Unfortunately, this behavior is sometimes expected. Even in `path_display`, the original casing isn't always available. There's a note about this in [the API v2 documentation](https://www.dropbox.com/developers/documentation/http/documentation), under "Case insensitivity":

We understand this is non-ideal of course, and I'll forward this on to the team as feedback, but

[2017-11-08 16:29] #198 closed

[2017-11-08 16:32] greg-db commented on #197
Can you elaborate on what you're seeing? For example, what does or doesn't happen, and what error/output are you getting? Thanks in advance!

[2017-11-09 04:41] amacymind commented on #197
Nothing happen on ios device. I tap on 'Link to Dropbox Account' then nothing happen on iPhone device. It works for simulator & redirect to dropbox login page view.

[2017-11-09 09:53] amacymind commented on #197
Resolved. After add library in Embedded Binaries.

[2017-11-09 09:53] #197 closed

[2017-11-09 13:57] IgorRatynski opened #199 "The old version of the dropbox platform is being retired on september 28 2017 warning"
I have "the old version of the dropbox platform is being retired on september 28 2017" warning, but I use a 3.3.5 version of framework, installed via Carthage, in .plist "dbapi-2". How it to solve?

![screen shot 2017-11-09 at 16 51 06](https://user-images.githubusercontent.com/11771792/32608856-ba8602cc-c56e-11e7-8d8b-9d50a2e82e56.png)

[2017-11-09 15:17] greg-db commented on #199
To dismiss this message, sign in to the Dropbox account that owns that API app and go to the App Console:

https://www.dropbox.com/developers/apps

There will be a banner at the top of the page there where you can "acknowledge" the deprecation to dismiss this message.

[2017-11-09 15:17] #199 closed

[2017-11-16 09:44] igiso opened #200 "key-chain authorization issue not resolved with current solution"
I noticed that - in our main app, the keychain bug - persists even though we enabled the keychain sharing in capabilities.

The behavior we see on the simulator is the app running the log in dialog every-time it lunches (asking for email and password and then allow)

and on the actual device, every-time we launch the app the dropbox app is lunched asking to allow authorization

for some reason it

[2017-11-16 20:19] greg-db commented on #200
Are you referring to the keychain bug [noted here](https://github.com/dropbox/dropbox-sdk-obj-c#xcode-8-and-ios-10-bugs)? That's supposed to only affect simulators, not devices. You mentioned you're having the issue with devices too, so that may not be related.

If you've set up the authorization flow [as documented](https://github.com/dropbox/dropbox-sdk-obj-c#handling-the-authorization-flow), th

[2017-11-17 08:24] igiso commented on #200
yes that is the Issue,  - I also agree is not exactly the same.
 in the dbroulette example the "fix" works.

but in our own project it doesn't

<img width="877" alt="screen shot 2017-11-17 at 09 47 07" src="https://user-images.githubusercontent.com/2058400/32936297-67411264-cb7c-11e7-9a12-362b98c0bacf.png">

When do we access the key-chain? is it up to us to handle this or the API is supposed to d

[2017-11-17 16:24] greg-db commented on #200
You should check `authorizedClient` to see if you already have a client available based on an access token stored in the keychain, i.e., before calling `authorizeFromController`. Are you doing so? (I don't see it in the portion of the code you shared.)

You can see how [the example app uses that to update the UI here](https://github.com/dropbox/dropbox-sdk-obj-c/blob/003d03898d77052f5958938363be0b

[2017-11-20 07:09] linhongyi opened #201 "unlinkAndResetClient problem on macOS."
Starting with an authorized user, after I call unlinkAndResetClient.  I try to login again with

      [DBClientsManager authorizeFromControllerDesktop:[NSWorkspace sharedWorkspace]
                                              controller:self
                                                 openURL:^(NSURL * url) {
                                                     [[NSWorkspace sharedWorkspace

[2017-11-20 17:24] greg-db commented on #201
Thanks for the report. We'll look into it.

[2017-11-24 09:58] igiso commented on #200
Yes you are correct, I missed that part - checking before authorizing solved the issue.

Thank you 👍  🥇 🍺

[2017-11-24 09:58] #200 closed

[2017-11-29 16:07] MarcAnthonyPhotography opened #202 "Sharable Link"
Is there a way to add a sharable link along with the random photo in DBRoulette

[2017-11-29 16:54] greg-db commented on #202
The `DBRoulette` example as written doesn't do it, but you can use [`createSharedLinkWithSettings`](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBSHARINGUserAuthRoutes.html#/c:objc(cs)DBSHARINGUserAuthRoutes(im)createSharedLinkWithSettings:) to create a new shared link for any file or folder, or [`listSharedLinks`](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest

[2017-11-29 16:54] #202 closed

[2017-11-29 17:04] MarcAnthonyPhotography commented on #202
I've tried to do that but I am stuck. Do you do custom work? That's all I am looking for. When you press random photo you just list an NSLog with the sharable link to that photo.

[2017-11-29 17:27] greg-db commented on #202
We don't offer custom code-writing services, but I'll be happy to help with whatever issues you're having with the API. Please share whatever isn't working for you and I'll take a look.

[2017-11-29 17:40] MarcAnthonyPhotography commented on #202
That would really be amazing if you could. It's probably as simply as one line. I attached my version of DBRoulette. In photoviewcontroller.m I added a UILabel to display the sharable link and linked it in the main storyboard. You will see reference to this in line 107-108. All it does is display the filename when you hit random photo. I need it to display the full path to the image (i.e. https://

[2017-11-29 18:12] greg-db commented on #202
Where are you attempting to call `createSharedLinkWithSettings` or `listSharedLinks`? I don't see either in that file. You'll need to use one or both of those, depending on the situation. Those are both RPC style calls, so you'd call them like shown in the documentation here:

https://github.com/dropbox/dropbox-sdk-obj-c#rpc-style-request

Give that a try and let me know if it's not working for yo

[2017-11-29 18:33] MarcAnthonyPhotography commented on #202
That’s the problem I’m having Greg. I don’t know how to add that.

Cordially,
Marc A. Matteo

[2017-11-29 20:46] greg-db commented on #202
Here's a basic example of calling these two methods:

[code]

[2017-11-29 21:26] MarcAnthonyPhotography commented on #202
Thank you so much for that. It is exactly what I needed. I greatly appreciate you helping me.

[2017-12-06 07:57] FreemanYan opened #203 "Is there an api for iOS that can connect to Dropbox without setting Dropbox URL scheme in info.plist?"
Is there an api for iOS that can connect to Dropbox without setting Dropbox URL scheme in info.plist?
Because URL scheme in info.plist is read-only, I want to set something dynamically for each user to connect to his own Dropbox.

[2017-12-06 15:10] greg-db commented on #203
I'm not sure I understand your request. The URL schemes you [should set in the plist](https://github.com/dropbox/dropbox-sdk-obj-c#application-plist-file) for the Dropbox SDK are not user-specific. They allow any user of your app to be sent through the app authorization flow, and do not need to be set dynamically. Can you elaborate on what you're trying to do and what isn't working? Thanks in adva

[2017-12-09 19:35] kalsky opened #204 "listFolderContinue - not returning enough information"
I tried the api call using this web page:
https://dropbox.github.io/dropbox-api-v2-explorer/#files_list_folder/continue
and I can see that it returns some good information about the entries that were changed:
[code]

But when using the listFolderContinue api method from the code, the entries are from type DBFILESMetadata, which only has the following properties: name,pathLower,pathDisplay,parentSh

[2017-12-11 02:31] FreemanYan commented on #203
But there is a limitation of max  500 user connections per URL scheme, right? is this number of concurrent connection? or cumulative connection? Thanks.

[2017-12-11 15:22] greg-db commented on #204
Every object in the [`DBFILESListFolderResult.entries`](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBFILESListFolderResult.html#/c:objc(cs)DBFILESListFolderResult(py)entries) returned by [`listFolderContinue`](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBFILESUserAuthRoutes.html#/c:objc(cs)DBFILESUserAuthRoutes(im)listFolder:) and [`listFolderConti

[2017-12-11 15:22] #204 closed

[2017-12-11 15:37] greg-db commented on #203
I'm not sure I know what you're referring to. Can you link to the relevant documentation? (You may be thinking of [the limit on `canOpenURL`](https://developer.apple.com/documentation/uikit/uiapplication/1622952-canopenurl)?)

[2017-12-12 02:05] FreemanYan commented on #203
In App Console, pls see the attached screen shot. is this a limitation per URL scheme?
![dropbox](https://user-images.githubusercontent.com/17807880/33863676-e9c92f2c-df23-11e7-8621-c24a1f7ba314.JPG)

[2017-12-12 14:48] carlos-mateo opened #205 "Email invitation not working because of captcha."
After sending email invitation to people, when they follow the link and try to sign up, after they have introduced their data, password, and accepted Dropbox Terms in the form, a red text appears saying:
"Please enter a CAPTCHA response."
The issue is that there is no CAPTCHA and no extensions installed to block anything.
We have tried in different browsers (Firefox, Chrome, Safari), computers (Ma

[2017-12-12 15:51] greg-db commented on #203
I see, thanks for clarifying. That 500 user limit is the maximum number of users that can connect to your Dropbox API app while it is in development mode. (More info [here](https://www.dropbox.com/developers/reference/developer-guide#production-approval).) This isn't really related to the URL scheme setup for the SDK. You should set up the URL schemes as documented, and it will allow arbitrary use

[2017-12-12 15:51] #203 closed

[2017-12-12 16:07] greg-db commented on #205
It sounds like this is more of an issue with the Dropbox web site itself, and not the Objective-C SDK, so I'm afraid this is the wrong place for this issue.

Please open a support ticket for the web site here instead:

https://www.dropbox.com/support/email/other/submit

Thanks!

[2017-12-12 16:07] #205 closed

[2017-12-14 12:30] FreemanYan opened #206 "An error prompt up when download any file"
An error prompt up when download any file, each time. but finally the data will be downloaded completely. another question: is it possible to stop the download process?

[code]

![downloaderror](https://user-images.githubusercontent.com/17807880/33992281-f039b8aa-e10c-11e7-87e6-08b663ee031b.JPG)

[2017-12-14 15:02] greg-db commented on #206
This error is actually coming from a `listFolder` call (not the `downloadData` call in the code you shared), where you have the error being shown in an alert box. Please check where in your code that you call `listFolder`. The error itself is indicating that the path you're calling for is not a folder, and so can not be listed by `listFolder`.

You can cancel an individual download call by calling

[2017-12-14 15:02] #206 closed

[2017-12-28 10:00] cedarpoolst opened #207 "CAPTCHA Error"
Hi, I keep getting this CAPTCHA error asking me to do a captcha, but the prompt is never available.  Any suggestions?

![screen shot 2017-12-28 at 1 50 57 am](https://user-images.githubusercontent.com/24502187/34407364-ed0b1f3c-eb72-11e7-9bef-2f977d47ca90.png)

[2017-12-28 16:16] greg-db commented on #207
@cedarpoolst Can you let me know what OS and browser version(s) you're seeing this with? Thanks in advance!

[2018-01-01 01:33] symbiologist commented on #207
I am having this same problem as well.

Tested on both Mac (latest High Sierra) and Windows 10 (on a new computer).
On Mac I could not see any captcha field using the following browsers: Chrome, Opera, Firefox, or Safari. I have disabled adblock on all of these
On Windows I tested it on a new PC with Microsoft Edge and also a fresh install of Google Chrome.
Any help would be appreciated! Trying to

[2018-01-02 16:11] greg-db commented on #207
Thanks! Unfortunately, I'm unable to reproduce this issue. This appears to be an issue with the Dropbox web site itself though, and not the Objective-C SDK itself anyway. That being the case, if you're still seeing this, please instead open this as a Dropbox support directly either [here](https://www.dropbox.com/support/email/other/submit), if this is occurring whether or not you're using the API/

[2018-01-02 16:11] #207 closed

[2018-01-17 09:42] ViswanathB84 opened #208 "Sharable link to uploaded files in dropbox V2 version"
Thank you very much for developing and supporting great library. I used below lines code for sharing url  in dropbox v1 version.

[code]
I did not see any related code for sharing in Dropbox v2 version. Please let me know how can I do this.

[2018-01-17 17:39] greg-db commented on #208
In the Dropbox API v2 Objective-C SDK, the replacement for `loadedSharableLink` is [`createSharedLinkWithSettings`](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBSHARINGUserAuthRoutes.html#/c:objc(cs)DBSHARINGUserAuthRoutes(im)createSharedLinkWithSettings:settings:) to create a new shared link, or [`listSharedLinks`](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/late

[2018-01-17 17:39] #208 closed

[2018-01-23 06:02] semionenko opened #209 "iOS 11.2.2 cant download files from Dropbox in last (3.4.0) ObjectiveDropboxOfficial SDK"
I try download simple zip file from Dropbox to devices.
But see the error:
DropboxClientError[{
    NSError = "Error Domain=NSCocoaErrorDomain Code=513 \"\U201cCFNetworkDownload_aKHDTE.tmp\U201d couldn\U2019t be moved because you don\U2019t have permission to access \U201ctmp\U201d.\" UserInfo={NSSourceFilePathErrorKey=/var/mobile/Library/Caches/com.apple.nsurlsessiond/Downloads/<app>/CFNetworkDow

[2018-01-23 17:10] greg-db commented on #209
Thanks for the report. Can you let me know:
- are you seeing this on device or on simulator?
- are you seeing this on multiple devices/simulators, or only one in particular?
- are you seeing this in an app extension context?
- are you using `forceForegroundSession`?

[2018-01-24 01:56] semionenko commented on #209
- on device, i have only one device with iOS 11.2.2.
- on simulators work fine, and not work on the device.
- not quite sure that I understand correctly what you are talking about
- no. just execute code like in examples.

more code:
DBUserClient *userClient = [DBClientsManager authorizedClient];
NSString *outputFileName = [NSString stringWithFormat:@"%@.backup", [NSUUID UUID].UUIDString];

NSURL

[2018-01-24 19:36] greg-db commented on #209
Thanks! Given that, I'm not aware of any reason this should be failing like this with the latest release of the SDK. (Can you double check that you do have the latest version, currently v3.4.0, installed?)

I just tried this code on a device running iOS 11.2.2 and it ran without issue.

[2018-01-25 01:25] semionenko commented on #209
I've used in podfile the line: pod 'ObjectiveDropboxOfficial', '~>  3.4.0'
I've removed workspace and pods. I install pods again but still see the problem on my device.

[2018-01-25 17:07] greg-db commented on #209
Did the `pod install` complete successfully? Please check the `Podfile.lock` file to check what version actually got installed. I just want to double check since I know earlier versions of the SDK had issues like this that were fixed in more recent versions. Thanks!

[2018-01-26 01:27] semionenko commented on #209
pod install operation completed successful.
Podfile.lock:

PODS:
  - ObjectiveDropboxOfficial (3.4.0)

DEPENDENCIES:
  - ObjectiveDropboxOfficial (~> 3.4.0)

SPEC CHECKSUMS:
  ObjectiveDropboxOfficial: 250ce53218773ba687201614ad6de03b8cb14de6

PODFILE CHECKSUM: 76ff0c531609d1a8576aa0068f91e2ceb2b8bd91

COCOAPODS: 1.3.1

[2018-01-26 15:44] greg-db commented on #209
Thanks! Unfortunately, I'm not aware of any reason for this, and I can't reproduce the issue here, so I can't offer much help. Is there another device you can try this on? That would help determine if the issue is device-specific. If not, can you share a sample project that reproduces the issue?

[2018-01-27 11:56] guidedways opened #210 "Completion handler not called if operation fails"
I'm referring to the file `DBDelegate.m`, method `addRpcResponseHandler`

If `completionData` is nil, the passed `handler` is never invoked, and so if the calling method is depending on this (i.e. waiting on a semaphore) it blocks forever.

This is a serious bug. In the same file you can see the handler is never invoked on other situations either. When completionData is nil, an error should be thr

[2018-01-27 12:03] guidedways commented on #210
As an example, since the completion handler was never called, this hung forever:

[code]

[2018-01-29 08:09] semionenko commented on #209
Unfortunately I have only 2 devices for test now. iOS 10.3.3: IPhone 5 (work fine) and iOS 11.2.2: IPhone 6+ (not work).

[2018-01-29 08:26] semionenko commented on #209
I will create a new project for reproduce.

[2018-01-29 15:41] greg-db commented on #210
Thanks for the report! We'll look into it.

[2018-02-28 20:37] scobbe commented on #210
@guidedways: Sorry for the delay here. The [latest version of the SDK](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.6.0) should fix this.

Basically, we were accidentally using a 480 sec timeout (which we use for longpoll) instead of the default 60 sec. The response block should now be executed after 60 sec in the event of a connection outage.

[2018-02-28 21:17] #210 closed

[2018-03-18 23:59] guidedways commented on #210
Thanks scobbe, however in the event where there's an active Wifi connection and no internet, the network call usually fails immediately without a 60 second timeout. My change to the file seems to have worked and I get an immediate failure. Are we saying it'll always wait for 60 seconds before giving up? That may not be ideal when we've already received `responseError`

[2018-03-19 18:01] scobbe commented on #210
@guidedways: In general, when the NSURLSession library can unambiguously determine that there is no internet available (e.g. airplane mode), I think its behavior is to fail immediately. However, in the case where the network connection is so poor that no data is being sent or received, I think its behavior is to timeout (in this case, after 60 seconds). Does that clarify?

[2018-03-21 17:19] LDima13 commented on #153
The problem remained and it is not solved! still the same mistake!

[2018-03-21 18:00] greg-db commented on #153
@LDima13 To help us look into the issue you're seeing, can you share the code for building the `fileInInboxURL` variable in your sample? Thanks in advance!

[2018-03-21 18:03] LDima13 commented on #153
fileInInboxURL - typy NSURL,
this is the correct URL, and once there the file is downloaded, then I delete it, and the second time it does not work

file:///Users/Dima/Library/Developer/CoreSimulator/Devices/766995EC-27DE-4BE5-9EBD-12342E2762A4/data/Containers/Data/Application/9CE49A84-7393-41EB-AC88-87E6E976BE6A/Library/Caches/TEST.TXT.BalansInfo

[2018-03-21 18:58] greg-db commented on #153
@LDima13 Can you share the code to make that URL? Also, what are you deleting exactly (i.e., the file, or a parent folder), and how?

[2018-03-21 19:02] LDima13 commented on #153
the file is deleted. But this is not important, since any other file that has never been in this folder is not loaded.
After the program is restarted, ANY file is loaded once again, and the second time again this error.
I can only send a piece of code, since it is part of a large project

[2018-03-21 19:19] greg-db commented on #153
@LDima13 We'll need to be able to reproduce the issue in order to help with it. Also, there are a number of other people on this thread, so in order to properly look into this, and avoid spamming them, please [open a new issue](https://github.com/dropbox/dropbox-sdk-obj-c/issues/new) and include the following information:

- the version of the SDK you're using (you mentioned 3.7.0)
- the error/out

[2018-03-21 19:20] LDima13 commented on #153
OK

[2018-03-22 02:29] Kangqj commented on #209
I fixed this bug.

I find "Examples" and "pod install" code is different, and Examples can download file correctly，So I change "pod install" code same to "Examples" code, it work.

here is change code on "DBDelegate  line:185":

`
- (void)URLSession:(NSURLSession *)session
                 downloadTask:(NSURLSessionDownloadTask *)downloadTask
didFinishDownloadingToURL:(NSURL *)location {
    DBSes

[2018-03-31 22:45] JBishopJr opened #213 "version 3.8.0 doesn't build properly for macOS via Carthage update"
Carthage update for macOS appears to run to completion (macOS 10.13.4, Xcode 9.3), but the resulting framework is missing most of its header files (just 28 files in Headers directory for macOS, 1016 files for iOS).  Updating for iOS seems to be fine.

The fatal error that prevents use of the framework is the header DBSDKImportsGenerated.h (referenced in DBSDKImportsShared.h) is missing.

[2018-04-02 16:07] greg-db commented on #213
Thanks for the report! We'll look into it.

[2018-04-02 23:53] greg-db commented on #213
This should be fixed in v3.8.1. Apologies for the bother!

[2018-04-02 23:53] #213 closed

[2018-04-04 14:57] ViswanathB84 opened #214 "Download Sharable link file in dropbox v2 version in iOS sdk"
Thank you very much for developing and supporting great library.
I am trying download a file by using sharable link url [](https://www.dropbox.com/s/yoor9vle4cnccu8/KNSXE5TFOIQDEMBRGY5SAMRQGE3A%3D%3D%3D%3D?dl=0). Would you please help on this.
Thank you very much.

[2018-04-04 15:50] greg-db commented on #214
To download file data from a shared link using this SDK, you should use one of the `getSharedLinkFile` methods, documented here:

https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBSHARINGUserAuthRoutes.html#/c:objc(cs)DBSHARINGUserAuthRoutes(im)getSharedLinkFileUrl:overwrite:destination:

[2018-04-04 15:50] #214 closed

[2018-04-08 12:45] yoasha commented on #186
Running the static analyzer with latest version of Xcode (9.3) and latest version of Dropbox SDK via cocoapods (3.8.1 release) still generates many warnings that can potentially lead to bugs... (the code is checking for example for a positive value in NSNumber rather than in [NSNumber booleanValue]).

Can you produce these warnings on your side?

[2018-04-08 20:27] scobbe commented on #186
@yoasha: I'm not able to reproduce this on my end. Can you give a specific example of the warnings you're seeing?

I see a few places where we're missing `!= nil` which isn't ideal, but I don't see any boolean correctness issues.

[2018-04-09 05:30] yoasha commented on #186
File:
/Pods/ObjectiveDropboxOfficial/Source/ObjectiveDropboxOfficial/Shared/Generated/ApiObjects/FileRequests/DBFileRequestsObjects.m:2231:7:

Method:
(BOOL)isEqualToUpdateFileRequestArgs:

Warning:
Converting a pointer value of type 'NSNumber * _Nullable' to a primitive boolean value; instead, either compare the pointer to nil or call -boolValue

![image](https://user-images.githubusercontent.com

[2018-04-09 05:33] yoasha commented on #186
Sorry, I closed this issue by mistake.... I reopened it and added updated screenshot and warning details as requested.

[2018-04-09 18:34] greg-db commented on #186
Thanks for the additional information!

[2018-04-10 06:57] yoasha commented on #186
Can you reproduce it in your environment? Or is it a cocoa-pods config issue on my end that prevents me getting the latest and fixed code?

[2018-04-10 15:14] greg-db commented on #186
I just tried it, and I'm not able to reproduce it either. Do you have any non-default settings that may affect this?

It [appears](https://github.com/dropbox/dropbox-sdk-obj-c/blob/51e246dce7ea831358f65a3a810890371dfe4e1e/Source/ObjectiveDropboxOfficial/Shared/Generated/ApiObjects/FileRequests/DBFileRequestsObjects.m#L2231) you have the latest version of the code. If `pod update` failed, you shoul

[2018-04-11 06:13] yoasha commented on #186
I just looked into the source code directly on github and also confirmed that I have the latest code.

As far as I know, I have the default settings. Did you try to compile your project or did you explicitly select Xcode > Product > Analyze? Note that with standard compile the warnings are not appearing for me, but only when selecting the "Analyze" command.

Also note the following:
- In the metho

[2018-04-11 13:38] greg-db commented on #186
Thanks! Yes, I tried Product > Analyze specifically.

Anyway, this is open with the team. We'll follow up if/when we have an update for this.

[2018-04-11 17:03] scobbe commented on #186
@yoasha: The `if (self.open)` check in `isEqualToUpdateFileRequestArgs` is for nullability, not for a boolean value.

But of course `if (self.open != nil)` would be better. I'll try and fix it when I get the chance.

[2018-05-01 21:09] tomandersen opened #216 "DBFILESRouteobjects.m has major threading bug"
Easily fixed.

There are 50 objects made with no thought about threading. They can get called in threads which will crash the application. (Run with Zombies for the full flavour).

50 instances of code like
  if (!DBFILESAlphaGetMetadata) {
    DBFILESAlphaGetMetadata = [[DBRoute alloc] init:@"alpha/get_metadata"

Needs to be changed to 'dispatch_once'

As a workaround, one could upon launch of th

[2018-05-01 21:14] tomandersen commented on #216
The bug happens when say [DBFILESRouteObjects DBFILESDCopyBatch] gets called on two threads almost at the same time. The if statement evaluates false TWICE and then the first constructed instance is not assigned to anything and thus ARC removes it at some random point in the future.

[2018-05-01 21:25] tomandersen commented on #216
2018-05-01 17:16:13.082682-0400 MYAPP[85765:18801227] *** -[DBRoute retain]: message sent to deallocated instance 0x6070002eaa10

From this code
[code]

The orriginal call into the API was made on the main thread ( client.filesRoutes batchUploadFiles )

[2018-05-02 13:40] greg-db commented on #216
Thanks for the report!

[2018-06-08 06:36] ritu-iimjobs opened #219 "Showing blank white screen when trying to authorize"
Hi,

I am using
![dropbox](https://user-images.githubusercontent.com/17564147/41142720-4d0ce854-6b14-11e8-91a6-8b224e75b4da.png)
 ObjectiveDropboxOfficial (3.3.5). When I try to authorize for the first time everything works fine, but once I cancel the authorization and try to authorize again, Empty blank screen appears. Attaching screenshots here:
![screen shot 2018-06-08 at 12 03 27 pm](https://u

[2018-06-08 13:45] greg-db commented on #219
Thanks for the report. I can't seem to reproduce this issue though.

You mentioned you're using version 3.3.5 of the SDK, which is a bit old now. Please update to the latest version (currently v3.9.1) and let me know if that helps or not.

Also, you mentioned this is occurring on iOS 11.2. Can you also let me know if you've tried other iOS versions and if it is or isn't occurring on other versions

[2018-06-10 13:41] guidedways opened #220 "Batch delete similar to batchUploadFiles?"
Is there (or could there be) a convenient `batchDeleteFiles` method analogous to the `batchUploadFiles` method? I'm aware of `deleteBatch`, but would instead appreciate if there was a way to conveniently call `batchDeleteFiles` instead with a response block.

[2018-06-11 02:41] guidedways opened #221 "queryJobStatus does not seem to be calling the response block on the passed operation queue"
`- (void)queryJobStatus:(DBBatchUploadData *)uploadData asyncJobId:(NSString *)asyncJobId retryCount:(int)retryCount` in `DBCustomRoutes.m` does not seem to be using `uploadData.queue` for the response block for `uploadSessionFinishBatchCheck` and I feel the UI stutters at times when I'm batch uploading (possibly because it's calling the block on the main queue).

Am I wrong in assuming that this

[2018-06-11 02:42] guidedways commented on #221
Similarly the `setResponseBlock` under `batchFinishUponCompletion` in the same file does not seem to be using the passed in `NSOperationQueue`. I supply the main `batchUpload` method with a  background queue and would like all responses to avoid using the main thread.

[2018-06-11 02:44] guidedways commented on #221
I can verify that fixing the blocks with a ` queue:uploadData.queue` seems to have resolved the stuttering for me. Can someone verify this was unintentional?

[2018-06-11 15:35] greg-db commented on #220
There isn't currently anything like this, and I'm not aware of any plans to build something like that unfortunately, but I'll pass this along as a feature request.

[2018-06-11 17:54] greg-db commented on #221
Thanks for the report! We'll look into it.

[2018-06-11 18:56] guidedways opened #222 "[Feature Request] Ability to delete with a search string"
I know this may be a niche request but it would be great to have a new end point / public method to be able to delete multiple files in Dropbox resulting from a search string, such as "delete all files that match *.myext"

3rd Party apps that connect to Dropbox usually have proprietary extensions and filenames and need to quickly and efficiently delete files without having to first issue a search

[2018-06-11 18:59] guidedways commented on #178
This may be the reason why but I can no longer remember sorry. I do recall there were other issues fixed back then with how background download sessions work as there were some other similar issues. I think it's safe to close this issue.

[2018-06-11 18:59] #178 closed

[2018-06-11 19:02] guidedways commented on #220
Thanks. I managed to write my own that works well, however it's always great to have shortcuts available directly from Dropbox :-) The `batchUploadFiles` for instance saves us from a lot of boilerplate. Any method that returns an asynchronous job ID and then requires the developer to poll should ideally have a wrapper to avoid developers from doing it incorrectly.

[2018-06-11 19:04] greg-db commented on #222
Thanks! I'll pass this along.

[2018-06-11 19:12] guidedways opened #223 "[Documentation] Clarity around errors"
I have to admit, I'm always nervous when trying to handle errors ever since the Dropbox API has changed in v2. For me, it's no longer clear (either in documentation, or examples) how to handle the errors properly.

For instance:

[code]

What happens if `requestError != nil`, will `uploadError` be guaranteed to be `nil`? And vice versa? Should I expect `fileData` to be *always* `nil` in case eithe

[2018-06-11 20:10] greg-db commented on #223
Thanks for writing up this detailed feedback! I'm sending this along to the team to see if we can get some better and clearer documentation/guarantees/examples around this.

[2018-06-11 20:25] guidedways commented on #223
Thanks Greg. I should add, ideally it would have been great if there was simply one error returned, irrespective of whether it's was an API error or a Network failure. Having two separate errors and not knowing which one takes precedence over the other is confusing, at least without further clarity / examples etc. I realize batch upload / delete is still one of those edge cases where one of the fi

[2018-06-27 07:47] alokfuterox commented on #140
How to get multiple file download Progress ?

Regards
Alok

[2018-06-27 15:20] greg-db commented on #140
@alokfuterox You can set progress listeners for any/all of the download requests you initiate as documented here, using `setProgressBlock`:

https://github.com/dropbox/dropbox-sdk-obj-c#download-style-request

This is unrelated to this old thread though, so if something's not working for you, please open a new issue with the details so we can help without spamming the other people here:

https://g

[2018-07-15 10:53] guidedways opened #226 "[Crash] batchUploadFiles"
I'm seeing the following crashes in Crashlytics recently after we've started using the `batchUploadFiles` method.

[code]

[2018-07-15 13:13] guidedways commented on #226
Other similar crashes. I should add, the rest of the app hasn't changed, other than switching to using the batch upload methods. I've checked for leaks / zombies etc and can't seem to find an issue on my test machines. This one is from the mac app. Notice how  `DBFILESRouteObjects.DBFILESUploadSessionStart` seems to have become a dangling pointer in this trace as well:

[code]

[2018-07-15 13:17] guidedways commented on #226
I think I have found the issue. Looking closely at the code, I see this:

[code]

in DBFILESUploadSessionStart

Since this is a static variable, shouldn't this be protected by a synchronised call? I suspect there's a race condition where `uploadSessionStartStream` is being called on two simultaneous tasks (given we're using a `NSOperationQueue` with a limit of 5 simultaneous tasks in `batchUploadF

[2018-07-15 18:11] greg-db commented on #226
Thanks for writing this up! We'll look into it.

[2018-08-11 03:08] guidedways commented on #226
Any update on having this fix included in the next release? I'm hesitent updating my repo as I know the above is broken and will lead to several crashes.

[2018-08-12 14:50] greg-db commented on #226
I don't have an update on this. I'll follow up here once I do.

[2018-09-11 02:14] fletcher commented on #152
This seems to still exist as of 3.9.1.

I noticed occasional difficulty with sync on an iOS app.  Certain files would seem to fail to download under various circumstances.  I couldn't find a clear reason.

So I built a test app on macOS (my dropbox handling code is cross-platform.)  I discovered that I could reliably upload files, but occasionally had trouble downloading a file.

I could reliably

[2018-09-11 16:38] greg-db commented on #152
@fletcher Thanks for the information! I don't believe we were ever able to reproduce this here. Would you be able to provide the test project for reproducing this? Thanks in advance!

[2018-09-11 17:09] fletcher commented on #152
The bridging code between the test app and the Dropbox SDK is proprietary so I can’t share that at this time. I can see if I can strip it down to just the bare bones SDK calls rather than the full sync library and post that. (Assuming that is enough to still trigger the problem.)

Sent from my iPhone

[2018-09-12 20:59] fletcher commented on #152
This seems to replicate it.  Create a new Xcode macOS Cocoa App project with the following `AppDelegate.m`.  Replace the dropbox app key with your key.

Run the program in Xcode and watch the output window. The program will upload two fake files to your Dropbox folder.  It then checks for updates repeatedly.  It should successfully upload the two files, and then successfully download them (though

[2018-09-13 16:02] greg-db commented on #152
@fletcher Thanks for putting this together. I just tried this, but the issue initially didn't reproduce for me (even without the fix):

I notice you're not doing any error handling for the `downloadData` call though. Can you try again and print out `routeError` and `networkError` just in case something is failing?

[2018-09-13 17:54] fletcher commented on #152
This is a stripped down version of the original code that does not include all of the original debugging I tried to use to narrow down the issue.  You can, of course, add whatever debug logging you like.  But when the problem occurs, the response block is not called, so there is nowhere from which to print out `routeError` and `networkError`.

More interestingly, I just rebooted my machine (after

[2018-09-13 18:30] greg-db commented on #152
@fletcher Thanks for the detailed information! I was just checking in case it only appeared that the response block wasn't getting called because you were only printing something in the successful case. It's good to know you already checked that.

Anyway, I wouldn't expect scenario 2; any error should get bubbled back to the response block. Scenario 1 is expected if the network connection is lost

[2018-09-13 18:42] fletcher commented on #152
Yeah -- I was intrigued that the test failed so consistently and then worked after rebooting Mac and my network.

Also, in case it isn't obvious. When the test failed, I would run it again and the first two uploads/downloads would work.  It was only the 3rd download that failed to work.  Every time.

So perhaps something about uploading "cleared something" (e.g. a buffer or a boolean) that then al

[2018-09-25 12:55] guidedways commented on #226
@greg-db I'm a little surprised this issue is still open. It's easy to reproduce, and as I mentioned, the bug in the code is quite clear. A fix should roll out quickly.

[2018-09-25 12:57] guidedways opened #232 "Batch download randomly failing"
This was an issue reported perhaps a year ago and was fixed. I've recently moved to the batch upload / download APIs and am now seeing the following. The reliability of sync nosedived in the app after the reset switch, and I can now see the logs riddled with these:

[code]

[2018-09-25 14:53] guidedways commented on #232
In file `DBDelegate.m` changing this:

`tmpOutputPath = [tmpDirPath stringByAppendingPathComponent:[NSUUID UUID].UUIDString];`

to the following fixed these errors for me:

`tmpOutputPath = [[tmpDirPath stringByAppendingPathComponent:[NSUUID UUID].UUIDString] stringByAppendingPathExtension:@"tmp"];`

It's as if a file without an extension is failing for some reason.

[2018-09-25 17:11] greg-db commented on #226
@guidedways Thanks for the feedback! This is open with engineering, but I don't have an update on it yet.

[2018-09-25 17:11] greg-db commented on #232
Can you share the code to reproduce this issue? Thanks in advance!

[2018-10-02 14:40] pwasmund opened #233 "Mac code for Begin the authorization flow is junk"
The Mac code in the Begin the authorization flow has been directly copied from the iOS code and not modified for the Mac. UIViewController is not a Mac object, it should are NSViewController and supports a very different set of messages. Please fix this sample code.

[2018-10-02 17:00] greg-db commented on #233
Thanks for pointing that out! I'll ask the team to get that fixed up.

[2018-10-11 20:06] mmcguill opened #234 "iOS App Extension UIApplication Not Available"
Hi,

I'm using 3.9.2 via Cocoapods. I'm trying to build an App Extension which means that UIApplication.sharedApplication is not available. This means then that DBClientsManager authorizeFromController is problematic as the first parameter takes a UIApplication.

A quick search reveals issue #113 which is closed and says that this has been fixed, but is unclear about how to use this library in an

[2018-10-11 20:40] greg-db commented on #234
Hi Mark, if I recall correctly, for that reason, you can't start/process the app authorization flow (i.e., `authorizeFromController`) from within an app extension. (The app authorization flow needs to be able to redirect back to your app after the authorization; it wouldn't be able to bring you back to the extension itself. My understanding is that the other issue was about just using an already a

[2018-10-11 20:40] #234 closed

[2018-10-12 07:53] mmcguill commented on #234
Ok, thanks for the quick response Greg.

[2018-11-17 19:29] bsabiston opened #235 "Can't update iOS "The file “ObjectiveDropboxOfficial.framework” couldn’t be opened because there is no such file.""
I am trying to update my app for the first time in a year.  I was using 3.0.11 because it was the last version to support iOS8, but now my app is crashing, and it seems to have something to do with Dropbox.

But when I run carthage update --platform iOS, I get this:
Fetching dropbox-sdk-obj-c
*** Checking out dropbox-sdk-obj-c at "3.9.2"
*** xcodebuild output can be found in /var/folders/rd/w5sm14

[2018-11-21 16:12] greg-db commented on #235
It looks like this is an issue with Carthage itself. There's a thread here with more information, including a potential workaround, as well as a link to the Carthage issue itself: https://www.dropboxforum.com/t5/API-Support-Feedback/Objective-C-build-of-3-4-0-failing-when-using-carthage/td-p/264461

[2018-11-21 16:12] #235 closed

[2018-12-22 15:21] 4EEGroupRon opened #237 "directory not found for option '-F/...'"
Yes, I know, this has been discussed many time.  I've read and tried all solutions.  But to no avail.

I can create a new Xcode project, use CocoaPods to load the DB SDK with zero problems.  But, my existing project will simply not build.  I think I have checked every Build Setting mention in these forums.  Any help?

![screen shot 2018-12-22 at 8 17 39 am](https://user-images.githubusercontent.co

[2018-12-28 18:39] greg-db commented on #237
I see that you also have a Dropbox support ticket with more information on this issue, so I'll close this in favor of that ticket to keep this in one place. We'll follow up with you there.

[2018-12-28 18:39] #237 closed

[2019-01-13 18:31] monish152 opened #238 "Linker error in manually integration"
Hi,
I am getting linker error like below screenshot.

![screen shot 2019-01-13 at 11 58 52 pm](https://user-images.githubusercontent.com/1301491/51089215-87588b80-178f-11e9-8a48-48dc43bd5ab4.png)

[2019-01-13 18:35] monish152 commented on #146
![screen shot 2019-01-13 at 11 58 52 pm](https://user-images.githubusercontent.com/1301491/51089240-077ef100-1790-11e9-91ed-be95ace80f2e.png)
@scobbe getting same issue while adding manually. There is only xcodeproj file

[2019-01-14 16:32] monish152 commented on #238
Hi @greg-db I have tried all steps as issue 146 but still getting same issue.

[2019-01-14 20:04] greg-db commented on #238
Can you share screenshots of your Build Settings for both the project and targets for both your app and the ObjectiveDropboxOfficial framework? Thanks in advance!

[2019-01-15 15:01] monish152 commented on #238
Hi @greg-db attached files have screenshot.

[2019-01-15 15:02] monish152 commented on #238
![screen shot 2019-01-15 at 8 30 30 pm](https://user-images.githubusercontent.com/1301491/51188771-9e6cba00-1904-11e9-8def-e22a640de7f2.png)
![screen shot 2019-01-15 at 8 30 20 pm](https://user-images.githubusercontent.com/1301491/51188775-9e6cba00-1904-11e9-94c8-911c9be772d7.png)
![screen shot 2019-01-15 at 8 30 08 pm](https://user-images.githubusercontent.com/1301491/51188776-9e6cba00-1904-11e9-

[2019-01-15 15:20] monish152 commented on #238
![screen shot 2019-01-15 at 8 47 14 pm](https://user-images.githubusercontent.com/1301491/51189815-d37a0c00-1906-11e9-9dc7-ae224eb63382.png)

[2019-01-15 20:45] greg-db commented on #238
Apologies I wasn't clearer, I was asking for the "Build Settings" tab in particular.

For example, I was just able to reproduce the error you're seeing with the following configuration: (note the different selections in the left sidebars, for different projects/targets)

![screenshot 2019-01-15 15 39 26](https://user-images.githubusercontent.com/8700917/51208473-cbf13d80-18db-11e9-8b50-6f40aee6877

[2019-01-23 07:10] BhaumikSurani opened #239 "listout all specific files from all directoryes"
I want get all video files from multiple directories in dropbox
but it only list specific directory files.

[code]

above code is properly work for specific directory

    How to get all video files from multiple directories?
    can i search in dropbox by following code? if yes so how can i search for only video?
    because follow code not getting any result

[code]

[2019-01-23 16:02] greg-db commented on #239
[Cross-linking for reference: [https://stackoverflow.com/questions/54321649/dropbox-listout-all-specific-files-from-all-directoryes](https://stackoverflow.com/questions/54321649/dropbox-listout-all-specific-files-from-all-directoryes) ]

First, note that, as mentioned in the first `NSLog`, you'll need to implement calling [`listFolderContinue`](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/

[2019-01-23 16:02] #239 closed

[2019-02-26 08:24] semionenko opened #240 "addFileMember:uploadPath with quiet YES send email."
[code]

Still sends messages to the mail.

[2019-02-26 17:52] greg-db commented on #240
[The `addFileMember` method's `quiet` parameter](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBSHARINGUserAuthRoutes.html#/c:objc(cs)DBSHARINGUserAuthRoutes(im)addFileMember:members:customMessage:quiet:accessLevel:addMessageAsComment:) only offers control over "device notifications", not email:

I'll pass this along as a feature request for control over the email notificati

[2019-02-26 17:52] #240 closed

[2019-02-26 19:02] roostr opened #242 "Batch file upload is blocking the main thread for 1 second several times"
When calling the batch upload convenience API ([DBCustomRoutes.m#L31](https://github.com/dropbox/dropbox-sdk-obj-c/blob/3.9.4/Source/ObjectiveDropboxOfficial/Shared/Handwritten/Resources/DBCustomRoutes.m#L31)), the main thread will freeze while it waits for the uploads to finish.

This is happening because of two `sleep(1)` calls that are enqueued on the main thread:
 * [DBCustomRoutes.m#L324](htt

[2019-02-26 19:25] greg-db commented on #242
Thanks for the report and the PR! I'll ask the team to review this.

[2019-03-02 05:01] dylanashe commented on #242
Our QE team just wrote up a couple bugs that were directly tied to those sleep(1)'s.  Please bump the priority if possible.

Additionally:

- (void)queryJobStatus:(DBBatchUploadData *)uploadData asyncJobId:(NSString *)asyncJobId retryCount:(int)retryCount

Seems to be a somewhat confused method in general because of this line:

            if (retryCount <= timeoutInSec) {

Thanks,
Dylan

[2019-03-04 15:47] greg-db commented on #242
@dylanashe Thanks for the feedback!

Can you open a separate issue for the `queryJobStatus` problem you found so we can track them separately? Thanks in advance!

[2019-03-14 01:21] guidedways opened #245 "Anyone else experiencing slow sync?"
Lately it seems the batch upload / download methods seem to 'hang' forever and don't timeout (no matter how long you let the request running). I'm frequently receiving reports of the app syncing endlessly, and upon closer examination it's almost always when our app is batch uploading or simply deleting files one after another.

I can't figure out what's going on, but quitting and relaunching the a

[2019-03-14 15:56] greg-db commented on #245
Thanks for the report. I'm not aware of anything like this, but we'll be happy to look into it. (Issue #242 looks slightly related, but doesn't describe quite the same behavior.)

To help us track this down, can you let us know:
- when you say "lately", do you mean as of a particular version of the SDK, or just as of a particular date? Please let us know what SDK version(s) you're seeing this with

[2019-05-22 08:47] yoasha commented on #242
Hi All, any updates on this issue? Is it already fixed or fix is still pending?

[2019-05-22 14:59] greg-db commented on #242
@yoasha Thanks for the note! I don't have an update on this yet I'm afraid. This is still open with engineering. I'll ask them to raise the priority.

[2019-05-22 15:06] roostr commented on #242
For what it's worth, I've deployed the solution proposed in https://github.com/dropbox/dropbox-sdk-obj-c/pull/241 to production about 3 months ago. It's been running on tens of thousands of devices with no reports of issues from users. @yoasha, you might want to grab that until it's fixed in the official releases.

[2019-05-22 15:32] yoasha commented on #242
Thank you for the quick response. I really hope you'll manage to raise the priority of this issue, as currently there are thousands of iOS devices running my app which are affected by this issue.

[2019-05-22 15:34] yoasha commented on #242
@roostr Thanks a lot for letting me know about your solution. I will surely take a closer look.

[2019-05-29 08:30] pascalfribi commented on #242
So when do you plan to merge this. This is really annoying and I am also waiting for this fix!

[2019-05-29 15:32] greg-db commented on #242
@pascalfribi This is open with the team, but I can't offer a timeline unfortunately.

[2019-06-05 11:51] apodrugin opened #246 "DBCOMMONRootInfo does not contain 'home_path' property which is described in the documentation"
According to the documentation (https://www.dropbox.com/developers/reference/namespace-guide) 'root_info' dictionary contains 'home_path' property. This property is present in JSON response, but it is not parsed and is missed in the DBCOMMONRootInfo interface.

[2019-06-05 13:58] greg-db commented on #246
[The `homePath` field](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBCOMMONTeamRootInfo.html#/c:objc(cs)DBCOMMONTeamRootInfo(py)homePath) is only set on [`DBCOMMONTeamRootInfo`](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBCOMMONTeamRootInfo.html), not [`DBCOMMONUserRootInfo`](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBCOM

[2019-06-06 12:04] apodrugin commented on #246
Thank you for your response! I have missed that DBCOMMONRootInfo has subclasses, because DBUSERSFullAccount exposes 'rootInfo' property with DBCOMMONRootInfo return type and it is not mentioned in documentation in code that it may return instances of the subclasses with additional information. So, the right way to get home_path is to check that 'rootInfo' is actually DBCOMMONTeamRootInfo class and

[2019-06-06 14:42] greg-db commented on #246
That's correct, you'd need to check and cast the type in order to access that type-specific `homePath` property. That would look something like this:

    [[client.usersRoutes getCurrentAccount] setResponseBlock:^(DBUSERSFullAccount *account, DBNilObject *_, DBRequestError *error) {
        if (account) {

            if ([account.rootInfo isKindOfClass:[DBCOMMONTeamRootInfo class]]) {

[2019-06-10 12:28] apodrugin commented on #246
I have checked it in my environment. Everything works as expected. Thank you!

[2019-06-10 12:28] #246 closed

[2019-06-10 13:52] chrisvanbuskirk opened #247 "[Catalyst] Support UIKitForMac"
When attempting to create a dropbox connection with an iPad app for the Mac, I receive these errors.

[code]

Obviously, dropbox should probably already use an account created on the Mac already, or then start a authentication process.

[2019-06-10 15:13] greg-db commented on #247
Thanks for the post! The Dropbox macOS application doesn't support the same native app authorization flow that the Dropbox iOS app does. I'll pass this along as a feature request, but I can't promise if or when that might be implemented.

That means that those '10814' errors are expected on macOS, as they indicate that the official Dropbox iOS app isn't installed, so the app authorization flow is

[2019-06-10 15:19] chrisvanbuskirk commented on #247
Safari is not opened when it fails.

[2019-06-10 15:25] greg-db commented on #247
Thanks for following up. To clarify though, are you saying you are not able to process the app authorization flow at all when using this SDK in an iPad app for the Mac?

We haven't tested this SDK with Catalyst yet, but the desired/expected behavior, to match the current behavior on iOS, would be to have the Dropbox app authorization page presented in `SFSafariViewController` (not Safari.app itsel

[2019-06-10 16:38] chrisvanbuskirk commented on #247
No, that is not working.  Nothing is opened and I just receive that error in the console.

[2019-06-10 16:53] chrisvanbuskirk commented on #247
As a sanity check, I tested in my app.  The controller is brought up with dropbox is missing from the device.

![Image-1](https://user-images.githubusercontent.com/3638007/59211732-d56e9100-8b6d-11e9-8b0c-0db18213936c.jpeg)

[2019-06-10 17:30] greg-db commented on #247
Got it, thank you for confirming that. I'll ask the team to look into this to see if we can get this working.

[2019-06-18 16:10] yoasha commented on #242
Hi, just following up... Any news on this topic?

[2019-06-18 16:32] greg-db commented on #242
@yoasha No, unfortunately I don't have an update here.

[2019-06-19 07:38] yoasha commented on #242
@greg-db Thank you for your quick response. I surely understand that this issue is not in the same severity level of crash-issues and breaking-functionality-issues. It's also an issue that is very difficult to track down, as it took me several months to realize that the delays I constantly encounter in the app that I develop are related to this specific issue... Therefore, I wouldn't be surprised

[2019-06-19 09:34] pascalfribi commented on #242
Agree with yoasha. This is extremely annoying and I only found out about this, with this PR. So please push R&D to get it merged.

[2019-06-19 12:16] greg-db commented on #242
Thanks for the feedback all! I'll emphasize this with the team.

[2019-06-19 21:03] greg-db commented on #247
@chrisvanbuskirk Can you try again with the latest macOS 10.15 beta? (I believe it's 19A487I). It looks like the behavior on this may have changed so I just want to check you're seeing the same thing. (It doesn't appear to be fully fixed, but it does now at least open the page in Safari for me.) Thanks!

[2019-07-02 14:51] yoasha commented on #242
Hi, any news on this topic? Any specific reason why the R&D wouldn't merge the PR which is already in place?

[2019-07-05 20:29] TaylorKrusen commented on #242
Hi folks!

I spoke with engineering and this fix is on the roadmap for the next SDK update (at the latest). Our apologies for the delay, but rest assured this issue (and corresponding PR) are on our radar.

[2019-07-05 20:35] yoasha commented on #242
Perfect. Much appreciated!

[2019-07-18 19:21] chrisvanbuskirk commented on #247
@greg-db Sorry it took so long, but I have confirmed the fix.

[2019-07-20 02:43] #190 closed

[2019-07-23 14:27] #247 closed

[2019-08-27 11:26] pascalfribi commented on #242
2 months later and still nothing.....

[2019-09-11 10:41] yoasha opened #248 "Xcode 11 GM generates many Analyzer warnings"
There are many reported issues by the Xcode Analyzer which are probably indicating semantic rather than functional issues. However, I think that when performing Xcode > Product > Analyze, it's a good practice to get an empty issue list just like good developers would strive to get an empty warning list when they compile their project.

Currently, there are dozens of NSNumber * conversion issues, a

[2019-09-11 15:27] greg-db commented on #248
Thanks for the report! I'll ask the team to clean this up.

[2019-10-18 13:26] pascalfribi commented on #242
another 2 months and counting....

[2019-11-11 16:09] adoucet52 opened #250 "Authentication doesn't work on several iOS simulators"
I was doing some testing on the Xcode simulators and found that the sdk behaves oddly with several of them. I do not have the official Dropbox app installed on the simulator. Upon clicking the authentication button, I am routed out of the app as expected. However, the UI of the drop box authenticator doesn't load, leaving me stuck with a white screen that only has an empty navigation bar.

I am us

[2019-11-11 19:53] greg-db commented on #250
I just gave this a try with Xcode 11.1 and an 'iPad Air 2 - 12.0' simulator and it worked as expected for me. I wasn't able to reproduce the issue you described. It presented the `SFSafariViewController` in the app as expected:

![Screenshot 2019-11-11 14 47 08](https://user-images.githubusercontent.com/8700917/68616179-84532800-0492-11ea-9a01-637ae236674a.png)

Technically, you're not routed out

[2019-11-12 21:40] adoucet52 commented on #250
Found the actual issue causing this. There's a problem with SFSafariViewController where it fails to load if there's a popup showing.

Details can be found here: https://stackoverflow.com/questions/39662498/sfsafariviewcontroller-loading-blank-white-page

[2019-11-12 21:40] #250 closed

[2020-02-09 22:20] datan3rd opened #252 "keyWindow Depreciated"
I am having trouble utilizing the SDK for an app in iOS13.

I am getting a warning "'keyWindow' is deprecated: first deprecated in iOS 13.0 - Should not be used for applications that support multiple scenes as it returns a key window across all connected scenes" but I am not sure that is causing the issue.

When attempting to connect I am getting the message:
[15208:18854646] DBSDKReachability Fla

[2020-02-10 20:09] greg-db commented on #252
Thanks for the report! It looks like there are a few pieces here, so I'll address each of them individually:

It sounds like this is referring to the `[UIApplication sharedApplication].keyWindow` usage in `topMostController` for calling `authorizeFromController`, as covered in [the "Begin the authorization flow" section of the documentation](https://github.com/dropbox/dropbox-sdk-obj-c#begin-the-a

[2020-02-10 20:32] datan3rd commented on #252
This is the code that is firing before the background task error:

[code]

However after trying to replicated I am now getting these errors:

[18507:19224116] DBSDKReachability Flag Status: -R ------- networkStatusForFlags

[18507:19224116] Can't end BackgroundTask: no background task exists with identifier 1 (0x1), or it may have already been ended. Break in UIApplicationEndBackgroundTaskError()

[2020-02-10 21:30] greg-db commented on #252
Thanks. I still can't reproduce the other output so it may be specific to some other code you have running somewhere in your app.

In any case, since the initial redirect to the official Dropbox app is working, it may not be related to this issue. I recommend adding some logging in the `openURL` method in the app delegate, as well as for the `handleRedirectURL` method result itself, to see what is

[2020-02-10 22:27] datan3rd commented on #252
I do have the code almost exactly, just rewording the NSLog statements but they are not being called so I will add code to validate that any of it is getting called.

[2020-02-11 01:34] datan3rd commented on #252
I added an NSLog to see if this gets called:
- (BOOL)application:(UIApplication *)app openURL:(NSURL *)url
            options:(NSDictionary<UIApplicationOpenURLOptionsKey,id> *)options {

And it does not.

[2020-02-11 01:55] datan3rd commented on #252
For what its worth, I have made some progress. Adding the following code into the sceneDelegate allowed for things to actually run in the appDelegate. I am still getting a bunch of messages as I had before but at least it seems to functionally work for now.

[code]

[2020-02-11 16:25] greg-db commented on #252
Great, thanks for following up with the additional information. I'm glad to hear you got this working.

Starting with iOS 13, if your app uses scenes, UIKit will only send the events to the scene delegate, and not the app delegate like how the Dropbox SDK was originally written for. There's some documentation on this [here, under "Specifying the Scenes Your App Supports" > "Adopt Scene-Based Life-

[2020-03-12 11:45] echamussy commented on #226
I'm experiencing still the same issue! Lots of crashes reported on our crash logs because of this problem, it's been like this for so long! @greg-db Can you tell us if you are planning to fix this at some point?

[2020-03-12 12:20] guidedways commented on #226
@echamussy I don't think Dropbox is going to fix it. Apply my changes to the files and you'll be better off. It's such an obvious bug in their code but it's been two years and they haven't fixed it. I'm planning to move away from Dropbox due to the many issues I've faced with their SDK and technical support.

[2020-03-12 12:37] echamussy commented on #226
@guidedways Thanks for the message. Yeah, pretty sad this has been open for so long. Thanks for providing the fix, I just implemented it as you described and will push an update to hopefully fix this issue. Thanks a lot again!!

[2020-03-12 12:42] guidedways commented on #242
Here's a detailed discussion on this and why I proposed we don't use the MainThread to begin with: https://github.com/dropbox/dropbox-sdk-obj-c/issues/133

[2020-03-12 12:44] guidedways commented on #242
Also this: https://github.com/dropbox/dropbox-sdk-obj-c/issues/221

[2020-03-12 14:24] greg-db commented on #242
@guidedways Thanks for the feedback and links!

[2020-03-12 14:24] greg-db commented on #226
@echamussy This is still open with engineering, but I don't have a timeline for a fix and release.

@guidedways Thanks as always for the help and feedback.

[2020-03-12 15:11] guidedways commented on #226
@greg-db it almost feels as though you're the only one working at Dropbox sometimes! No offense :) I know engineering has been making improvements (i.e. additions) to the API but it's sad to see serious bugs being ignored. I haven't updated to the latest API for two years simply because I cannot afford to introduce new bugs in our app due to known bugs and possibly new ones stemming out of them.

[2020-03-12 15:46] greg-db commented on #226
@guidedways Understood, thank you for your candor. I'll share this with the team.

[2020-03-20 15:56] DimonDeveloper opened #253 "File search gives unexpected results."
A search by name returns files whose names do not contain a search query.
Dropbox web version search results different from iOS SDK API Search.

Search query = @"adds"
Result some of the files:
1_ISO_eCommittee_Guide_for_Secretaries_and_Convenors_-_CS10.pdf
2_Circular_letter_-_ISO_eCommittee_system_-_ISOTC_Server_migrated.pdf

Why is that happens?

[2020-03-20 17:41] greg-db commented on #253
@DimonDeveloper Thanks for the report! This is likely going to depend on the state of your account, and not the SDK itself. That being the case, please open this as an API ticket here so we can check on this for you: https://www.dropbox.com/developers/contact

Please include:
- the code you're running, including the parameter values (but don't include your access token)
- the output you're getting

[2020-03-20 17:41] #253 closed

[2020-04-14 12:50] michaelkircher opened #255 "Illegal State Exception because Client Modified meta data field is null since version 3.11.0"
Since version 3.11.0, including version 3.11.1, the DBStoneValidators::raiseIllegalStateErrorWithMessage throws an exception because the clientModified data field in the meta data is null when reading from a Dropbox account. Going back to 3.10.0 solves the issue.

[2020-04-14 14:29] greg-db commented on #255
Can you clarify what versions of the Dropbox Java SDK you're referring to? The version numbers you mentioned aren't actually releases of the Dropbox Java SDK. The latest is currently [v3.1.3](https://github.com/dropbox/dropbox-sdk-java/releases/tag/v3.1.3).

Also, can you share the code and steps to reproduce the issue, and the full error output you get? Thanks in advance!

[2020-04-14 14:51] michaelkircher commented on #255
It is the Dropbox Objective-C SDK, sorry for the confusion.

The invocation of the Dropbox API inside my iOS Objective-C App looks like:

[code]

The stack trace is:

In line #2 the "clientModified" field is checked:
`  [DBStoneValidators nonnullValidator:nil](clientModified);`

The same code works fine with 3.10.0 Objective-C SDK and the same Dropbox account and folder. Basically all my users had

[2020-04-14 14:52] greg-db commented on #255
My apologies! I thought this was filed under the Java SDK for some reason. Thanks for the report! We'll look into it.

[2020-04-15 14:16] pauldhanson opened #256 "Upload/Download issue"
Recently my program has stopped working with Dropbox.  I am using the V2 SDK and just the basic upload and download (to NSData) tasks.

In the case of the upload, it actually works and uploads the file to my Dropbox App folder, but returns a nil result (appearing as though it failed).  The file shows up.

In the case of download, the progress block shows that it downloads all the data (all bytes a

[2020-04-15 15:36] greg-db commented on #256
Thanks for the report. Can you also let us know:

- when this started happening
- the version number of the SDK you have installed
- the steps and code to reproduce this issue
- the full error/output you're getting, if there's any more than what you already shared

Thanks in advance!

[2020-04-16 13:58] rhcpfan opened #257 "Error in call "files/upload" [convertFormat in DBStoneSerializers returns wrong value]"
A new issue was introduced in `3.11.0` (it's present in `3.11.1` also). I'm trying to upload a file through a `DBUploadTask` and I get a network error saying

`Error in call to API function \"files/upload\": HTTP header \"Dropbox-API-Arg\": client_modified: time data \"Y-'m-'dT'H:'M:'SZ\" does not match format '%Y-%m-%dT%H:%M:%SZ'`

Here's how I create the `DBUploadTask`:
[code]
I pass the current

[2020-04-16 14:34] greg-db commented on #257
Thanks for the report! We'll look into it.

[2020-04-16 16:00] hector-dropbox commented on #242
@guidedways I just started with Dropbox and got assigned this just now. I will look into this today. cc @pascalfribi @yoasha @roostr

[2020-04-16 16:09] hector-dropbox commented on #242
@guidedways @pascalfribi @yoasha @roostr Turns out the fix was very simple thanks to @roostr! I just merged his PR and will be issuing a release sometime today after I fix a serialization issue we just found. Will keep y'all updated on this thread

[2020-04-16 16:10] hector-dropbox commented on #257
@rhcpfan I just wrote this code to remove the warnings that were being emitted by the compiler in that code. I'll be looking into fixing this issue today. Thank you for reporting it!

[2020-04-16 16:14] yoasha commented on #242
Way to go! Thank you for this update!!

[2020-04-16 16:15] roostr commented on #242
Thank you @hector-dropbox! And congrats on the new position w/ Dropbox!

[2020-04-16 16:16] pascalfribi commented on #242
Thanks for finally fixing this. It was an easy fix that just needed to be done. Glad you are at Dropbox and taking care of this.

[2020-04-16 16:35] hector-dropbox commented on #242
No problem, friends. I'm glad to be of assistance! <3

[2020-04-16 17:40] hector-dropbox commented on #255
@michaelkircher I'll be looking into this issue today. Will let you know what I find

[2020-04-16 17:41] #242 closed

[2020-04-17 13:55] pauldhanson commented on #256
Not sure when this began, to be truthful.  Maybe with iOS 13, but I think after that.
3.11.1
My code is literally a duplicate of the tutorial/example code (with my app key used, of course).
No more error output other than what shared.  And like I said, it is DOING it, but then return nil Result.  If I don't use the Response/Progress block with the upload, it uploads fine.  If I use the response bl

[2020-04-17 15:33] greg-db commented on #256
Thanks! That's helpful. Please downgrade to v3.10.0 for now and let me know if that helps.

[2020-04-17 16:53] pauldhanson commented on #256
That fixed it.  Thanks!

[2020-04-17 16:59] greg-db commented on #256
Thanks for confirming. In that case, I believe we know what the issue is. We'll fix that in an upcoming release.

[2020-04-18 00:43] hector-dropbox commented on #257
@rhcpfan Could you check the latest 3.11.2 release and test this issue for me one more time, please?

[2020-04-18 00:44] hector-dropbox commented on #256
@pauldhanson Could you attempt this one more time with 3.11.2? Still trying to determine the root cause of some of these issues and would appreciate your help!

[2020-04-18 01:06] hector-dropbox commented on #255
@michaelkircher We can't seem to reproduce the issue on our end. Could you do us a favor? Could you throw a breakpoint [here](https://github.com/dropbox/dropbox-sdk-obj-c/blob/43209dfb30a1055b844065fb47932e9985e502d5/Source/ObjectiveDropboxOfficial/Shared/Handwritten/Networking/DBTransportBaseClient.m#L112) and give me the output of printing out the `headers` variable?

Send me an email at hector@

[2020-04-18 03:08] hector-dropbox commented on #226
@guidedways hey! I’ve been involved in this code a bit lately and this seems like an easy fix! It also seems like this code is part of our generators that we use for code gen. I’ll gladly take a look at this on Monday!

Even better, it looks like you already have a fix for this issue. I’m pretty certain it would get overridden by our code gen so I’ll look a little deeper into it (otherwise I’d pro

[2020-04-18 10:54] michaelkircher commented on #255
As I mentioned in the separate email to you, 3.11.2 fixed the issue for me.

[2020-04-18 11:02] rhcpfan commented on #257
@hector-dropbox I've just tested using `3.11.2` and it works just fine. Thank you for fixing this so quickly!

[2020-04-18 11:02] #257 closed

[2020-04-18 12:14] pauldhanson commented on #256
Yep, that worked as well.  Thanks again.

Paul

[2020-04-20 14:16] #255 closed

[2020-04-20 14:16] #256 closed

[2020-04-20 14:36] greg-db commented on #221
This should be resolved by #241, now released in [v3.11.2](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.11.2).

[2020-04-20 14:36] #221 closed

[2020-04-20 15:57] AaronMcGranaghan opened #258 "Error 513 when downloading a file."
Hello, hoping someone can help with an issue I've recently come across.  I can't be sure when it started happening, but when I try to download a file I get error 513:

[code]

The code I'm using has worked fine for a long time and hasn't been changed:

[code]

The odd thing is, this error only occurs on some of my devices, not all of them.

I'm using iOS (13.31) and ObjectiveDropboxOfficial (3.11.

[2020-04-20 18:38] JBishopJr commented on #258
See (in your source file path error:   /BUNLE_ID/

[2020-04-20 19:00] greg-db commented on #258
A 513 Cocoa error is `NSFileWriteNoPermissionError`, indicating a local filesystem permission issue. There have been a few similar issues like this in the past with more information and potential solutions that may be helpful:
- #60
- #125
- #209

Also, as John pointed out, 'BUNLE_ID' doesn't seem to be correct. Is that actually in the path in the output, or is that a typo from redacting your bund

[2020-04-21 07:47] AaronMcGranaghan commented on #258
Yes, that was a typo in my redaction.  All paths are valid and correct.  I'll check out some of the other issues and see if any of those solutions help.

Thanks.

[2020-04-21 09:49] AaronMcGranaghan commented on #258
Using forceForegroundSession seems to have fixed the problem.  Thanks for the pointers.

[2020-04-21 09:49] #258 closed

[2020-06-12 10:54] phil1995 commented on #226
Is there any information on when this bug will be fixed? I have the same problem with
`+ (DBRoute *)DBFILESUploadSessionFinishBatchCheck {...}`.

[2020-06-12 14:49] greg-db commented on #226
@phil1995 I don't have a timeline on this. I'll check in with engineering.

[2020-06-15 18:41] phil1995 opened #263 "downloadUrl for a non-existent remote URL does not return a LookUpError"
When I call the function `downloadUrl(...)` with a URL for a non-existent file, I only get an `DBRequestHttpError` with the status code 409, although there should be a `DBLookUpError` with a `pathNotFound`. (As this is also the case with `getMetadata(...)` for example).
If needed here are some requestIDs for `downloadURL(...)`, which all failed with status code 409:
[code]

[2020-06-15 20:58] greg-db commented on #263
Thanks for the report! We'll look into it.

Also, for reference, do you happen to also get any `NSURLConnection` error output when this occurs for you?

[2020-06-25 16:01] wasimsafdar opened #269 "Redeclaration of 'kDBSDKVersion' with a different type: 'NSString *const __strong' vs 'NSString *__strong'"
I started updating my app and getting this issue in 'DBSDKConstants.h' file. I understood this issue and trying to resolve it but I also think, it is the latest bug in Dropbox SDK that they need to resolve. For help check this.

https://stackoverflow.com/questions/3196491/objective-c-const-nsstring-vs-nsstring-const

I just removed const modifier. i.e. NSString *kDBSDKVersion; NSString *kDBSDKVers

[2020-06-25 19:23] greg-db commented on #269
Thanks for the report! I'm not getting this same message though. Can you let me know:

- the steps to produce this error
- which version of Xcode you're using
- what, if any, extra build settings, e.g., to enable extra warnings, you have enabled

[2020-07-04 16:50] chrisvanbuskirk opened #270 "[Catalyst] warnings"
![Screen Shot 2020-07-04 at 10 49 19 AM](https://user-images.githubusercontent.com/3638007/86517179-2f2ea280-bde4-11ea-9d41-a971b8d35e5a.png)

[2020-07-06 19:30] greg-db commented on #270
Thanks! I'll ask the team to fix these up.

[2020-07-11 13:39] guidedways commented on #245
It doesn't seem to be a particular version of the SDK - it seems to have slowed down over all. Lately, past few weeks especially, we're seeing dozens of network timeouts for requests with sync failing randomly due to this. We haven't touched the sync related code of our app for over a year, nor have I updated the SDK. Are there network issues with Dropbox in general these days?

[2020-07-13 16:38] greg-db commented on #245
I'm not aware of anything in particular that should be causing issues like this.

Can you share some more information to help us investigate? For example, the steps to reproduce the issue, and any errors or unexpected output would be helpful.

[2020-07-18 06:22] allan304 opened #271 "The following error occurred after update Xcode 11.6 (11E708)"
![A6791701-150C-4A83-A93D-1E4EED6D27E9](https://user-images.githubusercontent.com/13128098/87846347-c544eb80-c901-11ea-8a17-5fe7b214ae34.png)

**Incompatible block pointer types sending 'void (^)(DBFILESListFolderResult * _Nullable __strong, DBFILESListFolderError * _Nullable __strong, DBRequestError * _Nullable __strong)' to parameter of type 'void (^ _Nonnull)(DBFILESGetTemporaryLinkResult * _Nu

[2020-07-20 03:37] allan304 commented on #271
Now I delete ObjectiveDropboxOfficial.framework, use Cocoapods, the ObjectiveDropboxOfficial version is 4.0.0, but
still get this error.

[2020-07-20 07:14] #271 closed

[2020-09-01 11:45] ilyon commented on #160
A
-canOpenURL: failed for URL: "dbapi-8-emm://1/connect" - error: "The operation couldn’t be completed. (OSStatus error -10814.)"

It's still worked? I got this error when set controller's to nil.

-canOpenURL: failed for URL: "dbapi-8-emm://1/connect" - error: "The operation couldn’t be completed. (OSStatus error -10814.)"

[2020-09-05 02:52] peterhoucll opened #276 "Get v5.0.2 code through cocoaPods is incorrect"
I got the SDK through cocoaPods, and the code I got is as follows:
### DBClientsManager.h
[code]
But your example is called like this:
[code]

### podfile:
source 'https://github.com/CocoaPods/Specs.git'
platform :ios, '10.3'

target 'xxx' do
    pod 'ObjectiveDropboxOfficial'
end

### Console:
$ pod install
Installing ObjectiveDropboxOfficial (5.0.2)
Generating Pods project
Integrating client pro

[2020-09-08 07:59] Dids commented on #276
Looks like the `README.md` is just outdated, but the API docs are up to date.

[code]

^ From here: https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/

[2020-09-08 14:22] peterhoucll commented on #276
thank you!

[2020-09-08 17:25] greg-db commented on #276
Thanks for the report and help! I'll ask the team to fix this up. (The README actually shows the usage as of the latest version of the code on master, but that hasn't included in a release yet.)

[2020-09-08 22:20] paulaltin commented on #201
I'm having the same issue (which also seems to be related to #194). Is there a solution for this yet? It seems to be impossible at the moment to log out of one account and into another without restarting the app, which is very inconvenient.

[2020-09-09 00:52] peterhoucll commented on #276
you mean that README.md is the latest, but the code of V5.0.2 is not the latest?

[2020-09-09 07:18] Dids commented on #276
[README.md on master](https://github.com/dropbox/dropbox-sdk-obj-c/blob/master/README.md) is still using the old syntax: https://github.com/dropbox/dropbox-sdk-obj-c#ios-5

[2020-09-09 15:31] greg-db commented on #201
@paulaltin It looks like this hasn't been addressed by the team unfortunately. I'll check in on it and follow up with any update.

[2020-09-09 15:34] greg-db commented on #276
To clarify, the "new" functionality is that `handleRedirectURL` now returns a `BOOL` that indicates whether the URL can be handled. This functionality was added [here](https://github.com/dropbox/dropbox-sdk-obj-c/commit/42d88e238cb0dbb730c735e31fa55d95a0df8dab), after the v5.0.2 release, and so attempting to use that in <=v5.0.2 failed. The README was updated along with that change, so it did not

[2020-09-09 15:34] #276 closed

[2020-09-09 22:17] paulaltin commented on #201
@greg-db Thanks!

[2020-09-14 12:02] wasimsafdar commented on #269
I am using XCode 11.4.1. There are no extra build settings.

[2020-09-14 17:18] greg-db commented on #269
Thanks for following up. I still can't seem to reproduce this output though, even with Xcode 11.4.1 and Dropbox SDK v4.0.0 in particular.

Can you let me know how you're installing the SDK?

Also, can you check you're not accidentally declaring `kDBSDKVersion` in your own code somewhere?

[2020-09-14 18:45] wasimsafdar commented on #269
I am using Cocoapods to install the SDK. i.e. pod 'ObjectiveDropboxOfficial'. I am not redeclaring kDBSDKVersion in my own code. It was redeclared in SDK in 'DBSDKConstants.h' and 'DBSDKConstants.m' files with 'NSString *const __strong' and with 'NSString *__strong'. I also thought that why it is redeclared and producing the error. That's why I removed the const modifier to make it work.

[2020-09-14 20:43] greg-db commented on #269
Thanks. I'm also using CocoaPods, so I'm still not sure why I can't reproduce the same thing you're seeing.

In any case, the latest release is v5.0.3 so I do recommend updating to that anyway.

If you still see the issue with that (unmodified v5.0.3), can you share a screenshot for reference?

[2020-09-14 22:10] wasimsafdar commented on #269
In my case, it was v4.0.0. If I update my app with the new version and still see the issue, I will update you. Thank you very much for looking into it.

[2020-09-15 11:16] phil1995 opened #277 "getMetadata does not work with trailing slash"
When I call the function `getMetadata("/Folder/")` I get a `routeError` with `malformed_path`. If I call `getMetadata("/Folder")` I get the metadata of the folder as expected.
 In the Dropbox API v2 HTTP Documentation the following pattern is allowed for the path:
`(/(.|[\r\n])*|id:.*)|(rev:[0-9a-f]{9,})|(ns:[0-9]+(/.*)?)`.
Therefore I would expect that both calls behave equivalent. The item locat

[2020-09-15 14:22] greg-db commented on #277
Thanks for the report, but this is the expected behavior. This is noted in [the Dropbox API documentation](https://www.dropbox.com/developers/documentation/http/documentation#path-formats):

[2020-09-15 14:22] #277 closed

[2020-09-16 16:58] kelohedeb commented on #248
It's been over a year now since @yoasha (very respectfully) reported these careless coding issues.
**When do you plan to fix them?**
The occurrence of 80 issues in supposedly production-quality code reflects poorly on you, Dropbox, and all of us who must use your slipshod library.

![Screen Shot 2020-09-16 at 10 54 34 AM](https://user-images.githubusercontent.com/2781838/93368371-235f5380-f80b-11e

[2020-09-16 17:57] greg-db commented on #248
@kelohedeb Thanks for the feedback! I can't offer a specific timeline for when the team would be working on this, but I'll bring this up with them again and share the feedback.

[2020-09-22 14:35] RWarnecke opened #278 "Problem to compile the sdk"
Hello,

I had installed the actually version 5.0.3 from this sdk over cocoapods into my app. Under Xcode 12 and iOS 14 i get these error messages:

Command CompileC failed with a nonzero exit code --> In the Framework
unexpected service error: The Xcode build system has crashed. Please close and reopen your workspace. --> In the workspace.

Can anybody help me ?

[2020-09-22 15:24] greg-db commented on #278
This issue doesn't reproduce for me with v5.0.3 of the Dropbox Objective-C SDK with Xcode 12 and iOS 14.

Can you share the full error/output? This portion doesn't seem to indicate what specifically failed.

Also, it asks you to close and reopen the workspace. Please try doing so if you haven't already and let me know if that does or doesn't help.

[2020-09-22 17:24] RWarnecke commented on #278
To reopen the workspace doesn't help. In the attached file are my output from my last build where I get these errors.

[Build target ObjectiveDropboxOfficial_2020-09-22T16-30-57.txt](https://github.com/dropbox/dropbox-sdk-obj-c/files/5263032/Build.target.ObjectiveDropboxOfficial_2020-09-22T16-30-57.txt)

[2020-09-22 18:41] RWarnecke commented on #278
I found a solution. There is a problem with Cocoapod Version 1.9.x and Xcode 12. If you install the rc1 from Cocoapod 1.10 the sdk compiles very fine. More infos under this link : https://stackoverflow.com/a/63648164

[2020-09-22 18:52] greg-db commented on #278
Great, I'm glad to hear you already sorted this out. Thanks for sharing the solution!

[2020-09-22 18:52] #278 closed

[2020-09-25 07:32] kotercy opened #279 "can not upload file"
sorry.I am newbie ti drop box. i have a problem but I do not to know how to deal with it. my problem
 must not a issues,apologies! the detail is below
I downloaded the source code and build as a framework.when  touch the button in the interface titled"loginDropbox" to login,the console print :Success! User is logged into Dropbox.!then touch the button titled "upload file",in the task callback ,I r

[2020-09-25 10:43] kotercy commented on #279
Xcode version Version 12.2 beta (12B5018i) macOS app,use the sample code DBRoulette is fetch list successfully. I do not why.but DBRoulette has a parent folder named "CarthageProject".is this influence?

[2020-09-25 17:45] greg-db commented on #279
From the error output, it looks like this failure is due to a DNS issue. Specifically, it looks like your device wasn't able to resolve the hostname used for Dropbox API upload calls, which is `api-content.dropbox.com` in this case.

This hostname is currently resolving correctly though, so you'll need to troubleshoot your setup to see why your device isn't able to perform this lookup. For example

[2020-09-25 17:45] #279 closed

[2020-09-27 01:51] kotercy commented on #279
need to close the sandbox in target.then worked.thank you !

[2020-09-30 04:37] YogendraPatel commented on #269
I also face same issue. have you find any solution?

[2020-09-30 06:28] YogendraPatel commented on #269
![Screenshot 2020-09-30 at 11 56 59 AM](https://user-images.githubusercontent.com/20812615/94650335-1d419a80-0314-11eb-8e06-4e3be6f95b55.png)

Still get this error in v5.0.3

[2020-09-30 14:17] greg-db commented on #269
@YogendraPatel  From your screenshot, I see that you're looking at the file "DBSession.h", which is actually part of an old Dropbox SDK for the now retired Dropbox API v1. You should instead only install the current [Dropbox Objective-C SDK](https://github.com/dropbox/dropbox-sdk-obj-c), which is for API v2, and remove the old SDK. They both define `kDBSDKVersion` so having both installed could ca

[2020-09-30 14:17] #269 closed

[2020-11-18 15:53] phil1995 commented on #263
Sorry for the late reply.
Yes, I receive the following output:
`nil host used in call to allowsSpecificHTTPSCertificateForHost`
and
`NSURLConnection finished with error - code -1002`

[2020-11-18 16:04] greg-db commented on #263
Thanks for confirming that!

This issue hasn't been addressed yet, but it's still open with engineering. I'll follow up here once I have an update on it.

[2020-11-20 20:27] guidedways commented on #226
Dropbox wants us to use the updated SDK for short lived refresh tokens. We cannot till you fix this serious bug that's been there for several years now. Please can we have this patched?

[2020-11-20 20:37] greg-db commented on #226
@guidedways Thanks for the note. I'll bring this up with the team again.

[2020-11-20 22:46] guidedways commented on #226
@greg-db Thank you. @hector-dropbox This is a very serious bug. Our app solely relies on the batch upload methods to function and without the fix we've had hundreds to thousands of crashes within hours of releasing the app. The above fix is simple, albeit I realize a little tricky if you're auto generating code. Still, this is functionally broken and it's been several years. We cannot move to a mo

[2020-11-20 22:52] baksogen opened #281 "'DBFILESUploadSessionStartError.h' file not found"
Xcode 12.2
Can't build Obj-c SDK

/DropboxOfficial/Shared/Generated/Routes/DBFILESUserAuthRoutes.m:170:9: fatal error: 'DBFILESUploadSessionStartError.h' file not found
#import "DBFILESUploadSessionStartError.h"

[2020-11-22 14:49] chrisvanbuskirk opened #282 "Carthage fails to build 5.0.4"
I'm trying to upgrade, and it fails.  I have Catalina's .7 and Xcode 12.2

Build Failed
	Task failed with exit code 65:
	/usr/bin/xcrun xcodebuild -project /Users/administrator/github/corkulous/Carthage/Checkouts/dropbox-sdk-obj-c/Source/ObjectiveDropboxOfficial/ObjectiveDropboxOfficial.xcodeproj -scheme ObjectiveDropboxOfficial\ iOS -configuration Release -derivedDataPath /Users/administrator/Lib

[2020-11-22 16:42] chrisvanbuskirk commented on #282
error: Build input file cannot be found: '/Users/administrator/github/corkulous/Carthage/Checkouts/dropbox-sdk-obj-c/Source/ObjectiveDropboxOfficial/Shared/Generated/Routes/RouteObjects/DBCLOUDDOCSRouteObjects.m' (in target 'ObjectiveDropboxOfficial iOS' from project 'ObjectiveDropboxOfficial')

What I spotted in the log file.

[2020-11-23 20:39] greg-db commented on #281
Thanks for the report. We'll look into it.

Also, are you using Carthage to build the SDK? If so, can you confirm which version of it you have installed?

[2020-11-23 20:39] greg-db commented on #282
Thanks for the report. We'll look into it.

Also, for reference, can you confirm which version of Carthage you have installed?

[2020-11-24 15:04] chrisvanbuskirk commented on #282
@greg-db  0.36.0

[2020-11-24 17:26] greg-db commented on #282
Thanks!

[2020-12-01 01:23] androidports opened #284 "Layout issue in a authorization dialog for app permissions with iPad"
In iPad, when my app launch the Dropbox app for authenticating app permissions via this SDK, the dialog layout is broken as below screenshot.

![Screen Shot 2020-12-01 at 10 09 26](https://user-images.githubusercontent.com/6258322/100684340-7b930400-33bd-11eb-8b52-cffb4bf16ec4.png)

Device: iPad (6-gen)
iOS: 14.2
Dropbox app: 216.2
ObjectiveDropboxOfficial: 5.0.4

[2020-12-01 02:35] greg-db commented on #284
Thanks for the report! This is a bug on our side. We're looking into it. I'll follow up here once I have an update on that. No action is required on your part.

[2020-12-10 14:23] Abbiee opened #286 "Crash while integrating DropBox SDK . Xcode build system has crashed. Please close and reopen your workspace"
Xcode crashes while integrating DropBox ObjC SDK .The Xcode build system has crashed. Please close and reopen your workspace. Command c failed with a nonzero exit code I googled and did following steps.

1. Deintegrate pods, remove workspace delete pod.lock file and again install pods
2. Delete drive data and clean and again start
3. Quit Xcode and again open
4. Finally restart OS

But still the i

[2020-12-10 15:51] JBishopJr commented on #286
Problem is bad in Xcode 12.2 too - but this crash is likely not a Dropbox issue.  There is lots of suspicion that it's corruption (or Xcode mis-handling) of your project workspace settings - check Apple forums, Stack Overflow, etc.  Turning off Source Control sometimes helps, among other things.  Thorough "clean" sometimes helps.  Sometimes not.

Worse, if you're going to use Dropbox natively on A

[2020-12-10 19:30] greg-db commented on #286
@Abbiee Thanks for the report. I just gave the SDK a try with Xcode 12.0.1 and this issue doesn't reproduce for me. It does sound like an Xcode issue, as JBishopJr said. Please do try the things they mentioned. Also, there's [a similar report here,](https://github.com/dropbox/dropbox-sdk-obj-c/issues/278) which indicated updating Cocoapods helped. Please try updating your version of Cocoapods, if

[2020-12-22 09:18] yoasha opened #287 "How to authorize with long-lived tokens?"
Hi All,

This question comes in the light of the new Dropbox API security announcements. Specifically token access:  https://dropbox.tech/developers/migrating-app-permissions-and-access-tokens#updating-access-token-type

My final goal is to keep my app having long-term access using Dropbox SDK, even after long-lived tokens are deprecated.

I am following the "Begin the authorization flow" guide at

[2020-12-22 15:51] greg-db commented on #287
Yes, the legacy flow should continue working once long-lived access tokens are no longer being returned, but that means that it will only receive short-lived access tokens. When that occurs, users still on the legacy flow will only be able to use the connection for up to four hours before the access token expires and they need to re-connect it.

The `authorizeFromControllerV2` method is the new me

[2020-12-22 15:51] #287 closed

[2020-12-22 16:58] yoasha commented on #287
greg, thank you for the quick reply!

I couldn't find any reference specifying that authorizeFromControllerV2 is using refresh tokens. I can see it uses PKCE, but for my understanding PKCE improves the security and is not related to OAUTH token lifetime. Sorry if I'm missing here something...

So, just to be on the safe side, here is a follow up question:
If I change my code to use authorizeFromCo

[2020-12-22 17:32] greg-db commented on #287
Yes, `authorizeFromControllerV2` will take care of all of this for you. It uses the PKCE flow to request "offline" access in order to get a short-lived access token and refresh token, and then the client will automatically perform the refresh for you as needed, so the user can stay signed in as before, without manual user interaction. (This `authorizeFromControllerV2` flow will work even if you ch

[2020-12-23 08:08] yoasha commented on #287
Thank you so much for your clarification and kind support. The transition would be much easier than I thought.

[2020-12-28 23:04] JBishopJr opened #288 "Carthage fails to build 5.0.5"
Xcode 12.3, macOS 11.1
Following documented instructions for Carthage iOS update from 5.0.3, version 5.0.5 downloads and builds with an error:

.../Carthage/Checkouts/dropbox-sdk-obj-c/Source/ObjectiveDropboxOfficial/Shared/Generated/ApiObjects/DBTeamPoliciesObjects.m:184:9:  fatal error:  'DBTEAMPOLICIESComputerBackupPolicyState.h'  file not found
#import "DBTEAMPOLICIESComputerBackupPolicyState.

[2020-12-29 14:02] greg-db commented on #288
Thanks, we'll look into it. Can you also let me know what version Carthage you have installed?

[2020-12-29 16:08] JBishopJr commented on #288
0.36.0

------------------------------------------------------------------
John Bishop
Mulligan Software
<mailto:jb@mulligansoftware.com>
<https://www.mulligansoftware.com>
Twitter:  MulliganGolf

[2020-12-29 16:18] greg-db commented on #288
Thanks!

[2021-01-04 12:26] 4marcus commented on #286
@greg-db and @Abbiee I am having a similar issue and setting Apple Clan Warnings `CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER`  to No (avoiding all the warning messages) seems to workaround the crash occurring in the Xcode build service (This is on macOS 11.1, Xcode 12.3, Dropbox SDK 5.0.3 with Carthage).

[2021-01-06 22:42] ram1972 commented on #286
I am having same problem using my iOS app. My app build is crashing only when I tried to install on device and archive build. I have tried using Xcode 12, 12.2, 12.3. Xcode compiler is crashing. If I remove #import <ObjectiveDropboxOfficial/ObjectiveDropboxOfficial.h> and comment out code using dropbox, it works. I am sure it is causing when using dropbox code. Just including SDK using POD will no

[2021-01-07 15:59] greg-db commented on #286
@ram1972 We haven't been able to reproduce this issue here, but there are a number of potential solutions mentioned above. Please give those a try if you haven't already.

[2021-02-08 17:39] kkiplinger commented on #288
I can confirm that dropbox-sdk-obj-c v5.0.5 and v5.0.4 fail to build with the new Carthage 0.37.0 release. However, v5.0.3 does still build properly with Carthage 0.37.0.

[2021-02-08 17:42] greg-db commented on #288
@kkiplinger Thanks for the information!

[2021-03-17 13:18] shriyaMadan commented on #182
Is this issue still there?

[2021-03-17 15:24] greg-db commented on #182
@shriyaMadan Unfortunately we were never able to reproduce the issue reported here. Are you seeing this issue yourself? If so, please share a sample project that demonstrates it so we can look into it.

[2021-04-14 23:57] YufeiG commented on #263
People seem to be hitting it last year on the iOS 14 beta (not dropbox related) but it should be resolved.

Looks like invalid URL error. NSURLErrorUnsupportedURL

409 | Conflict | The request cannot be accepted because the JSON data you have provided conflicts with rules enforced by the API.

I am wondering if the url you are sending is invalid in some way, not that is it non-existent. If you sti

[2021-04-15 15:14] greg-db commented on #281
This should be fixed in the latest version. Please refer to [the updated documentation](https://github.com/dropbox/dropbox-sdk-obj-c#carthage) for more information.

[2021-04-15 15:14] #281 closed

[2021-04-15 15:14] greg-db commented on #282
This should be fixed in the latest version. Please refer to [the updated documentation](https://github.com/dropbox/dropbox-sdk-obj-c#carthage) for more information.

[2021-04-15 15:14] #282 closed

[2021-04-15 15:14] greg-db commented on #288
This should be fixed in the latest version. Please refer to [the updated documentation](https://github.com/dropbox/dropbox-sdk-obj-c#carthage) for more information.

[2021-04-15 15:14] #288 closed

[2021-04-15 18:38] #263 closed

[2021-04-16 20:19] greg-db commented on #252
The documentation has been updated for this. Thanks!

[2021-04-16 20:19] #252 closed

[2021-04-22 14:31] greg-db commented on #284
This is fixed in the latest version of the official Dropbox iOS app, v232.2. Thanks again.

[2021-04-22 14:31] #284 closed

[2021-05-05 19:18] guidedways opened #314 "CFNetwork Asserts when NSURLSession receives HTTP/2 trailers (rdar://26843578)"
Simple API calls using the SDK (such as `DBFILESUserAuthRoles` -> `- (DBRpcTask *)search:(NSString *)path query:(NSString *)query`) on macOS 10.11.6 are causing CFNetwork to assert. This looks like a macOS issue but it doesn't help when the Dropbox SDK is triggering it. Is there any way to make these SDK calls without RPC?

[2021-05-05 19:22] guidedways commented on #314
I should add that everything has been fine for years - Dropbox seems to have changed something at their end, possibly returning data that's triggering this crash on macOS 10.11.x. How can we reach out to the Dropbox backend team and find out what's going on?

[2021-05-05 20:37] greg-db commented on #314
Thanks for the report. I can help look into this and work with the right team internally.

First, to help narrow this down, can you let me know:
- When, to the best of your knowledge, did this start occurring?
- Is this only occurring on macOS 10.11.x specifically? That is, are other versions of macOS 10.x, such as 10.12, etc., unaffected?
- When you refer to "RPC" in your question "Is there any w

[2021-05-05 20:46] guidedways commented on #314
4 or say days ago? I'm not 100% sure but we've been receiving crash reports past few days (only), did not happening a week ago. We haven't updated the app for macOS 10.11 in 3 years, and neither have any of our users received an update of macOS (they all on mac OS 10.11.x).

Only macOS 10.11 it seems. AppCenter crash reports are all about CFNetwork crashes, and are 100% the same asserts as describ

[2021-05-05 20:50] guidedways commented on #314
Okay it started happening on April 24th. So not 4 days, but a couple of weeks. Not a single crash before that. Since then, it's been crashing every single time for all our users. `search:` is the first SDK call we make, and that's when the app crashes.

[2021-05-05 20:59] greg-db commented on #314
Thanks for the additional information! We'll look into it and I'll let you know once I have anything to share.

[2021-05-06 23:36] guidedways commented on #314
@greg-db do we have any news? Our users are getting impatient. The app no longer functions. Crashes at launch as it attempts to sync.

[2021-05-06 23:54] greg-db commented on #314
I don't have an update on this yet. I'll check in with the team.

[2021-05-07 01:44] YufeiG commented on #314
Hi there, can you provide a crash log for the crash?

[2021-05-07 01:54] guidedways commented on #314
Sure

[code]

[2021-05-07 01:55] guidedways commented on #314
As I mentioned, we haven't updated our app for macOS 10.11 in years. This started happening suddenly and all our macOS 10.11 users are seeing the same crash at launch.

[2021-05-07 20:09] YufeiG commented on #314
I've been looking into this and asking around, but haven't discovered anything yet.

I saw this post on Apple forums though https://developer.apple.com/forums/thread/679472 Is this from your side?

[2021-05-07 21:28] guidedways commented on #314
It is indeed. As the Apple engineer relying has suggested- something else has changed, either the server or the environment. All of our users (on macOS 10.11) claim to have not touched their machine at all. It just started crashing one day and now continues to crash, even after a clean re-install. Crash reports are also suggesting it's related to the radar I quoted.

There also have been no securi

[2021-05-08 22:54] guidedways commented on #314
The last update macOS 10.11 received was in 2018 it seems - it's received no update since then, not even a security patch. We haven't updated our app in 3 years so this only means something in Dropbox changed. Was there no change you guys made around April 24th (+/- a week?) that would affect these users?

[2021-05-10 03:37] YufeiG commented on #314
Just confirming, because I know you said all: are there any of your users on any 10.11.x that aren't affected?

Are there anything in common with the users who are affected? For example, were they on a specific release of the sdk?

Is the search query sent a specific query string? Are you able to give the full url request string that is causing the crash?

If it is the same issue as the radar, the

[2021-05-11 16:04] #314 closed

[2021-05-20 04:00] junjie opened #316 "Short-lived tokens not refreshing when app is in background?"
_Originally posted by @greg-db in https://github.com/dropbox/dropbox-sdk-obj-c/issues/287#issuecomment-749612726_

I started using the 6.x SDK, along with the `authorizeFromControllerV2` method that according to the response from @greg-db quoted above, should take care of doing the refreshing so that my app maintains long-term access.

However I'm finding that after a period of time, when my app r

[2021-05-20 17:58] greg-db commented on #316
First, just to clarify, your title says "Long-live tokens not refreshing", however long-lived access tokens don't need to be refreshed; only short-lived access tokens. Did you mean to say "short-lived"?

Anyway, I'm not sure off hand what might cause this, so we'll need to look into it. Can you share the specific steps and code snippets to reproduce this? (Or if possible, a small sample project wo

[2021-05-21 01:47] junjie commented on #316
Hi @greg-db, you're right! I meant to say short-lived tokens are not refreshing (but that's only my suspicion, more info below).

Indeed having a sample project would come in handy for you to diagnose the issue. My project is rather huge and complex by now, so extracting the relevant code, including setting up the background push, and ensuring that the problem reproduces on the sample code would b

[2021-05-21 17:32] greg-db commented on #316
Thanks for the additional information. We'll look into it.

[2021-05-27 03:56] junjie commented on #316
Hi @greg-db, after running it for a few more days, I don't see the error any more. The app seems to be able to call the Dropbox API even in the background now. Perhaps there was some strange bug at that point in time when I encountered the problem. Let's close this for now? Sorry for taking up your time!

[2021-05-27 03:56] #316 closed

[2021-05-27 13:37] greg-db commented on #316
No problem, thanks for the update! We were trying reproduce this but were also unable to do so. Let us know if it recurs though.

[2021-06-24 13:35] strongbox-mark opened #320 "Migration to Scoped Permissions - Production App using old 'authorizeFromController'"
Hello, I would like to migrate to App Permissions and App Tokens as discussed [here](https://dropbox.tech/developers/migrating-app-permissions-and-access-tokens). However I am a little worried about hitting the 'Migrate' button on the 'Permissions' tab for my App in the developer console.

I have a large number of existing users using my App and I need to make sure they are unaffected while I test

[2021-06-24 15:52] greg-db commented on #320
Yes, this scopes migration is also backwards compatible for new authorizations using old code (e.g., `authorizeFromController`). Once an app is migrated to scopes, any authorizations that don't explicitly pass in scopes, such as `authorizeFromController`, will just automatically get whatever scopes you configure for the app on the App Console. So, you just need to make sure you enable all of the s

[2021-06-24 15:52] #320 closed

[2021-06-28 05:52] yoasha commented on #226
Hi All,
Any updates on this issue? Is it already fixed?
I encounter the errors described in this issue for several years now in crash reports coming from my users. However, only now I realize that all these crashes are actually mapped to a known issue which already have a simple solution pending your approval.
Would you be kind enough to apply the proposed fix ASAP and close this issue?

[2021-06-28 14:53] greg-db commented on #226
@yoasha I don't have an update on this right now. I'll check in with the team again.

[2021-06-28 16:16] yoasha commented on #226
Thank you much for the fast response. I think that any bug causing a crash should be on a top priority of any SW provider. This is not a feature request or a minor bug report... This is a crash! Please, if there is any way to escalate and resolve it quickly, we are all going to highly appreciate it.

[2021-06-28 16:45] greg-db commented on #226
@yoasha Thanks for the note. I will emphasize this with the team again.

[2021-06-29 15:40] greg-db commented on #165
This should be fixed in v6.0.1.

[2021-06-29 15:40] #165 closed

[2021-06-29 15:45] greg-db commented on #263
This should be fixed in v6.0.1.

[2021-08-10 22:31] guidedways commented on #226
@greg-db we're getting emails from Dropbox requesting us to use the latest libraries as a number of things have changed / become deprecated. However, this single most important bug has not been fixed in years. We can't possibly switch to a more buggy library. Is there any update on this?

[2021-08-11 15:07] greg-db commented on #226
@guidedways Thanks for the note. I'll check in with the team on this.

[2021-08-11 16:54] greg-db commented on #226
@guidedways The team is reporting that they are looking into and testing a fix for this, but I can't guarantee a timeline on that.

[2021-08-11 21:35] R4N commented on #286
I've experienced this issue as well. The crash does seems to be an Xcode issue, but I suspect it might be related to the number of warnings generated related to "double-quoted include in framework header "xx.h", expected angle-bracketed instead [-Wquoted-include-in-framework-header]"

Here are the steps in which I reproduced it:
1. Create a new Xcode project in Xcode 12.5.1, Objective-C, storyboar

[2021-08-12 15:15] greg-db commented on #286
@R4N Thanks for sharing this detailed information!

[2021-08-19 16:02] greg-db commented on #286
HI all, we've looked investigated and reproduced this issue. While we cannot fix the crash in Xcode itself, to avoid this, for Cocoapods users, we recommend switching to Cocoapods v1.10+ (see [this issue](https://github.com/CocoaPods/CocoaPods/issues/9902) for more information), or for non-Cocoapods users, please disable `CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER`. Thanks!

[2021-08-19 16:02] #286 closed

[2021-09-06 15:26] sdsilverman opened #328 "Dropbox Authorization Handling"
The issue I am having is that when that call to openURL is made, although the DBMobileSafariViewController dialog has been dismissed and is not visible the dismiss has not fully completed.  A call to get the topController still returns the DBMobileSafariViewController.

Is it possible that when dismissing the DBMobileSafariViewController the callback to openURL is made in the completion block of t

[2021-09-07 18:02] greg-db commented on #328
Thanks for writing this up. I can't make any promises, but I'll send this along as a request to the team to move this to that completion handler.

[2021-09-07 18:55] sdsilverman commented on #328
Thank you Greg.  Right now I have a workaround where I call dispatch_after on the main queue waiting 1 second and by then the Authorization screen is fully dismissed by then and I can display my UIAlertController.  But for completeness when the call back is called the Authorization screen should already be fully dismissed.

[2021-09-15 15:53] greg-db commented on #226
We've released an update that should fix this issue in v6.2.0. Please give that a try and let us know if you're still seeing any issues. Thanks!

[2021-09-15 15:53] #226 closed

[2021-09-15 15:53] greg-db commented on #216
We've released an update that should fix this issue in v6.2.0. Please give that a try and let us know if you're still seeing any issues. Thanks!

[2021-09-15 15:53] #216 closed

[2021-09-16 03:04] junjie opened #330 "NSKeyedUnarchiver warnings when running on iOS 15 RC device with Xcode 13 RC on Dropbox 6.2.0 SDK"
Not sure if these were present before the RC, but I just happened to notice them today:

[code]

Running iOS 15.0 (19A344) on iPhone XS.

[2021-09-16 15:40] greg-db commented on #330
Thanks for the report! We'll look into it.

[2021-09-24 14:28] yoasha commented on #248
Hi,
Originally, I reported these warnings for Xcode 11, however, we are already on Xcode 13 and I still see dozens of warnings.
Can you please handle this?

[2021-09-24 19:00] greg-db commented on #248
This is still open with the team, but I don't have an update on it. I'll follow up here once I do.

[2021-11-02 06:35] NSStalker opened #334 "Crash in DBDelegate"
Hello there.

I use Your SDK 6.0.0 in my iOS app.

Here is the crash I found in FirebaseCrashlytics:

![Screenshot 2021-11-02 at 09 32 46](https://user-images.githubusercontent.com/5647878/139797491-c7cfd6f6-4068-4f91-87c9-68b6b2174ba4.png)

[2021-11-02 06:37] NSStalker opened #335 "C rash DBTransportDefaultClient.m"
Hello there.

I use Your SDK 6.0.0 in my iOS app.

Here is the crash I found in FirebaseCrashlytics:

![Screenshot 2021-11-02 at 09 36 46](https://user-images.githubusercontent.com/5647878/139797936-286022ea-d6d0-4c9c-8b20-68344c08178e.png)

[2021-11-02 06:40] NSStalker opened #336 "Another yet crash in DBDelegate"
Hello there.

I use Your SDK 6.0.0 in my iOS app.

Here is the crash I found in FirebaseCrashlytics:

![Screenshot 2021-11-02 at 09 39 41](https://user-images.githubusercontent.com/5647878/139798280-05c7702d-2156-4570-acef-fea63bb28ee3.png)

[2021-11-02 06:42] NSStalker opened #337 "Crash in DBFILESUserAuthRoutes"
Hello there.

I use Your SDK 6.0.0 in my iOS app.

Here is the crash I found in FirebaseCrashlytics:

![Screenshot 2021-11-02 at 09 41 53](https://user-images.githubusercontent.com/5647878/139798493-14f93b61-3e6f-41b1-bc85-549dccd667bf.png)

[2021-11-02 06:49] NSStalker opened #338 "And another yet crash in DBDelegate"
Hello there.

I use Your SDK 6.0.0 in my iOS app.

Here is the crash I found in FirebaseCrashlytics:

![Screenshot 2021-11-02 at 09 49 05](https://user-images.githubusercontent.com/5647878/139799216-ce61edf3-a0e1-4c6c-a699-ed18e20bba72.png)

[2021-11-02 15:40] greg-db commented on #334
Thanks for reporting these! Do you happen to know the steps to reproduce this? Likewise, if you can share the relevant code/parameters that the app was running at the time of the crash, that may be helpful.

Also, the latest version of the SDK is v6.2.0, which contains a few bug fixes since v6.0.0, so please update to v6.2.0 and let us know if that seems to resolve any of these. Thanks!

[2021-11-02 15:40] greg-db commented on #335
Thanks for reporting these! Do you happen to know the steps to reproduce this? Likewise, if you can share the relevant code/parameters that the app was running at the time of the crash, that may be helpful.

Also, the latest version of the SDK is v6.2.0, which contains a few bug fixes since v6.0.0, so please update to v6.2.0 and let us know if that seems to resolve any of these. Thanks!

[2021-11-02 15:40] greg-db commented on #336
Thanks for reporting these! Do you happen to know the steps to reproduce this? Likewise, if you can share the relevant code/parameters that the app was running at the time of the crash, that may be helpful.

Also, the latest version of the SDK is v6.2.0, which contains a few bug fixes since v6.0.0, so please update to v6.2.0 and let us know if that seems to resolve any of these. Thanks!

[2021-11-02 15:40] greg-db commented on #337
Thanks for reporting these! Do you happen to know the steps to reproduce this? Likewise, if you can share the relevant code/parameters that the app was running at the time of the crash, that may be helpful.

Also, the latest version of the SDK is v6.2.0, which contains a few bug fixes since v6.0.0, so please update to v6.2.0 and let us know if that seems to resolve any of these. Thanks!

[2021-11-02 15:40] greg-db commented on #338
Thanks for reporting these! Do you happen to know the steps to reproduce this? Likewise, if you can share the relevant code/parameters that the app was running at the time of the crash, that may be helpful.

Also, the latest version of the SDK is v6.2.0, which contains a few bug fixes since v6.0.0, so please update to v6.2.0 and let us know if that seems to resolve any of these. Thanks!

[2021-11-02 16:43] NSStalker commented on #334
Yes, I anticipated this question, but unfortunately, I don't know the exact steps either, and I can only guess. I suspect the app's module is waiting for changes to the DropBox’s folders using specific cursors.
[waiting_for_db_changes.zip](https://github.com/dropbox/dropbox-sdk-obj-c/files/7462518/waiting_for_db_changes.zip)

Just in case I attached fragments of the code. The suspect module is:
**

[2021-11-02 16:47] NSStalker commented on #338
Yes, I anticipated this question, but unfortunately, I don't know the exact steps either, and I can only guess. Also, I can't reproduce the crash. I suspect the app's module is waiting for changes to the DropBox’s folders using specific cursors.

Just in case I attached fragments of the code. The suspect module is:
KPDBSyncContentChangesObserver.

[waiting_for_db_changes.zip](https://github.com/dr

[2021-11-02 16:48] NSStalker commented on #337
Yes, I anticipated this question, but unfortunately, I don't know the exact steps either, and I can only guess. Also, I can't reproduce the crash. I suspect the app's module is waiting for changes to the DropBox’s folders using specific cursors.

Just in case I attached fragments of the code. The suspect module is:
KPDBSyncContentChangesObserver.

[waiting_for_db_changes.zip](https://github.com/dr

[2021-11-02 16:49] NSStalker commented on #336
Yes, I anticipated this question, but unfortunately, I don't know the exact steps either, and I can only guess. Also, I can't reproduce the crash. I suspect the app's module is waiting for changes to the DropBox’s folders using specific cursors.

Just in case I attached fragments of the code. The suspect module is:
KPDBSyncContentChangesObserver.

[waiting_for_db_changes.zip](https://github.com/dr

[2021-11-02 16:49] NSStalker commented on #335
Yes, I anticipated this question, but unfortunately, I don't know the exact steps either, and I can only guess. Also, I can't reproduce the crash. I suspect the app's module is waiting for changes to the DropBox’s folders using specific cursors.

Just in case I attached fragments of the code. The suspect module is:
KPDBSyncContentChangesObserver.

[waiting_for_db_changes.zip](https://github.com/dr

[2021-11-02 16:58] greg-db commented on #334
Thanks!

[2021-11-04 21:24] yoasha commented on #334
This issue also happens on my end. I see quite a lot of crashes, mostly on DBDelegate line 35 or 32, but sometimes on different lines. Seems like a memory related issue which can't be reproduced easily.
Also note that I'm using the latest version of v6.2.0
This seems to be relatively new issue as I didn't encounter it in the past (it started appearing in recent months)
I'm currently trying to inve

[2021-12-07 02:59] chokNight opened #342 "[NSKeyedUnarchiver validateAllowedClass:forKey:] allowed unarchiving safe plist type ''NSString' (0x1d6465058)"
Xcode version
13.1

dropbox-sdk-objc-c
6.2.0

Dependency Manager
CocoaPods

Goals
During the launch of the app, i am receiving following warning messages in Xcode Debug console.

2021-12-07 10:47:53.124193+0800 DropBoxTest[3636:91933] [general] *** -[NSKeyedUnarchiver validateAllowedClass:forKey:] allowed unarchiving safe plist type ''NSString' (0x1d6465058) [/Applications/Xcode.app/Contents/Devel

[2021-12-07 16:45] greg-db commented on #342
Thanks for the report. This appears to be a duplicate of #330, so I'll close this in favor of that one. Please subscribe to that issue for updates.

[2021-12-08 18:14] NSStalker commented on #334
Hello there.

Any news?

[2021-12-08 21:09] greg-db commented on #334
@NSStalker This is still open with the team, but I don't have any update on it right now.

[2021-12-09 14:33] yoasha commented on #334
@greg-db I know that this issue is tricky to reproduce, as I also can't reproduce it in dev environment. However, since I am using Google Crashlytics, I wonder if your team would like to get some logs to better understand the cause of this crash. You can send me detailed log requirements or even Dropbox sources files, and I can integrate them into my code. Then, once a crash is reproduced in my ap

[2021-12-09 14:48] greg-db commented on #334
@NSStalker Thanks for the note.

@yoasha Thanks for the offer! I'll bring this up with the team to see if this is something we could do.

[2022-02-19 20:23] bsabiston opened #350 "Cannot compile iOS app - it's looking for old SDK in Carthage/Build/iOS?"
I'm updating an old iOS app for the first time in 3 years.  The old version was using the Carthage-installed SDK, which resided in Carthage/Build/iOS/ObjectiveDropboxOfficial.framework.

The new version is a directory up, at Carthage/Build/ObjectiveDropboxOfficial.xcframework.

I updated to the new version, and my app compiled and ran, and it even passed validation for the App Store.
I figured I d

[2022-02-19 21:10] bsabiston commented on #350
Ah, nevermind, I found the problem.  I guess the old version added a Run Script step to the build phases to copy the SDK.  I had to delete that.

[2022-02-22 16:40] #350 closed

[2022-03-10 09:26] yoasha commented on #334
Hi,
Just following up on this issue. Please note that I still see in my crash reports many crashes in DBDelegate and wonder if you got any progress?
I realize that this issue is problematic to reproduce, as I fail to reproduce it either on my development environment, no matter which XcodeI diagnostics tools I enable. However, as I previously mentioned, these crashes are reproduced on a daily basis

[2022-03-10 16:16] greg-db commented on #334
Thanks for the notes. This is still open with the team, but I don't have anything new to share unfortunately.

[2022-03-10 16:36] yoasha commented on #334
Thanks for your quick response. Is there any chance you can discuss this with the team and check for a more precise status? For example, is anyone actively working on it?
I just wish to mention, that I use DropboxSDK for many years and encountered crashes in the past that you eventually fixed. However, the crashes of this issue appear at a much higher frequency! Please do your best to fix these cr

[2022-03-10 16:50] greg-db commented on #334
@yoasha I can't make any promises myself, but yes, I'm bringing this up with the team.

[2022-03-24 06:27] rajubd49 opened #351 "DropboxAuthError with error content "expired access token""
Our iOS app is basically implemented using Objective C and we use ObjectiveDropboxOfficial to login to dropbox. The app was working fine for a long time, but for the past few days, we are facing an access token expiration issue. If we log in today and try to fetch files the next day, we are getting this error and we need to relink or login again for the dropbox to work.

Error log:

DropboxAuthErr

[2022-03-25 20:28] tidrop commented on #351
@rajubd49 It seems like you're experiencing short lived tokens expiring. The Obj-C SDK handles automatic refreshing of expired tokens. Please take a look at the example [here](https://github.com/dropbox/dropbox-sdk-obj-c#begin-the-authorization-flow) for how this is implemented.

[2022-03-26 06:09] rajubd49 commented on #351
@tidrop Thank you for your response, we've solved the issue.

[2022-03-26 06:09] #351 closed

[2022-04-11 19:19] greg-db commented on #240
For reference, the Dropbox API has been updated to suppress email notifications as well when using `quiet`.

[2022-04-21 05:14] OneEye237171 opened #352 "Root"
![Valid XHTML](https://w3.org/Icons/valid-xhtml10)

[2022-04-28 20:14] michaelkircher opened #353 "batchUploadFiles not returning since 6.3.0"
Since version 6.3.0 all calls to batchUploadFiles are not calling the completion handler. Switching back to 6.2.3 makes it work again.

[2022-04-28 20:46] greg-db commented on #353
Thanks for the report! I'll ask the team to look into it.

[2022-05-02 20:42] greg-db commented on #353
This is fixed in v6.3.2. Thanks again!

[2022-05-02 20:42] #353 closed

[2022-05-04 05:52] michaelkircher commented on #353
Works, thanks for the fast fix.

[2022-05-10 14:51] LGriffioen commented on #330
I'm seeing this as well with SDK 6.3.2 on macOS Monterey and Xcode 13

[2022-05-13 08:04] tienjp68 commented on #351
@rajubd49
I am also getting this error
Can you show the solved code?
Thank you very much!

[2022-05-13 08:11] rajubd49 commented on #351
@tienjp68 My problem was, in podfile we did specified version 3.x.x which was not working anymore for short lived tokens expiring issue. So we've updated ObjectiveDropboxOfficial to it's latest version which is I believe 6.2.3 and it resolves our problem.

[2022-05-13 17:39] tienjp68 commented on #351
@rajubd49
Thank you very much!

[2022-05-13 18:50] tienjp68 commented on #351
@rajubd49
I have reinstalled pod but func "AuthozeFromControllerV2" is not in DBClientsManager+MobileAuth-iOS file,
do you know why?

target 'Kodomomenkyo' do
  # Uncomment the next line if you're using Swift or would like to use dynamic frameworks
  use_frameworks!

  # Pods for Kodomomenkyo
  pod 'ObjectiveDropboxOfficial'
end

target 'Kodomomenkyo_dev' do
  # Uncomment the next line if you're u

[2022-05-13 21:38] greg-db commented on #351
@tienjp68 Note that you have a typo in your comment; make sure you don't also have the same typo in your code. The method is named "authorizeFromControllerV2" not "AuthozeFromControllerV2". The `authorizeFromControllerV2` method is defined [here in DBClientsManager+MobileAuth-iOS.m](https://github.com/dropbox/dropbox-sdk-obj-c/blob/696c3d49e827c0f979c04d0b850cb3ac0c3756cc/Source/ObjectiveDropboxOf

[2022-05-16 17:11] tienjp68 commented on #351
@greg-db
Cause is missing:
platform :ios, '9.0'
Thank you very much!

[2022-09-15 13:42] babulk opened #357 "ODBoxHandler - NSErrorFailingURLKey=https://api.dropbox.com/2/files/list_folder"
Getting empty files.

[ODBoxHandler] Error fetching files: DropboxClientError[{
    NSError = "Error Domain=NSURLErrorDomain Code=-1000 \"(null)\" UserInfo={_NSURLErrorRelatedURLSessionTaskErrorKey=(\n    \"LocalDataTask <2ED1C890-FEEC-491C-B69F-DDF74778EEE2>.<2>\"\n), _NSURLErrorFailingURLSessionTaskErrorKey=LocalDataTask <2ED1C890-FEEC-491C-B69F-DDF74778EEE2>.<2>, NSErrorFailingURLKey=https://ap

[2022-09-15 13:47] greg-db commented on #357
I see a reference to "ODBoxHandler" which is not part of this official Dropbox Objective-C SDK. It appears to be part of [this third party library](https://github.com/danielbierwirth/DropboxBrowser). As that's not made by Dropbox, we can't offer support for that.

If you need help with the Dropbox API or official Dropbox Objective-C SDK itself, please share the relevant code and steps to reproduce

[2022-09-28 16:20] babulk commented on #357
**ODBoxHandler is a third party. I understood. The following code is where I am getting error.

I have tried without using the third party also, still got error.**

@property (nonatomic, strong, nullable) DBUserClient *mainClient;

[[self.mainClient.filesRoutes listFolder:parentDirectory] setResponseBlock:^(DBFILESListFolderResult * _Nullable result, DBFILESListFolderError * _Nullable routeError,

[2022-09-28 16:21] babulk commented on #357
is there any location specific condition is there?

I am trying to login in India. I am getting error. If the same credentials used by onsite developers(USA) then they are not seeing any error to fetch the files.

[2022-09-28 17:26] greg-db commented on #357
Your location itself shouldn't matter to the operation of the Dropbox API, but your connection to the Dropbox servers does depend on the routing you get between your ISP and our servers, and may be subject to a number of other factors.

For instance, might your ISP be blocking these connections, or is there anything on your network connection, such as a firewall, proxy, VPN, anti-virus, etc., that

[2022-09-29 11:25] iOSCuriosity opened #358 "Warning while validating build with pod ObjectiveDropboxOfficial (version 7.0.0)"
`App Store Connect Operation Error`
`The app references non-public selectors in Payload/PTM.app/Frameworks/ObjectiveDropboxOfficial.framework/ObjectiveDropboxOfficial: showLoading`

iOS Deployment Target : 13.0

[2022-09-29 13:25] greg-db commented on #358
This appears to be a false positive in Apple's tooling. There's [a discussion about this here](https://www.dropboxforum.com/t5/Dropbox-API-Support-Feedback/Error-when-uploading-binary-on-iOS-with-Xcode-14-and-using/td-p/622696). You may need to reach out to Apple regarding that.

[2022-09-29 13:25] #358 closed

[2022-09-29 16:09] babulk commented on #357
Thank you. Issue resolved. As part of our app, If we disable transport then it worked. I able to see the files now.

[2022-09-29 16:09] #357 closed

[2022-10-05 05:08] aronnelson opened #359 "Non public sectors - (void)showLoading"
How can I fix this error in Xcode 14:

The app references non-public selectors in Payload/xxxxxx.app/Frameworks/
ObjectiveDropboxOfficial.framework/ObjectiveDropboxOfficial:showLoading

[2022-10-05 13:27] greg-db commented on #359
This appears to be a false positive in Apple's tooling. There's [a discussion about this here](https://www.dropboxforum.com/t5/Dropbox-API-Support-Feedback/Error-when-uploading-binary-on-iOS-with-Xcode-14-and-using/td-p/622696). You may need to reach out to Apple regarding that.

[2022-10-05 13:27] #359 closed

[2022-10-05 19:17] #270 closed

[2022-10-25 16:29] babulk opened #360 "Required request Body for "/files/list_folder" API"
Need complete request headers and Body example for the following API.

https://api.dropbox.com/2/files/list_folder

**Currently We are sending the following:**

**serializedArg:**
{"include_non_downloadable_files":true,"include_deleted":false,"recursive":false,"include_media_info":false,"include_mounted_folders":true,"path":"","include_has_explicit_shared_members":false}

**headers:**
{
  Authoriz

[2022-10-25 20:38] #360 closed

[2022-11-15 11:49] xjki opened #361 "Improve build time by splitting super large autogenerated .m files into smaller ones"
Context: https://twitter.com/russshanahan/status/1592352159135191040

Currently largest .m file is DBTeamLogObjects.m - more than 180K lines of code with more than 5MB raw text. It alone takes more than 30 seconds to compile with Xcode14 on 3,2 GHz 6-Core Intel Core i7 Mac.

Second largest .m file is DBTeamObjects.m - more than 40K lines of code.

As these files are autogenerated anyway, it would

[2022-11-15 16:14] greg-db commented on #361
Thanks for the detailed message! I can't make any promises myself, but I'm sending this along to the team.