[2016-07-20 22:40] scobbe opened #1 "Finish up error handling, non-409 error handling"

[2016-07-20 22:41] scobbe opened #2 "Finish up upload and download endpoints"

[2016-07-20 22:45] scobbe opened #3 "support aliases"

[2016-07-20 22:59] scobbe opened #4 "Accept nil as default for parameter"

[2016-07-20 23:02] scobbe opened #5 "support OAuth flows"

[2016-07-20 23:02] scobbe opened #6 "Support teamendpoints"

[2016-07-20 23:03] scobbe opened #7 "Add user message to API error handling"

[2016-07-20 23:04] scobbe opened #8 "expose request id"

[2016-07-20 23:06] scobbe opened #9 "External user agent support, Dropbox agent support string"

[2016-07-20 23:08] scobbe opened #10 "Update License readme"

[2016-07-20 23:09] scobbe opened #11 "Look at V1 SDK Compatibility"

[2016-08-02 00:44] scobbe opened #12 "Support structured 429 responses"

[2016-08-02 00:55] scobbe opened #13 "Add example app"

[2016-08-17 20:28] #1 closed, assigned to nobody

[2016-08-17 20:28] #2 closed, assigned to nobody

[2016-08-17 20:28] #4 closed, assigned to nobody

[2016-08-17 20:28] #5 closed, assigned to nobody

[2016-08-17 20:28] #6 closed, assigned to nobody

[2016-08-17 20:28] #7 closed, assigned to nobody

[2016-08-17 20:28] #8 closed, assigned to nobody

[2016-08-17 20:28] #9 closed, assigned to nobody

[2016-08-17 20:28] #12 closed, assigned to nobody

[2016-08-28 16:55] olliwang opened #14 "Failed to download files"
Hi, I was trying to download a file but always failed to access the downloaded file contents. I tried `downloadURL:overwrite:destination:`, it did return a response with correct metadata and no errors. But still, the file at the url it returned never exists. I also tried the `downloadData:` method. There is no error as well but the returned data is always `nil`.

It seems the error happens in `DBX

[2016-08-29 17:46] scobbe commented on #14
Hey @olliwang: Thanks so much for reaching out and identifying this issue – and pointing us to the source of the problem as well! Looks like we were unnecessarily double-queuing events with the `[_delegateQueue addOperationWithBlock` calls in all of the `NSURLSessionTaskDelegate` response handler functions. Given that our delegate was already using `_delegateQueue`, it was unnecessary (and in this

[2016-08-30 03:46] olliwang commented on #14
The issue is gone in the latest commit. Thanks @scobbe. 👍

[2016-08-30 03:46] #14 closed

[2016-08-30 13:51] olliwang opened #15 "`clientModified` never updates after uploading"
Hi, @scobbe. I was trying to use the `uploadURL:mode:autorename:clientModified:mute:inputURL` method with `overwrite` mode to upload a file and update the `clientModified` attribute at the same time. However, it seems the `clientModified` value never updated. The corresponded `DBXFILESFileMetadata` object always reports the old value no matter how many times I tried to alter it. Does the SDK cache

[2016-08-30 17:12] greg-db commented on #15
Yes, that's correct, if you upload the exact same data to a given path, Dropbox won't update the metadata since nothing really changed.

[2016-08-30 17:15] #15 closed

[2016-08-31 13:16] xaphod opened #16 "Podspec has wrong pod name"
Hi! Thanks for making an obj-c SDK that we can use for API v2!
Looks like you're "released". I followed instructions for Pods, ie. `pod 'ObjectiveDropboxOfficial'`, but there's no pod known with that name. Looks like in your podspec you're still just called `ObjectiveDropbox`. Perhaps you didn't rename & push to cocoapods repo yet?

[2016-08-31 15:14] xaphod opened #17 "Umbrella header file?"
Small improvement suggestion: create a `"Dropbox.h"` which imports all the necessary header files, using `#ifdef` to determine platform if necessary.

Example why: I import the header file mentioned in the tutorial, I attempt the tutorial code `[[[client.filesRoutes createFolder...` to create a folder, and I get a compile error of `Property filesRoutes cannot be found in forward class object 'Drop

[2016-08-31 18:49] xaphod opened #19 "Crash on nil progressHandler"
I don't use progressHandlers. This crashes currently because the handler block is set as an object in an NSDictionary, which throws an uncaught exception when nil.

**I made a pull-request to fix this**: https://github.com/dropbox/dropbox-sdk-obj-c/pull/18

[2016-08-31 18:51] xaphod opened #20 "Creating a folder that already exists yields unexpected error"
Hi again! Hope this isn't too many issues filed in one day :)
When attempting to create a folder that already exists, I was expecting something in the routeError that would allow me to detect this, rather than having to look at error and sniff a 409 statusCode.
Is my expectation reasonable?

    [[[client.filesRoutes createFolder:subfolderName] response:^(DBFILESFolderMetadata *result, DBFILESCrea

[2016-08-31 19:10] scobbe commented on #16
Thanks @xaphod. We'll be pushing out a build to CocoaPods later today! I've updated the .podspec to correctly use `ObjectiveDropboxOfficial`

[2016-08-31 19:10] #16 closed

[2016-08-31 19:10] scobbe commented on #17
Thanks @xaphod. Good idea. I went ahead and did that!

[2016-08-31 19:10] #17 closed

[2016-08-31 19:14] scobbe commented on #19
@xaphod: Thanks a lot! Just merged

[2016-08-31 19:14] #19 closed

[2016-08-31 19:23] scobbe commented on #20
@xaphod: Not at all! Really appreciate the help :)

In this case, you actually are getting a structured response that informs you of the conflict. It's a little bit buried, though. I added a bit to the README on [error handling](https://github.com/dropbox/dropbox-sdk-obj-c#user-content-route-specific-errors) which might be helpful.

But as far as the example you brought up specifically, this might

[2016-08-31 19:32] xaphod commented on #20
Yup I like that a lot better than looking at the statusCode, thanks. Closing.

[2016-08-31 19:32] #20 closed

[2016-08-31 20:11] scobbe commented on #20
@xaphod: I think what was confusing was the description method for the error type gave you a confusing result:

[code]

I've updated the repo, so now it should give you the following result:

[code]

[2016-09-01 01:42] xaphod opened #21 "How to share an uploaded file that the server auto-renamed?"
Sorry if I overlooked something obvious...
I need to upload a file and then share it.  Sounds simple but not when server-renaming is desired & switched on.

Steps:
1. I upload a file, with the policy that the server should rename if there is a collision (there's a high chance there will be a collision in this app, so renaming is necessary)
2. In the return of uploadURL, I only get a `DBFILESFileMe

[2016-09-01 17:06] greg-db commented on #21
@xaphod The returned metadata should be for the actual resulting file, including the potentially renamed name. I just tried this out and confirmed it's working for me.

One thing to watch out for though is if you're uploading the same exact data as already exists at the path, that won't be considered a conflict (since nothing changed), and so a new/renamed file won't be created.

To answer the res

[2016-09-01 21:25] xaphod commented on #21
Ahhh -- I had just somehow missed that `DBFILESFileMetadata` was a subclass of `DBFILESMetadata`, which exposes name. And I probably wouldn't have guessed that the name property there will change based on server doing autorenaming, thanks for the help there.
Yup, it works! thanks.

[2016-09-01 21:25] #21 closed

[2016-09-04 16:01] pedro-bread opened #24 "No CocoaPods specification"
Am I missing something? The unofficial project is available though.

[!] Unable to find a specification for `ObjectiveDropboxOfficial`

[2016-09-04 16:21] #24 closed

[2016-09-06 02:53] amoshsueh opened #25 "Is this official release?"
1. ObjectiveDropboxOfficial is not found in CocoaPod, only ObjectiveDropbox is available.
2. No DropboxSDKImports.h for import.
3. No DropboxClientsManager class or 'setupWithAppKey' api.

I can't use this SDK, please help!

[2016-09-06 06:22] scobbe commented on #25
Hi @amoshsueh, sorry about the trouble you're experiencing. Please try re-running the CocoaPods command. The production release of the SDK was not on the CocoaPods server a few hours ago. Please try again now and let me know if the problem is solved.

[2016-09-06 06:28] #10 closed

[2016-09-06 06:28] #3 closed

[2016-09-06 06:29] #11 closed

[2016-09-06 16:21] greg-db commented on #24
For reference, this SDK wasn't live on CocoaPods at the time this issue was opened, but it is now, so the normal CocoaPods installation method should work now.

[2016-09-07 03:28] xaphod commented on #25
@scobbe  It is not working for me either: when I use the master cocoapods repo, I can get the ObjectiveDropboxOfficial pod, but it only contains a LICENSE and README.md.
Please check the podspec you pushed to the cocoapods master repo, probably it has a wrong version number, or, you've tagged something wrong

[2016-09-07 05:11] scobbe commented on #25
@xaphod: Things for the ping. Yup, you're right, issue with the version number. Should be fixed now.

[2016-09-07 12:12] amoshsueh commented on #25
@scobbe The problem is solved, thanks.

[2016-09-07 12:12] #25 closed

[2016-09-07 12:17] amoshsueh opened #26 "How to unlink the dropbox account?"

[2016-09-07 17:51] greg-db commented on #26
@amoshsueh Depending on exactly what functionality you're looking for, you can use one or more of:
- [`DropboxClientsManager.unlinkClients`](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DropboxClientsManager.html#/c:objc(cs)DropboxClientsManager(cm)unlinkClients)
- [`DBOAuthManager.clearStoredAccessToken`](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/D

[2016-09-07 17:51] #26 closed

[2016-09-07 17:56] amoshsueh commented on #26
@greg-db Appreciate your help!

[2016-09-07 22:38] Dejal opened #27 "Change references to OS X to macOS"
With macOS Sierra in GM, it doesn't make sense to have new documentation and comments referring to the old OS name.

[2016-09-08 01:32] scobbe commented on #27
Good idea. This fixed by 94ac252.

[2016-09-08 01:32] #27 closed

[2016-09-08 03:29] Dejal opened #28 "Something wrong with repo for stone"
The `stone` item in the repo web view is listed as `stone @ aa400c5`, and shows a 404 when clicked. Cloning the project in GitHub Desktop shows an uncommitted change (that I didn't do):

    - Subproject commit aa400c5a23a2c4822c77c3bcab87703bea4bfa48
    + Subproject commit a69b888936a8a69037cadb72ebb6679efc8d0d8f-dirty

[2016-09-08 03:33] scobbe commented on #28
Hmm not sure what went wrong – we'll be posting the full `stone` repo code tomorrow. Right now, the commit hash points to a local commit, not to a remote commit, which might explain your issue. Given that the `stone` code is just for the SDK generation, this hopefully shouldn't block on you on anything. I'll ping this thread when we have an actual reference to a commit on the remote `stone`

[2016-09-08 04:55] Dejal commented on #28
Thanks. Possibly related, when I try building my Mac app with the embedded project included (installed via the "**Manually add subproject**" instructions), if I try:

    #import "DropboxSDKImports.h"

I get the error:

    'DropboxSDKImports.h' file not found

If I try:

    #import <ObjectiveDropboxOfficial_OSX/DropboxSDKImports.h>

I get the error:

    Dropbox/Source/ObjectiveDropboxOfficial/P

[2016-09-08 07:55] scobbe commented on #28
@Dejal: Thanks for pointing this out. Looks like the refactor from 94ac252 broke the main project. Try pulling the repo again and let me know if it works.

As far as the *DBRoulette* project, it's getting an update tomorrow. The *TestObjectiveDropbox_macOS* should be working now.

Let me know! Thanks for the help.

[2016-09-08 21:02] Dejal commented on #28
That seemed to work better.

I had to change the `#import` to:

    #import <ObjectiveDropboxOfficial_macos/DropboxSDKImports.h>

instead of just `#import "DropboxSDKImports.h"` as in the readme.

Also, I get a bunch of warnings like:

    <module-includes>:1:1: Umbrella header for module 'ObjectiveDropboxOfficial_macOS' does not include header 'DBAUTHAuthError.h'
    <module-includes>:1:1: Umbrel

[2016-09-09 16:59] olliwang opened #29 "`client_modified` does not match format error."
Hi, I got an error message when trying to upload a file. It seems something is wrong when converting the `NSDate` object.

    Error in call to API function "files/upload": HTTP header "Dropbox-API-Arg": client_modified: time data '2016-09-08T8:38:19 PMZ' does not match format '%Y-%m-%dT%HM:%SZ'.

[2016-09-09 17:35] greg-db commented on #29
@olliwang Can you share the code you're using to reproduce this? Thanks in advance!

[2016-09-09 17:40] olliwang commented on #29
Thanks for reply. Here it is.

    NSDate* fileModificationTime = [NSDate date];
    NSDictionary* fileAttributes = [fileManager
      attributesOfItemAtPath:localFileURL.path error:nil];
    if (fileAttributes != nil) {
    fileModificationTime = [fileAttributes fileModificationDate];
    }

    DBUploadTask* task = [client.filesRoutes
      uploadUrl:targetURL
      mode:[[DBFILESWriteMode alloc

[2016-09-09 18:47] greg-db commented on #29
Thanks! We'll look into it.

[2016-09-09 20:52] scobbe commented on #29
@olliwang: Thanks for the heads up. You were correct, the issue came from the localization (using a 12 hour clock in a 24 hour default region). 41e099e should fix the issue.

Let me know if the issue persists or if anything else comes up.

[2016-09-09 20:52] #29 closed

[2016-09-09 23:18] Dejal opened #30 "Migrating from v1 to v2 API"
I'm working on migrating a Mac project from the v1 to v2 API, and finding it slow going.  The API has changed significantly, with the v2 more complex and hard to find documentation and examples.

These are issues I have currently; I'd appreciate advice (and enhancements if missing functionality):

1. With the v1 API, I used the following call to load metadata only for files that had changed since

[2016-09-10 16:39] lvandal commented on #28
Seems like the original issue is back after the latest commit. Carthage fails with this error:

`A shell task (/usr/bin/env git checkout --quiet 41b599f2636a983d7cf8e59ac4e9a5cacbf02af0) failed with exit code 128:
fatal: reference is not a tree: 41b599f2636a983d7cf8e59ac4e9a5cacbf02af0`

[2016-09-12 11:02] rodionovd commented on #30
Hi @Dejal! While I'm not one of the authors of this SDK I've played a little bit with it today and here's what I found out:

They basically renamed *hash* to *cursor* in V2, so what you need is `-listFolderContinue:` method of the SDK. See the [docs](https://www.dropbox.com/developers/documentation/http/documentation#files-list_folder-continue) for details.

The thing is that `DBFILESMetadata` is

[2016-09-12 17:22] greg-db commented on #30
Thanks Dmitry, and thanks for the feedback on the docs!

For reference, there is a section on using `is<TAG_STATE>` methods here:

https://github.com/dropbox/dropbox-sdk-obj-c#handling-responses-and-errors

To fill in the rest of the answers:

3) Getting a shared link with a short URL via API v2 is only available via the deprecated [`-createSharedLink:shortUrl:pendingUpload:`](https://dropbox.gith

[2016-09-12 17:22] #30 closed

[2016-09-12 18:01] rodionovd commented on #30
@greg-db you're right: there's a section in the docs about this, but "unions" and "structs" are very uncommon in Objective-C, so I find it hard to wrap my head around them.

Take, for instance, this sentence:

[2016-09-12 18:07] rodionovd commented on #30
@greg-db you're right: there's a section in the docs about this, but "unions" and "structs" are very uncommon in Objective-C, so I find it hard to wrap my head around them.

Take, for instance, this sentence:

Well, I (personally) can't see how a struct type can be an object (aka a reference type) at the same time. Sure, Objective-C doesn't have first-class struct types (unlike Swift) but it still

[2016-09-12 18:31] Dejal commented on #30
Thanks for the answers to my questions.

Re `-createSharedLink:shortUrl:pendingUpload:`, please add a non-deprecated method that includes a short URL option.

For what it's worth, I think the API design is overly complex, and really not a good fit for ObjC and Cocoa standards.  I understand that it's machine-converted from a non-native API, so your options are limited.  I just wanted to provide fe

[2016-09-12 18:40] scobbe commented on #30
@rodionovd: Thanks for reaching out. I can try and update the documentation to make it a little clearer. Let me know if this explanation makes more sense.

First off, the "structs" and "unions" terminology is specific to our API, and not to any of the languages that are used to query our API, so I would avoid thinking of them in terms of their Objective-C definition.

"Struct" in our API context i

[2016-09-12 18:54] rodionovd commented on #30
@scobbe thanks for clarification! I wasn't aware that this is your API terminology, so that was the root cause of my miscommunication with the docs I guess.

Unfortunately I think that I'm not alone here and there will be other Objective-C developers who will try to figure out what this terminology means in terms of this particular language and programming patterns that are common in Cocoa. After

[2016-09-13 23:06] scobbe commented on #28
@lvandal @Dejal: Sorry for all the hassle. Been ironing out some kinks. Things should be more stable now.

@Dejal: I think I fixed the umbrella header warnings issue, so let me know if you see that after downloading the latest version.

@Ivandal: the `reference is not a tree` error should be gone as well

As far as imports, going forward, only these import statements are necessary:

`#import <Obje

[2016-09-13 23:06] #28 closed

[2016-09-13 23:07] #13 closed

[2016-09-14 07:07] rodionovd opened #31 "Delete multiple files/folders at once"
There's a method in Dropbox API called [`/delete_batch`](https://www.dropbox.com/developers/documentation/http/documentation#files-delete_batch) which is pretty useful for deleting multiple items with just one network request. It would be nice to see this API wrapped into the SDK.

I'm aware that this method alone is not enough and you also need to call [`/delete_batch/check`](https://www.dropbox.

[2016-09-14 16:27] greg-db commented on #31
Thanks for the request! That endpoint is new and will be included in this SDK the next time it is regenerated.

[2016-09-14 18:18] rodionovd commented on #31
Awesome, thanks!

[2016-09-15 12:58] kfujino7 opened #32 "Path expression for the root folder"
When trying to list the contents of the root folder, it has to be specified @“” rather than @“/“. If specified @“”, following error occurs
_[client.filesRoutes listFolder:@"/"]_
Error loading metadata: DropboxBadInputError[{
    ErrorContent = "Error in call to API function \"files/list_folder\": request body: path: Specify the root folder as an empty string rather than as \"/\".";
    StatusCode

[2016-09-15 16:45] greg-db commented on #32
This is expected. With Dropbox API v2, the root is expressed as empty string `""`, and non-root paths are expressed with a leading slash, e.g. `"/test.txt"`.

[2016-09-15 16:45] #32 closed

[2016-09-17 08:27] olliwang opened #33 "App always crashes after many requests."
Hi, my app always crashes after using a while. So I tried to find out why and turn out it seems the SDK always causes my app crash after about 660 download requests.

Here's my experiment to produce the crash.
1. Putting a lot of files in a Dropbox folder.
2. Use `DBFILESRoutes`'s `downloadData:` method to download the file one by one.
After about 660 requests, the app crashes without reason. The

[2016-09-17 11:57] #33 closed

[2016-09-17 14:05] mathieugarcia opened #34 "ObjectiveDropboxOfficial_macOS.h doesn't exist"
Hello !

I'm using the SDK for both iOS & macOS. Everything is fine for my iOS target but, on macOS, the ```ObjectiveDropboxOfficial_macOS.h``` file is nowhere to be found. I checked every directories and it's not there. The ObjectiveDropboxOfficial pod is at version 1.0.8. Some verbose from ```pod update```:

[code]

I could include ```DropboxSDKImportsDesktop.h``` manually but that's not the poi

[2016-09-17 17:41] Prarik opened #35 "Get name of logged in user"
How do I get the name of logged in user. I am trying with below code and I think something is missing implementing completion handler.

[code]

Can someone Help?

Thanks,
Pratik

[2016-09-18 00:51] mathieugarcia commented on #35
The display name is here: ```account.name.displayName```

[2016-09-18 07:00] Prarik commented on #35
@mathieugarcia Thanks for the help but I meant that something wrong in the syntax of completion handler I was writing.

I figured it out it should be like below.

[code]

[2016-09-18 07:00] #35 closed

[2016-09-18 16:46] rodionovd opened #36 "Why is there an assertion in +[DropboxClientsManager unlinkClients]?"
If there're no authorized clients `+resetClients` is a simple no-op (like it should be), but `+unlinkClients` crashes due to the failed assertion:

[code]

What are the caveats of clearing the empty keychain?

Thanks!

[2016-09-19 20:43] bvirlet opened #37 "Don't embed Reachability"
This causes duplicate symbols when using Reachability in our main app. Please either make it an explicit dependency, or rename the class to avoid conflicts.

[2016-09-21 03:52] scobbe commented on #34
Really sorry for all of the confusion around import statements. The SDK finally has a consistent import policy that should work regardless of platform. Please pull the latest version of the SDK (v1.0.9) and use the following import statements:

`#import <ObjectiveDropboxOfficial/ObjectiveDropboxOfficial.h>`

Please let me know if this resolves your issue. Thanks for your patience.

[2016-09-21 03:53] scobbe commented on #36
Good point, there really aren't any caveats. The latest version of the SDK (v1.0.9) removes this assert statement. Thanks!

[2016-09-21 03:53] #36 closed

[2016-09-21 03:54] scobbe commented on #37
Thanks for pointing this out. The latest version of the SDK (v1.0.9) renames the publicly visible names to have `DB` in front of them. Let me know if this resolves the namespace clash you were experiencing. Thanks!

[2016-09-21 08:04] bvirlet commented on #37
Thanks, I have looked at the change and this will address the issue.

🙇

[2016-09-21 08:04] #37 closed

[2016-09-21 23:45] mathieugarcia commented on #34
Just updated to v1.0.9 and it indeed fixed the issue.
Thanks for providing a quick solution to this problem.

Mathieu.

[2016-09-22 11:27] mathieugarcia commented on #34
Hi again,

Now my iOS target tries to include the OSX header.
I'm importing the header as follow: ```#import <ObjectiveDropboxOfficial/ObjectiveDropboxOfficial.h```.

Mathieu.

[2016-09-22 16:38] scobbe commented on #34
@mathieugarcia: Thanks for reaching out again. Sorry you're running into difficulties. How did you import the SDK? via CocoaPods, Carthage or as a subproject?

Can you confirm for me that the target membership for each of the `ObjectiveDropboxOfficial.h` files is correct for each target?

For example, the `ObjectiveDropboxOfficial.h` for macOS has membership only to the correct ObjectiveDropbox ma

[2016-09-22 17:27] mathieugarcia commented on #34
Hey @scobbe thanks for the quick reply.

I'm using CocoaPods, I can see two ObjectiveDropboxOfficial.h files in the "Pod > ObjectiveDropboxOfficial" group:

![screen shot 2016-09-22 at 19 25 43](https://cloud.githubusercontent.com/assets/416792/18758944/71503a00-80fa-11e6-8b46-da45b6a30f76.png)

- The first one is located here: ```Source/ObjectiveDropboxOfficial/ObjectiveDropboxOfficial_iOS/Object

[2016-09-22 18:10] mathieugarcia commented on #34
Some more information:

In the ```Pods/Headers/Public/ObjectiveDropboxOfficial``` directory I can see this symlink:
```ObjectiveDropboxOfficial.h -> ../../../ObjectiveDropboxOfficial/Source/ObjectiveDropboxOfficial/ObjectiveDropboxOfficial_macOS/ObjectiveDropboxOfficial.h```

I thought that could help you as well.

[2016-09-22 18:22] Prarik opened #38 "How to check which file is latest local or the one inside dropbox folder?"
I am working on project where I have to upload/download files between my iOS device and dropbox folder.

Now I have a file named **"Filename.txt"** in my iOS app as well as in my dropbox folder.

How do I check which one is latest copy?

In dropbox api v1 there was a property called **"revision" = "123"** which was number and now that is deprecated and a new property called **"rev" = "f30099771a"*

[2016-09-22 18:24] greg-db commented on #38
Hi @Prarik the `rev` value you mentioned is what you should use. You should store the `rev` of the file when you download a copy. Later, you can compare that stored value against the one reported in the API for the metadata for that file. If the value is different, you know that the file changed and so you should download the new version, if you want.

[2016-09-22 18:24] #38 closed

[2016-09-22 18:38] Prarik commented on #38
Hello @greg-db thanks for the quick response. Wow really fast!!! and thanks again for providing Objective C version of this api.

**Filename = “Employee.txt”**

 Let’s say “rev” by default is “Empty” when I create my file in iOS device, I come to sync and check for empty that means I will upload that file to dropbox as that file does not exist on dropbox yet.

Now once file is uploaded I set “rev”

[2016-09-22 18:48] greg-db commented on #38
I wouldn't recommend relying on the concept of "latest", since that's not reliable. (E.g., different devices may have different clock skew, etc.)

Instead, when you make a local change to the local file, you upload the new version of the file, e.g., using [-uploadUrl:mode:autorename:clientModified: mute:inputUrl:](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBFILESRoutes.ht

[2016-09-23 13:40] lvandal opened #39 "Can't compile with Carthage"
Been having this error:

`A shell task (/usr/bin/xcrun xcodebuild -project /Users/[some path]/Vendor/Carthage/Checkouts/dropbox-sdk-obj-c/Source/ObjectiveDropboxOfficial.xcodeproj CODE_SIGNING_REQUIRED=NO CODE_SIGN_IDENTITY= CARTHAGE=YES -list) failed with exit code 74:
xcodebuild: error: Unable to read project 'ObjectiveDropboxOfficial.xcodeproj' from folder '/Users/[some path]/Vendor/Carthage/Ch

[2016-09-23 13:43] lvandal commented on #39
Deleting the checked out files and re-running Carthage solved the issue.

[2016-09-23 13:43] #39 closed

[2016-09-23 19:56] scobbe commented on #34
@mathieugarcia: Thanks for bringing this issue up and thanks for your patience. It should be resolved now.

Try pulling from CocoaPods again (same version v1.0.9), but it should work now.

Make sure to clear your local CocoaPods cache before pulling:

`rm -rf "${HOME}/Library/Caches/CocoaPods"`

And make sure to clear other CocoaPods data:

`rm -rf MyProject.xcworkspace`
`rm -rf Pods`
`rm Podfile.

[2016-09-23 22:48] mathieugarcia commented on #34
Hello @scobbe !

Followed the steps and both iOS & macOS targets work perfectly.

Thanks a lot !
Cheers,
Mathieu.

[2016-09-23 22:48] #34 closed

[2016-09-25 14:54] vinacc opened #40 "Upload error"
Hello to all,
I'm implementing the project within my app. I have a problem during the upload of a file on Dropbox.

This is the code I use

[code]

and that the error I get

[code]

How can I fix?

[2016-09-26 09:36] rodionovd commented on #40
Hello!

The problem seems to be that you're trying to upload a file to the path that already exists in Dropbox — so there's a conflict (as the error implies). Try to use `-uploadData:mode:autorename:clientModified:mute:inputData:` method for uploading files instead with an appropriate WriteMode (see [`DBFILESWriteMode.h`](https://github.com/dropbox/dropbox-sdk-obj-c/blob/9ba22e25fbaffbf48b1b3ff09d

[2016-09-26 15:53] smarx commented on #40
@vinacc Make sure you're passing a _full path_ to where the file should be saved in Dropbox. In your example, you're using `@"/archive"`, and the error indicates that this path contains a folder right now. You probably want to pass something like `@"/archive/backup_archive.txt"`.

And then, as @rodionovd points out, if you want to overwrite the file that's there, be sure to use a write mode to ind

[2016-09-26 19:00] vinacc commented on #40
Thank you both for the help but it still does not work.

[[[client.filesRoutes uploadData:@"/archive" inputData:fileData] is not taking any / (slash) then it seems unable to enter the correct path to the file.

[2016-09-26 19:34] smarx commented on #40
@vinacc I'm not sure what you're saying. Can you share the updated version of your code (where you pass a full path)?

[2016-09-26 20:04] vinacc commented on #40
looks up the code.

[2016-09-26 20:59] smarx commented on #40
I didn't understand "looks up the code."

The code in your message still has just `@"/archive"` in it, instead of `@"/archive/backup_archivetxt"` or something similar.

Have you tried adding a full path?

[2016-09-26 21:29] vinacc commented on #40
The code is this:

[code]
[code]
I can not get to overwrite the file if it exists. If there is properly created. But I can not overwrite.
Using uploadData:mode:autorename:clientModified:mute:inputData: I still mistakes. What is the correct mode to overwrite?

[2016-09-26 21:52] smarx commented on #40
As I said above: "See the documentation for [`-uploadData:mode:autorename:clientModified:mute:inputData:`](http://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBFILESRoutes.html)."

Your code doesn't use that method. Can you share the code where you try to use it and what happened?

[2016-09-26 21:56] vinacc commented on #40
The code that uses Dropbox is this:

[code]

[2016-09-26 22:03] smarx commented on #40
You're calling [`-uploadData:inputData:`](http://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBFILESRoutes.html#/c:objc(cs)DBFILESRoutes(im)uploadData:inputData:), but you need to call [`-uploadData:mode:autorename:clientModified:mute:inputData:`](http://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBFILESRoutes.html#/c:objc(cs)DBFILESRoutes(im)uploadData:mode:autore

[2016-09-27 10:23] AnnaKotova opened #41 "Failed to cancel a file download"
Hi all,

I have issue in case when file downloding should be cancelled by user:
NSInvalidArgumentException (reason: '*** -[NSFileManager moveItemAtPath:toPath:error:]: source path is nil’) in
 `- (DBDownloadUrlTask *)response:response:`

 It happens in following part of code in your library:
[code]

 I use following method for download: `downloadUrl: overwrite: destination:`
[code]
and this one fo

[2016-09-27 15:22] lvandal opened #42 "Umbrella header 'ObjectiveDropboxOfficial.h' not found"
Using Carthage to get the latest version. File seems to be missing.

[2016-09-27 17:19] scobbe commented on #42
@lvandal: Sorry about that. Issue with header file visibility being set to "project" rather than "public".

Issue should be fixed now. Please re-pull latest version (v1.0.10) from Carthage and let me know if it works now for you. Thanks for your patience.

[2016-09-27 17:40] scobbe commented on #41
@AnnaKotova: Thanks for reporting this issue. Sorry that you're having problems. Would you mind posting a copy of the stack trace that is printed out when the error happens?

[2016-09-27 18:03] lvandal commented on #42
Solved. Thanks for the quick turnaround!

[2016-09-27 18:03] #42 closed

[2016-09-27 18:07] scobbe commented on #41
@AnnaKotova: Actually, I found the issue! Please disregard my last request.

3d9dca1 should resolve your problem. Please pull the latest version of the Obj-C SDK (v1.0.11).

Let me know if this solves your problem! Thanks for your patience.

[2016-09-28 08:07] AnnaKotova commented on #41
@scobbe: Thank you so much! Issue is fixed and functionality works fine.

[2016-09-28 15:59] cgilboy opened #43 "DBReachability status enumerators conflict with Reachability status enumerators"
The fix for https://github.com/dropbox/dropbox-sdk-obj-c/issues/37 does not appear to add prefixes to the actual status values `{ NotReachable = 0, ReachableViaWiFi, ReachableViaWWAN }`. These conflict with the status values in Reachability and cause the build error `Redefinition of enumerator`.

Maybe change them to `{ DBNotReachable = 0, DBReachableViaWiFi, DBReachableViaWWAN }`?

Thanks!

[2016-09-28 17:32] #41 closed

[2016-09-28 18:07] scobbe commented on #43
@cgilboy: Thanks for the feedback – sorry about that! Looked like I missed those when adding the `DB` prefixes to the other Reachability types.

d6e0012 should fix this. Go ahead and grab the latest version of the SDK (v1.0.12) and let me know if the issue persists.

[2016-09-28 19:56] cgilboy commented on #43
Looks good! Thanks for the quick update.

[2016-09-28 21:46] cgilboy commented on #43
One more change: `kReachabilityChangedNotification` will conflict with Reachability's notification name at link time. If renamed to `kDBReachabilityChangedNotification`, all is well :)

[2016-09-28 21:55] scobbe commented on #43
@cgilboy: Ah, sorry! Try pulling v.1.0.12 again (if you're using CocoaPods, make sure to clear cache with `rm -rf "${HOME}/Library/Caches/CocoaPods"`) and let me know if that fixes it

[2016-09-28 22:10] cgilboy commented on #43
Thanks! All good now.

[2016-09-28 22:10] #43 closed

[2016-09-29 09:49] Moussy opened #44 "Pod don't support ObjectiveDropboxOfficial"
pod search ObjectiveDropboxOfficial
[!] Unable to find a pod with name, author, summary, or descriptionmatching `ObjectiveDropboxOfficial`

[2016-09-29 16:20] scobbe commented on #44
@Moussy: The Objective-C SDK should be properly integrated with CocoaPods. Please run the following commands:

[code]

[2016-09-29 16:20] #44 closed

[2016-09-29 19:20] scobbe commented on #31
@rodionovd: Ok, eee9f4f updated the SDK (v1.1.0) to include the `/delete_batch` endpoint, among other things. Let us know if you run into any issues using it!

[2016-09-30 02:59] #31 closed

[2016-09-30 07:04] Moussy commented on #44
@scobbe:  My cocoapod version is 1.1.0. Beta. 2, I can't search ObjectiveDropboxOfficial in cocoapods.
<img width="575" alt="f1249888-9afd-4542-9dae-ffa585472ce3" src="https://cloud.githubusercontent.com/assets/22519249/18983296/80ff09fc-871e-11e6-96b5-7f1a756605bb.png">
Are you sure I can pass cocoa pods import the SDK? Why I can't search in the cocoapods？
Thank you very much.

[2016-09-30 17:15] scobbe commented on #44
@Moussy: Sometimes your local copy of the CocoaPods master repo can be corrupted.

Were you able to run `rm -rf ~/.cocoapods` to remove your local copy and `pod setup` to rebuild it?

If you did that, and you're still unable to search for `ObjectiveDropboxOfficial`, then please ensure that you're using the latest version of of CocoaPods by running the following command:

`gem install cocoapods`

I

[2016-10-02 18:15] ranapnea opened #45 "listFolderContinue - hasMore issue"
I have observed infinite loop when using listFolderContinue - call. In my code, I check for DBFILESListFolderResult instance ".hasMore" which returns YES and then pass the ".cursor" to the next call. The result is that I get the files but then I keep seeing hasMore = YES while "entries" is empty. The cursor value always changes from one call to another.

The expected behaviour was that when there

[2016-10-02 18:56] doRadiology opened #46 "create_oauth2_access_token() missing?"
Will the Objective-c SDK implement the /token_from_oauth1 endpoint to migrate an OAuth 1 tokens to an OAuth 2 tokens?

Thanks

[2016-10-03 01:11] programmerbird commented on #45
Dropbox's `hasMore` is weirdly `NSNumber`. Not `BOOL` type. You will need to do something like this:

    BOOL hasMore = [cursor.hasMore boolValue];

[2016-10-03 15:33] ranapnea commented on #45
Closing this one - my bad indeed. Did not check that hasMore is NSNumber type in this API.

[2016-10-03 15:33] #45 closed

[2016-10-03 18:25] scobbe commented on #46
@doRadiology: We're in the process of setting up an API v2 endpoint that is analogous to /token_from_oauth1, in addition to a migration tool in the SDK that should automatically convert your users' stored OAuth 1.0 tokens to OAuth 2.0 tokens.

We don't have an exact timetable for when the endpoint and the tool will be done, but it is our number one priority with the SDK right now, so hopefully we

[2016-10-03 18:53] scobbe commented on #45
@programmerbird: Thanks for pointing this out.

We do use `NSNumber` objects to represent boolean values because sometimes we need to represent nullability with in our API results.

It's a bit of an awkward experience for the user of the SDK, though. I just added a [note](https://github.com/dropbox/dropbox-sdk-obj-c#handle-the-api-response) to the README about it.

[2016-10-03 20:04] doRadiology commented on #46
That sounds hopeful, thanks.

[2016-10-04 03:41] kalsky opened #47 "header file not found"
Hi

I tried to follow the guide on how to integrate into my project (using Carthage), but I'm stuck at the import line:
`#import <ObjectiveDropboxOfficial/ObjectiveDropboxOfficial.h>`
giving me an error that it cannot be found.

I saw this issue was fixed in 1.1.0 (and I checked the code that is downloaded when running the Carthage update command, and it looks like the above file is marked as publ

[2016-10-04 15:22] shammatime opened #48 "Issue with Single Sign-On for Business Account Trial"
When utilizing single sign-on, the authentication view that is displayed does nothing after the continue button is selected(a loading spinner is displayed and the button becomes in active). This occurs when the Dropbox application is not installed on the device forcing the sdk to use the internal authentication method. I have tested my use case with the Dropbox application and I am redirected corr

[2016-10-04 17:01] OneSecure opened #49 "Can not support iOS 6 and iOS 7."
Do you have any plan to support iOS 6 and iOS 7? Thanks.

[2016-10-04 18:23] scobbe commented on #47
@kalsky: Thanks for reaching out and sorry that you're running into issues. Can you confirm for me the following:

- you added the `.xcodeproj` file as a subproject, rather than as a separate workspace? (i.e. when you dragged and dropped the file, you should be sure that no window popped up prompting you to create another workspace)

- you performed a clean build in Xcode (cmd + option + shift + k

[2016-10-04 18:24] greg-db commented on #49
I can't make any promises, but I'll pass this along as a feature request.

[2016-10-04 20:58] greg-db commented on #48
Thanks for the report @shammatime . This should work, and I can't reproduce the behavior you're seeing.

Once SSO is detected for the entered email address, the "Single sign-on enabled" text should be shown, with the "Continue" button underneath. Clicking that does successfully redirect me to the SSO provider I'm testing with (OneLogin).

What provider are you using? Are you still seeing this issu

[2016-10-04 21:21] shammatime commented on #48
Hey Greg,  thanks for the response. I am using Ping for my provider. The same Ping provider works fine when utilizing it with the Dropbox application.

Inside my application there are no errors in the console after I select continue. The dropbox authentication page just stays static. I though this might be an ATS issue but have disabled it in my application and it still does not work. Right now I

[2016-10-04 21:43] scobbe commented on #48
@shammatime: Thanks for your reply. Would you mind confirming for us that you experience this problematic behavior both in the in-app webview auth flow, as well as the browser redirect auth flow?

That is, can you confirm that this behavior is exhibited when `browserAuth` is both `YES` and `NO` here:

[code]

[2016-10-05 02:48] xaphod opened #50 "Broken support for iOS 8.4 in a recent update"
Now I know why so many users are getting crashes, and Crashlytics isn't picking it up!
Try running your host app with this pod in iOS simulator 8.x ...
[code]

[2016-10-05 03:05] xaphod commented on #50
Ah. Just saw you fixed this 5 hours ago.

If you wanted to keep task.priority, you could simply add "CFNetwork" to the podspec iOS frameworks line, ie. `s.ios.frameworks = 'UIKit', 'Webkit', 'SystemConfiguration', 'Foundation', 'CFNetwork'`

[2016-10-05 03:05] #50 closed

[2016-10-05 14:28] shammatime commented on #48
Hey @scobbe,

I don't use the exact call as above. Here is my code
[code]

I tried with 'browserAuth' set to 'YES'. The problem is nothing occurs when the value is 'YES'. If the value is 'NO', the authentication view(Inside my application) is displayed but I have the same problem as stated in my original post. This all occurs without the Dropbox application installed.

[2016-10-06 16:32] kalsky commented on #47
@scobbe thanks for your reply.
When using this method ("manually add subproject" as it is called in the instructions) it works.
But I was referring to the other method (under "Carthage" in the instructions) - I want to use just the framework, without having the subproject. So maybe something is missing in the documentation there.

Is there a meaningful difference between the 2 approaches?

[2016-10-06 22:03] scobbe commented on #47
@kalsky: Oh, sorry, I misread. Hmm, I'm still able to successfully import v1.1.1 of the SDK after following the instructions under the "Carthage" section of the README, and with the following line in my code:

`#import <ObjectiveDropboxOfficial/ObjectiveDropboxOfficial.h>`

To answer your question, there is in fact a meaningful difference between importing the SDK as a subproject, and simply addin

[2016-10-06 22:25] scobbe commented on #48
@shammatime: Thanks for the code. I think it clears things up a little bit.

To begin, it appears that you're using the `openURL` closure as an auth response handler. That's not quite what it's for. The `openURL` closure is really just a wrapper around the sensitive `[[UIApplication sharedApplication] openURL:url]` call (which is not [app extension safe](https://developer.apple.com/library/content

[2016-10-07 05:55] kalsky commented on #47
Thanks for the detailed explanation, it does make sense.
In my case, I'd like to use it as a black box, so I'm using the built .framework.
I managed to do the full project clean (cmd + option + shift + k), which is probably not the same as going to the project menu and use the clean option from there..
With the keyboard shortcut it cleaned it well and then it was able to find the umbrella header.

[2016-10-07 05:55] #47 closed

[2016-10-08 21:34] Dejal opened #51 "Crash on macOS 10.10"
Apple just rejected an app with the Dropbox SDK, as it crashed when running on macOS 10.10.5.

Your documentation says it supports macOS 10.10+, though the Deployment Target in the project is set to 10.11.

Crash report excerpt:

    Exception Type:        EXC_BREAKPOINT (SIGTRAP)
    Exception Codes:       0x0000000000000002, 0x0000000000000000

    Application Specific Information:
    dyld: lau

[2016-10-09 21:00] scobbe commented on #51
@Dejal: Sorry for the inconvenience. I updated the macOS project to 10.10. All the unit tests passed, so it should work just fine with that deployment target version. Let me know if you run into any other issues.

[2016-10-11 06:55] tonysong185 opened #52 "Wrong message - 'Please enter a CAPTCHA response'"
Reproduce stage:
1. Enter wrong password or wrong name.
2. Enter right name and password.
3. Show the wrong message 'Please enter a CAPTCHA response', but the CAPTCHA not showing.

How can I resolve the issue? - 'Please enter a CAPTCHA response'

Thank you very much!
![dropbox](https://cloud.githubusercontent.com/assets/16331435/19261171/e46ecf76-8fc1-11e6-897a-a914abb48278.png)

[2016-10-11 07:18] Moussy commented on #44
@scobbe : My problem has been solved, thank you very much.

[2016-10-11 16:41] scobbe commented on #52
@tonysong185: Thanks for reaching out. Currently, we are unable to reproduce this issue on our end. The CAPTCHA shows up normally for us.

Could you confirm a couple of things for us:

1. Is the problem still present? Perhaps it was a transient issue and is no longer an issue.

2. Are you able to connect to www.google.com? Perhaps your firewall, proxy, ISP block, etc. is interfering with your abil

[2016-10-12 02:42] tonysong185 commented on #52
@scobbe : Thanks for your reply. I still have this problem and I can connect to www.google.com normally.

Add: My test app is the sample app DBRoulette. When I tap link 'New to Dropbox? Get the App!'  whether we should jump to a new page? I can't jump now.

[2016-10-12 20:03] greg-db commented on #52
Thanks @tonysong185 . Can you also let us know what version(s) of iOS you're seeing this on as well as what version(s) of the Dropbox Objective-C SDK itself you're seeing this with? Thanks in advance!

[2016-10-13 01:51] tonysong185 commented on #52
@greg-db : Thanks for you response. My iOS version is iOS 8.0+ and the Dropbox Objective-C SDK is master branch of the latest version. My  Xcode version is 7.3.

[2016-10-13 03:41] scobbe commented on #52
@tonysong185: Thanks for supplying the additional info. We've been able to reproduce the issue on our end with iOS < 9, and are looking at making a fix ASAP. I'll update this thread when the fix is out. Thanks for your patience.

[2016-10-13 05:57] tonysong185 commented on #52
@scobbe I can also reproduce this issue with iOS 9.0+, from your side can you see the CAPTCHA image with iOS 9.0+?

[2016-10-14 09:55] bvirlet opened #53 "More modular Pod to speed up compilation times"
We use the Dropbox SDK in Genius Scan only to let user export documents to Dropbox. We don't rely on any sharing or team feature.

The entire SDK contains ~430 Objective-C among which we use very little. This takes a good amount of compilation time.

I would love to see a more modular pod with subspec (https://guides.cocoapods.org/syntax/podspec.html#subspec) to make it lighter.

Thanks!

[2016-10-14 17:50] greg-db commented on #53
Thanks for the request! We'll look into it.

[2016-10-14 22:12] greg-db commented on #52
We're still investigating this, but we don't have a timeline right now. Thanks in advance for your patience.

[2016-10-18 23:17] scobbe commented on #51
@Dejal: Were you able to successfully submit your app to the App Store?

[2016-10-18 23:18] scobbe commented on #48
@shammatime: Any update here? Did my comments make sense? I know I wrote a lot...

Are you still running into issues?

[2016-10-18 23:40] Dejal commented on #51
@scobbe: Yes, that seemed to fix it.  Thanks!

[2016-10-18 23:47] scobbe commented on #51
@Dejal: Great to hear! 👍

[2016-10-18 23:47] #51 closed

[2016-10-20 14:44] shammatime commented on #48
@scobbe This can be closed for now. We are making some changes internally to our test IDP's so I am not currently able to test this. Thank you for your help.

[2016-10-20 15:02] SomersJan opened #55 "How to acquire file metadata based on file id?"
I understand that each and every file has an unambiguous identifier.

In my application, when I download a file, I store the file id and other metadata somewhere.

At a given moment I want to get an updated metadata result for this file. How do I do this? I've searched the sdk and I know you can get the metadata by specifying the path. But what if that path has changed since my last 'save'.

For i

[2016-10-20 18:04] greg-db commented on #55
You can get the metadata for a file or folder based on its file ID using the `filesRoutes `[`getMetadata`](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBFILESRoutes.html#/c:objc(cs)DBFILESRoutes(im)getMetadata:) method like this:

        [[client.filesRoutes getMetadata:@"id:i8PhgWY5-aAAAAAAAAAAAQ"] response:...];

That is, pass in the item's `id` string as the parameter t

[2016-10-20 18:04] #55 closed

[2016-10-20 18:39] scobbe commented on #48
@shammatime: Ok, will do. If you end up having the same problem once you make the changes, please reach back out. Good luck!

[2016-10-20 18:39] #48 closed

[2016-10-21 06:33] SomersJan commented on #55
Thanks for your reply. I have found this method in the sdk as well but was wondering if there was a direct way or not. Guess I'll have to do 'getMetaData' first and than list the revisions of that file and check afterwards whether I have the most up to date revision.

[2016-10-21 21:02] greg-db commented on #55
Generally we recommend storing the `rev` of the copy of the file you have locally. If the `rev` in the returned metadata doesn't match the `rev` you have stored locally, you know your copy may not up be up to date.

[2016-10-24 00:46] holyman2k opened #56 "ld: framework not found"
Hi, I run into an issue with this library using cocoapods
I recieved an compile time error on a plain project
ld: framework not found Webkit
clang: error: linker command failed with exit code 1 (use -v to see invocation)

the Podfile

platform :ios, '10.0'
use_frameworks!

target 'TestDropbox' do

pod 'ObjectiveDropboxOfficial'

end

Anyone have any ideas why? ps removing use_frameworks! does not

[2016-10-24 09:48] Moussy opened #57 "How to get all files in dropbox by DropboxClient?"
Now I have the authority is successful, I need to call a method for current account all of the files, what should I do?
Thank you very much.

[2016-10-24 17:56] greg-db commented on #57
Hi @Moussy you can use the [`listFolder`](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBFILESRoutes.html#/c:objc(cs)DBFILESRoutes(im)listFolder:recursive:includeMediaInfo:includeDeleted:includeHasExplicitSharedMembers:) (with `recursive`) and [`listFolderContinue`](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBFILESRoutes.html#/c:objc(cs)DBFILESRoute

[2016-10-24 17:56] #57 closed

[2016-10-24 20:18] greg-db commented on #56
Hi @holyman2k , what version of Xcode are you using, and what's your project's deployment target? Thanks in advance!

[2016-10-25 04:16] Moussy commented on #57
@greg-db Thank you very much, I have got all files.
Now encountered a new problem, I need to give our service side preach a url, and then they via the url to get the file information, but Dropbox file list back, no I need the url.
My engineers are discussed, and the android they still use is DBChooser, but we use the last version DBChooser now has a problem, always pop up please install Dropbox.
1

[2016-10-25 17:28] greg-db commented on #57
@Moussy I'll be happy to help further, but I'm not sure I understand your questions.

You can still use the Dropbox Chooser, and if you're experiencing any issues with it, please share the details, e.g., your code and the steps to reproduce the issue, the version of the SDK and platform, etc. That's not on GitHub though, so feel free to open that as a thread on our forum: https://www.dropboxforum.

[2016-10-27 12:47] Twv opened #58 "Support for partial file download"
I've read through the API documentation (and github issues), but cannot find a way to create a request for partial file download (e.g. first 10.000 bytes).
I've only found how to download the whole file:

[code]

Is there a way (maybe I have missed it) to only download a part of the file using the API?
I know it is possible to make requests for file parts using REST calls, but then I cannot use th

[2016-10-27 18:04] greg-db commented on #58
This isn't implemented in the SDK unfortunately, but we'll consider it a feature request.

[2016-11-01 00:29] holyman2k commented on #56
XCode 8.1 and deployment target 8.0.
I've tested with deployment target 10.0 and still have the same error

[2016-11-01 00:34] greg-db commented on #56
Thanks! We'll look into it.

[2016-11-01 00:51] holyman2k commented on #56
Thank you Greg

[2016-11-01 13:59] cesgarma commented on #46
Hi. Is there an update on the progress for this migration tool??
Thanks,
Cesar

[2016-11-01 17:36] mylaneza commented on #56
The same problem here XCode 8.0 target ios 8.0

[2016-11-01 17:46] greg-db commented on #46
The endpoint, [/2/auth/token/from_oauth1](https://www.dropbox.com/developers/documentation/http/documentation#auth-token-from_oauth1), is now available, but it's not implemented in this SDK yet.

[2016-11-01 17:52] cesgarma commented on #46
Thanks for the update. I am looking forward to this feature being in the SDK. Any expected time frame for implementation on this SDK?

[2016-11-01 17:53] greg-db commented on #46
I don't have a timeline to offer right now.

[2016-11-03 04:13] Moussy commented on #57
@greg-db My problem has been solved, thank you very much.

[2016-11-08 03:30] scobbe commented on #56
@mylaneza and @holyman2k: Sorry for the delay on our end in getting back to you here.

Could you both confirm with me that you have the .xcworkspace file open and NOT the .xcodeproj file? Sometimes these framework linking issues arise from that.

If you do have the .xcworkspace open, we can debug additionally and get to the bottom of this. Thanks for your patience.

[2016-11-08 03:34] scobbe commented on #56
If the above isn't the problem you're having, would you mind sending me a screenshot of this menu in your project:

![image](https://cloud.githubusercontent.com/assets/17483354/20085920/2bcd3b4a-a521-11e6-82fa-854e27904dd7.png)

[2016-11-08 14:31] wws13 opened #59 "uncatched exception"
Hi
method +[NSJSONSerialization JSONObjectWithData:options:error:]
generate exception when data is nil
so possible need add check for data is nil in method -[DBTask deserializeHttpData:] ?

possible fix (DBTask.m):
[code]

[2016-11-08 21:21] greg-db commented on #59
Thanks for the report @wws13 ! Can you share the steps to reproduce this `nil` `data`, as well as the exception you're getting? Thanks in advance!

[2016-11-08 23:50] holyman2k commented on #56
sorry for the delay in response:
![screen shot 2016-11-09 at 10 49 47 am](https://cloud.githubusercontent.com/assets/729313/20122220/4a22e7ee-a66a-11e6-9bbc-a06ea0eac834.png)

[2016-11-08 23:52] holyman2k commented on #56
Also I'm using xcode on a case sensitive disk, I'm not sure if that's causing the problem.

[2016-11-08 23:58] mylaneza commented on #56
2016-11-08 17:52 GMT-06:00 holyman2k <notifications@github.com>:

[2016-11-09 09:21] wws13 commented on #59
whe I try rename any file on dropbox account with zero space available with method -[DBFILESRoutes move: toPath:]
I receive ecxeption:

[2016-11-09 18:06] scobbe commented on #56
@holyman2k @mylaneza: Thank you both for your replies and for your patience.

One more request – I want to confirm which iOS SDK you're using with Xcode. Would you mind sending me a screenshot from Apple Menu > About this Mac >System Report button > Software > Developer:

![image](https://cloud.githubusercontent.com/assets/17483354/20148959/eb342e9c-a663-11e6-944e-e9cb724726be.png)

Just want to r

[2016-11-09 18:13] mylaneza commented on #56
2016-11-09 12:06 GMT-06:00 Stephen Cobbe <notifications@github.com>:

[2016-11-09 18:58] greg-db commented on #59
Thanks! That's helpful. We're looking into it.

[2016-11-10 00:46] scobbe commented on #59
@wws13: Thanks for pointing this out. 3a49c2d fixes this. We should have a new version out shortly.

[2016-11-10 00:46] #59 closed

[2016-11-10 01:16] scobbe commented on #40
I'm going to go ahead and close this issue as we haven't had any other reports of overwriting uploads.

[2016-11-10 01:16] #40 closed

[2016-11-10 01:17] scobbe commented on #49
I think at this point, we can safely say that we're not going to invest iOS 6 or 7 support at this point, especially with our `WebKit.framework` dependency, which requires iOS >= 8, so I'm going to go ahead and close this.

[2016-11-10 01:17] #49 closed

[2016-11-10 02:52] holyman2k commented on #56
<img width="261" alt="screen shot 2016-11-10 at 1 52 20 pm" src="https://cloud.githubusercontent.com/assets/729313/20162984/ef4bd310-a74c-11e6-985b-5e2e3a973271.png">

[2016-11-10 02:57] scobbe commented on #56
@holyman2k: Thanks for the reply.

Is there anyway that you might be compiling with an older iOS SDK? I'm not totally sure how that might happen, but maybe an older version of Xcode or something is getting in the way.

Last sanity check for you:

![image](https://cloud.githubusercontent.com/assets/17483354/20163055/4c017708-a6ae-11e6-978b-2f9db91c23a3.png)

I want to make sure that you're getting

[2016-11-10 03:34] holyman2k commented on #56
Hey Scobbe

Here is the screenshot, also also tried on a new project with no code just a single pod

![screen shot 2016-11-10 at 2 33 28 pm](https://cloud.githubusercontent.com/assets/729313/20163710/b0d993aa-a752-11e6-8cad-5c5146fcda54.png)

[2016-11-10 22:43] scobbe commented on #56
@holyman2k: Ok, thanks again. This is helpful. Would you mind attaching the full build logs of your project here? We should be able to get to the bottom of it with the logs. Thanks again for your patience.

[2016-11-11 00:29] mylaneza commented on #56
Do you mean this?

2016-11-10 16:43 GMT-06:00 Stephen Cobbe <notifications@github.com>:

[2016-11-11 01:29] holyman2k commented on #56
Scobbe, do you mean the build error log? Anyway, I've included both

![screen shot 2016-11-11 at 12 27 15 pm](https://cloud.githubusercontent.com/assets/729313/20201192/3a01a476-a80a-11e6-9142-f1e2c9e318a1.png)

[Build Writer_2016-11-11T11-21-29.docx](https://github.com/dropbox/dropbox-sdk-obj-c/files/584846/Build.Writer_2016-11-11T11-21-29.docx)

[2016-11-12 00:21] scobbe commented on #56
@holyman2k: Yes, perfect. Thanks for this. I suspect that your framework search path variable might be the source of the problem.

@mylaneza: It'd be great if you could reply via the website, rather than email. It looks like your images are not going through when you reply via email.

Would you both of you mind sending me the output of the following two commands:
- `xcode-select -p`
- `xcodebuild

[2016-11-12 00:35] scobbe commented on #56
@mylaneza: Oh and if you send me your **full** build logs, that would be amazing.

Use the following **Save...** button:

![image](https://cloud.githubusercontent.com/assets/17483354/20234028/151c75de-a82b-11e6-8d5a-d0852ab2075d.png)

Thanks in advance!

[2016-11-12 02:32] holyman2k commented on #56
Scobbe, it's the Build Writer_2016-11-11T11-21-29.docx, I can't upload rtf, so i converted it to docx

[2016-11-12 21:13] markmcminn opened #60 "513 error when running api v 2 on two different devices"
My app uses Dropbox to download files and store them temporarily on the device until they are uploaded to iCloud. I've followed the client.fileRoutes downloadURL method on api v2 exactly as described in the tutorial and it works great on either my iPhone or iPad. But once it's running on one device, I get a 513 error on the other:

NSError = "Error Domain=NSCocoaErrorDomain Code=513 CFNetworkDownl

[2016-11-13 22:27] holyman2k commented on #56
@scobbe: please see details below:

![screen shot 2016-11-14 at 9 25 27 am](https://cloud.githubusercontent.com/assets/729313/20249392/51a8f5b8-aa4c-11e6-8d3a-45a8a29a4a85.png)
[build.txt](https://github.com/dropbox/dropbox-sdk-obj-c/files/588127/build.txt)

[2016-11-14 18:43] mylaneza commented on #56
Here it is

[Build_2016-11-14T12-39-44.txt](https://github.com/dropbox/dropbox-sdk-obj-c/files/590191/Build_2016-11-14T12-39-44.txt)

[2016-11-14 22:51] scobbe commented on #60
@markmcminn: Thanks for reaching out. Looks like the Dropbox SDK is having trouble moving a recently downloaded file from it's temporary location to it's final destination.

Usually the download flow for the SDK looks like:
- Use `NSURLSession` library to download a file from Dropbox to a temporary (library-defined) location
- Move the file to an SDK-defined temporary location (so it isn't garbage

[2016-11-15 01:26] markmcminn commented on #60
Thanks for the reply. This is a competency based app that is used to give feedback to doctoral students on course assignments. If the assignment is a Word document, for example, the faculty member marks it up on his or her computer and then saves it to a Dropbox file. Then in the iOS app the faculty member completes a rubric, makes comments, and then attaches the file from Dropbox. The email is se

[2016-11-15 04:37] magicboker opened #61 "Could you please support in-app authentication?"
I tried to migrate my old apps to use the v2 API, but my old apps didn't enable background mode, which means it need to authenticate with dropbox in app (without going to background).
Is there any way to do in-app authentication without using the openURL way to callback the app for authentication?

[2016-11-15 05:27] scobbe commented on #52
@tonysong185: Sorry for the long delay. This issue should be fixed now. Would you mind confirming that you can now see the CAPTCHA properly rendered on iOS 8 and iOS 9?

[2016-11-15 07:03] scobbe commented on #56
@holyman2k: Thanks again for your reply.

Looks like your `FRAMEWORK_SEARCH_PATHS` variable is somehow missing the path for where `ObjectiveDropboxOfficial.framework` is.

Try adding `"$PODS_CONFIGURATION_BUILD_DIR/ObjectiveDropboxOfficial"` to your **Framework Search Paths** under ** Your Project** > **Your Build Target** > **Build Settings** > **All**.

![image](https://cloud.githubusercontent.c

[2016-11-15 07:03] scobbe commented on #56
@mylaneza: Would you mind sending me the output of the following two commands:
- `xcode-select -p`
- `xcodebuild -project <MY_PROJECT>.xcodeproj -target "<MY_PROJECT_TARGET>" -showBuildSettings > build_settings.txt`

Thanks!

[2016-11-15 16:21] mylaneza commented on #56
Here you go
[xcodeselectoutput.txt](https://github.com/dropbox/dropbox-sdk-obj-c/files/592535/xcodeselectoutput.txt)
[build_settings.txt](https://github.com/dropbox/dropbox-sdk-obj-c/files/592536/build_settings.txt)

[2016-11-15 18:23] greg-db commented on #61
Hi @magicboker , I'm not sure I fully understand the problem you're running in to. Can you elaborate, and include the relevant code, etc?

This API v2 Objective-C SDK offers the same app authorization flow as the old SDKs, with additional control over whether or not to allow authentication in the browser:

https://github.com/dropbox/dropbox-sdk-obj-c#handling-the-authorization-flow

[2016-11-15 18:35] magicboker commented on #61
I already modified the source codes of your SDK successfully to achieve authentication without UIApplication openURL callback on my apps. close this issue now.

[2016-11-15 18:35] #61 closed

[2016-11-15 19:43] scobbe commented on #56
@holyman2k: You said that you've experienced this issue on a plain project as well when using CocoaPods? Could I ask one more favor of you – would you mind zipping the plain project with the Webkit issue on it and attach it here? I'm having a lot of trouble identifying what's the issue here...

Thank you!

[2016-11-16 05:45] holyman2k commented on #56
@scobbe here is the project
[TestDropbox.zip](https://github.com/dropbox/dropbox-sdk-obj-c/files/593833/TestDropbox.zip)

[2016-11-16 20:04] mylaneza commented on #56
@scobbe in case you did not see them

[xcodeselectoutput.txt](https://github.com/dropbox/dropbox-sdk-obj-c/files/595783/xcodeselectoutput.txt)
[build_settings.txt](https://github.com/dropbox/dropbox-sdk-obj-c/files/595784/build_settings.txt)

[2016-11-16 22:00] AbeIonic opened #62 "Can't sign in to personal account after signing into business account"
After a user signs in with their business account, they can no longer attempt to add an additional account. It will skip the sign in page of the dropbox webview and request that they allow our app to access their files. This is a problem because we need to allow multiple accounts, business and personal.

Even if we delete the access token for the business account, users can no longer sign into a d

[2016-11-16 23:04] greg-db commented on #62
Hi @AbeIonic can you share the relevant code snippet(s) and some screenshots or a screencast showing the issue so we can make sure we reproduce exactly what you're describing? Thanks in advance!

[2016-11-17 18:08] AbeIonic commented on #62
Here are screenshots of our work flow for adding a Dropbox account to our app. First we add an enterprise account with SSO enabled, it redirects us to the SSO sign in, then requests permission from the user. After successfully adding that account we try to add another and it skips the sign in steps and jumps straight to the permission request for the previously added account.

![1](https://cloud.g

[2016-11-17 18:53] greg-db commented on #62
Thanks! To clarify though, are you _only_ seeing this with accounts using SSO, or is it any Business account?

[2016-11-17 23:58] greg-db commented on #62
After further investigation, this does seem to be specific to using the SSO flow. We're looking into it.

[2016-11-18 10:48] magicboker opened #63 "Miss app icon in login page for iPhone (but present in iPad)"
My app used to show app icon in the login page by using v1 API, but it missed app icon when using v2 API with this SDK for iPhone.
Like this
![missing app icon](https://dl.dropboxusercontent.com/u/21305787/dropbox_login_missing_app_icon.png)

[2016-11-18 18:27] greg-db commented on #63
Thanks for the report! The mobile version of the page only shows the Dropbox logo during sign in, but the app's icon is shown next during the app authorization. We'll consider this a request for showing the app icon during sign in on mobile as well.

[2016-11-18 18:32] magicboker commented on #63
Why the app icon was shown in the WebAuth login page on iPad with exactly the same code?
Did your web server detect the client type and shows different result?

[2016-11-18 18:33] greg-db commented on #63
Yes, the iPad has more room so it gets the desktop version of that page.

[2016-11-18 18:36] magicboker commented on #63
You don't need to have extra place to show my app icon.
Where the dropbox icon is shown in SDK v2 used to show my app icon in SDK v1.

[2016-11-18 18:38] greg-db commented on #63
Thanks! I've sent this along to the team to see if we can make that change for v2.

[2016-11-18 18:38] magicboker commented on #63
Thanks, look forward to the change!

[2016-11-18 23:46] markmcminn commented on #60
Now I'm getting the error on both of my devices. The code hasn't changed.

[2016-11-19 00:10] markmcminn commented on #60
Here is the destination url where the file is to be written on the iPad. file:///var/mobile/Containers/Data/Application/D1C08C61-3A05-4113-ADFE-A2A9D103670E/Documents/Attachment1

Here is the error message:
NSError = "Error Domain=NSCocoaErrorDomain Code=513 \"\U201cCFNetworkDownload_MwlHQw.tmp\U201d couldn’t be moved because you don’t have permission to access \U201cDocuments\U201d.\"

UserInfo={

[2016-11-19 00:25] markmcminn commented on #60
Okay, here's a bit more information. I traced the error to the Dropbox Framework. It's occurring in this method:
 - (void)URLSession:(NSURLSession *)session
                 downloadTask:(NSURLSessionDownloadTask *)downloadTask
    didFinishDownloadingToURL:(NSURL *)location

There is a an if (handlerQueue) a few lines in, and then an else {responseHandler(location, downloadTask.response, nil);} c

[2016-11-19 15:44] markmcminn commented on #60
And a bit more information... If I use the client.filesRoutes downloadData method instead of client.filesRoutes downloadUrl, I don't get the 513 error. Everything seems to work fine in terms of progress monitoring and the metadata download, but the NSData object is nil at the end of the download.

[2016-11-20 01:05] markmcminn commented on #60
Got it working today by resetting my devices to factory settings. Perhaps things will work for a while now, but I still think there are some issues here.

[2016-11-22 06:27] xaphod opened #64 "Latest Pod version doesn't compile"
I really hope this is me, but...

Line 5 of source->ObjectiveDropboxOfficial_iOS/DBOAuthMobile.m is to import DBOAuth.h
... which doesn't exist.

So I did a pod update and ObjectiveDropboxOfficial no longer compiles (from version 1.1.3 to 1.1.4).
What gives?

[2016-11-22 20:50] greg-db commented on #64
Thanks for the report! I just tried a `pod update` from 1.1.3 to 1.1.4 though, and I can't seem to reproduce this. I do get a DBOAuth.h and DBOAuth.m in both.

Can you try cleaning/cleaning your build folder, if you haven't already? What versions of CocoaPods and Xcode are you using?

[2016-11-22 21:03] xaphod commented on #64
Hi, Greg
I tried cleaning, cleaning build folder, restarting xcode, rebooting,
redoing the pods (pod install again), and a few other things.
Cocoapods is newest stable (as per sudo gem update yesterday), xcode is
newest from app store as of today.
thanks
-tim

On Tue, Nov 22, 2016 at 3:50 PM Greg K <notifications@github.com> wrote:

[2016-11-22 21:13] greg-db commented on #64
Thanks! We'll look into it.

[2016-11-23 03:47] tonysong185 commented on #52
@scobbe @greg-db 👍 Thanks for your team's hard work, I have confirmed that the CAPTCHA showing normally on iOS 8 and iOS 9.

[2016-11-23 03:47] #52 closed

[2016-11-24 14:16] strike65 commented on #64
Same problem here... My Project doesn't compile anymore.
![dropboxerror](https://cloud.githubusercontent.com/assets/2091178/20601440/e760ffc4-b258-11e6-93e7-de27dfaa747c.png)

Regards!
strike

[2016-11-28 10:28] eddie129 commented on #56
@scobbe I have same problem on my case-sensitive computer. After downloading source files and do some test, the problem can be fixed by updating 'Webkit' to 'WebKit' (upper case K)  in ObjectiveDropboxOfficial.podspec line 21&22. Cloud you verify it and update a new version? Thanks.

[2016-11-29 18:42] AbeIonic commented on #62
Has there been any progress on this or an ETA by chance? We really appreciate your support on this!

[2016-11-29 18:43] greg-db commented on #62
I don't have an update on this yet unfortunately. I'll follow up here once I do.

[2016-11-29 18:47] AbeIonic commented on #62
Can you give us any update on this? Is there a timeframe when you think you'll be able to tackle it? It's a serious issue in our app.

[2016-11-29 18:49] greg-db commented on #62
We have an understanding of the problem, but I can't offer a timeline for a fix right now.

If it helps, as an (albeit non-ideal) workaround for affected users though, they should be able to revoke the relevant web session via https://www.dropbox.com/account/security .

[2016-11-29 18:55] AbeIonic commented on #62
Alright, thank you. We look forward to the fix when you guys get the chance :)

[2016-12-01 07:15] scobbe commented on #64
@xaphod: Sorry you're running into issues. Would you try pulling the (just-released) latest version of the SDK (2.0.0) and see if you still experience these issues? Thanks for your patience!

[2016-12-01 07:15] scobbe commented on #62
@AbeIonic: Sorry you're running into issues here. I put out a fix in the latest version of the SDK that might fix this issue for you. Would you try pulling the (just-released) latest version of the SDK (2.0.0) and see if you still experience these issues? Thanks for your patience!

[2016-12-01 07:16] scobbe commented on #56
@holyman2k @mylaneza: Sorry this has dragged out for so long.

Looks like @eddie129 has come up with a fix – many thanks!

Would you all try pulling the (just-released) latest version of the SDK (2.0.0) and see if you still experience these issues? Thanks for your patience through all of this

[2016-12-01 07:19] scobbe commented on #46
@cesgarma: This should be available in the latest version of the SDK (2.0.0). Please be sure to setup a custom `DBTransportClient` with your app key and secret. The interface is a little bit clumsy right now. Sorry about that.

[code]

Something like this. Let me know if you run into any issues. Thanks for your patience!

[2016-12-01 07:40] scobbe commented on #60
@markmcminn: Sorry we couldn't be more helpful. Let us know if the issue persists, in which case we can really dive in to get to the bottom of it.

[2016-12-01 16:09] xaphod commented on #64
@scobbe Thanks yes now your Pod compiles.
One question for the migration - when uploading a file in the new 2.x world of this Pod, where does one specify DBFilesWriteMode and autorename? For example, my old code is:

            [[[client.filesRoutes uploadUrl:[subfolderName stringByAppendingPathComponent:filename] mode:[[DBFILESWriteMode alloc] initWithAdd] autorename:@YES clientModified:nil mute

[2016-12-01 17:57] scobbe commented on #64
@xaphod: Thanks for your quick reply. For version 2.0.1 of the SDK, I created a sample project and integrated via CocoaPods. I was able to successfully compile the following code:

[code]

The `uploadUrl` method to which you're referring should still be around [here](https://github.com/dropbox/dropbox-sdk-obj-c/blob/09bc158eb09e40d3e7e846753da4616705da9d6d/Source/ObjectiveDropboxOfficial/Shared/Ge

[2016-12-01 18:16] xaphod commented on #64
I "appleogize", my mistake: must have been some indexing problem with my project. As soon as i restarted xcode it compiled :)

Original issue fixed in latest pod so closing. Thanks

[2016-12-01 18:16] #64 closed

[2016-12-01 18:25] scobbe commented on #64
Great to hear! Let us know if anything else comes up :)

[2016-12-01 18:55] AbeIonic commented on #62
This has solved our problem. Thank you very much!

[2016-12-01 18:58] #62 closed

[2016-12-01 19:01] mylaneza commented on #56
i am using cocoapods. Using Cocoapods the problem is still present.

pod 'ObjectiveDropboxOfficial'

[2016-12-01 19:02] greg-db commented on #46
Confirmed this is working for me. To elaborate on scobbe's example:

    DBTransportClient *transportClient = [[DBTransportClient alloc] initWithAccessToken:nil
                                                                             selectUser:nil
                                                                              baseHosts:nil

[2016-12-01 19:02] #46 closed

[2016-12-01 19:12] scobbe commented on #56
@mylaneza: Thanks for your reply.

Could you confirm that your error is `ld: framework not found WebKit` and NOT `ld: framework not found Webkit` (note the lower case 'k' in the second message)

[2016-12-01 19:30] mylaneza commented on #56
![screen shot 2016-12-01 at 1 29 37 pm](https://cloud.githubusercontent.com/assets/11892898/20809008/5189950c-b7ca-11e6-90e5-5880f95edffa.png)

[2016-12-01 19:33] mylaneza commented on #56
@scobbe Do you want me to add the dropbox api directly to my project instead of using cocoapods?

[2016-12-01 19:47] scobbe commented on #56
@mylaneza: Ok, fortunately it looks like you're still getting the old version of ObjectiveDropboxOfficial.

Would you please perform the following for me (in your project directory):

`rm -rf "${HOME}/Library/Caches/CocoaPods"`
`rm -rf Pods/`
`rm Podfile.lock`
`rm -rf <MY_PROJECT>.xcworkspace`

Then, with a correctly formatted Podfile in your .xcproject directory (see [here](https://github.com/dro

[2016-12-01 19:48] scobbe commented on #56
This should pull the latest version of ObjectiveDropboxOfficial (v2.0.1)

[2016-12-01 20:22] mylaneza commented on #56
@scobbe I followed your instructions. The same version 1.1.1. I am trying right now to use pod update.

[2016-12-01 20:31] mylaneza commented on #56
@scobbe pod update worked fine. Thank you very much.

[2016-12-01 21:12] scobbe commented on #56
@mylaneza: Amazing, great to hear. Sorry this was so painful! Let us know if anything else comes up.

@holyman2k: Let me know if you're still running into issues on your end.

[2016-12-01 22:22] scobbe commented on #56
and thanks again to @eddie129 for the great catch! This issue was really bugging me.

[2016-12-03 22:02] richardwilliamson opened #66 "incompatible block pointer types"
I'm getting an error:

"Incompatible block pointer types sending 'void (^)(...' to parameter of type 'void(^Nonnull)(..."
With the code

`[[client.filesRoutes listFolder:@""]
	 response:^(DBFILESListFolderResult *result, DBFILESListFolderError *routeError, DBError *error) {
//	   if (result) {
//		 NSLog(@"got something");
//	   }

	 }];`

Any ideas?

[2016-12-03 22:43] richardwilliamson commented on #66
Actually fixed it - seems to be a bug/change in the API that hasn't been update in the examples..

Examples show the equavalent of
`[[client.filesRoutes listFolder:@""] response:^(DBFILESListFolderResult *result, DBFILESListFolderError *routeError, DBError *error) {`

but API requires
`	[[client.filesRoutes listFolder:@""] response:^(DBFILESListFolderResult *result, DBFILESListFolderError *routeEr

[2016-12-03 22:43] #66 closed

[2016-12-04 01:04] richardwilliamson opened #67 "Errors when submitting to app store"
Hello

Followed instructions to use Carthage on the readme - although had to add the framework to "Embedded Binaries" rather than "Linked Frameworks and Libraries" to get the app to build - I am assuming this is an error in the documentation?

All works fine both in simulator and on device when tested locally, however when trying to upload a build to ITC I am getting a load of errors which I have

[2016-12-04 01:12] richardwilliamson commented on #67
I should add this is quite an old app which was started around 2012 - I wasn't able to get dropbox to integrate with cocoapods which I think may have been to do with some legacy settings in the app, but I have been unable to work this out yet

[2016-12-04 04:07] scobbe commented on #66
@richardwilliamson: Sorry about that. 2a21821 should fix the README here.

[2016-12-04 04:30] scobbe commented on #67
@richardwilliamson: Sorry that you're running into issues.

As far as the README, it is not an error when it says you should add the `ObjectiveDropboxOfficial.framework` to **Linked Frameworks and Libraries** rather than **Embedded Binaries**. If your target is < iOS 8, you may run into issues linking as a framework here.

What exactly is the error message you receive when you try to add the Objec

[2016-12-04 12:27] xaphod opened #68 "Still making requests to /1/"
This API still makes requests to /1/ (API v1). For example in DBOAuth.m, `components.path = @"/1/oauth2/authorize";` is wrong per [https://www.dropbox.com/developers/reference/migration-guide](https://www.dropbox.com/developers/reference/migration-guide)

[2016-12-04 13:51] richardwilliamson commented on #67
@scobbe Thanks for coming back to me - weirdly if I now move the framework back to link from embedded it seems to work, previously I was getting an error on the import <object..> lines as if the compiler couldn't find the libraries but that now seems to be fine - not sure what I did there..

And doing that seems to fix all my other issues - so I'm obviously just dim!! Thanks for your help

[2016-12-04 13:51] #67 closed

[2016-12-04 20:29] scobbe commented on #67
@richardwilliamson: Haha no worries. Reach out to us if anything else comes up!

[2016-12-04 20:36] scobbe commented on #68
@xaphod: Thanks for pointing this out. 54b1f8f fixes this. It will appear in the next release.

[2016-12-04 20:36] #68 closed

[2016-12-06 12:21] Twv opened #69 "Download attempt while offline - unexpected behavior, plus null data retrieved - that's an error"
I would like to ask what the expected behavior is when attempting download. E.g. below example:
[code]
I am testing a scenario where device has a working connection at the beginning and retrieves a list of files. But after a while, the connection drops for some reason. (I turn on airplane mode on the debug device).

An attempt to download a file is made. What is the expected result when attempting

[2016-12-06 17:58] scobbe commented on #69
@Twv: Thanks for reaching out. Yes, this is a problem I noticed when writing the SDK. I wasn't able to come up with a good solution.

The problem is described well [here](http://stackoverflow.com/questions/23288780/nsurlsessiontask-never-calls-back-after-timeout-when-using-background-configurat). Basically the problem only arises when using a background `NSURLSession`.

I can spend some time tomor

[2016-12-06 18:06] scobbe commented on #56
@holyman2k: Just want to check back in with you here and see if your problem is resolved with the latest version of the SDK?

[2016-12-07 08:10] Twv commented on #69
Thank you for your response.
I've read the link - uff. If I understand correctly - a network falling out in the middle of the download would not trigger any event. The download would just stall indefinitely - well up to a week :).

This means I need to make a wrapper around all dropbox calls, monitor the task progress events and monitor network reachability and then combine both into network issue

[2016-12-07 17:45] scobbe commented on #69
Thanks for your reply, Jan.

I'll spend some time later today and see if I can implement logic in the SDK to do this. Really this should be handled by the SDK and should not be required for every client that integrates with the SDK. Let me get back to you tomorrow or the day after with a progress update.

Sorry that you're running into issues here. Would you mind posting some steps to reproduce yo

[2016-12-08 17:14] xaphod commented on #69
Hi @scobbe,
Just a quick remark -- per that SO thread you linked, wouldn't the easiest workaround be to change the backgroundSession's `timeoutIntervalForResource` to less than a week (in the NSURLSessionConfiguration object when you create the session) ?
I didn't check but probably the SDK already allows us to specify our own background session (rather than have the SDK use the default)... so the

[2016-12-08 17:18] xaphod opened #70 "Update README / instructions to not use deprecated iOS UIApplicationDelegate method"
Minor nit...
Per the apple reference doc: https://developer.apple.com/reference/uikit/uiapplicationdelegate
`- (BOOL)application:(UIApplication *)application handleOpenURL:(NSURL *)url` is deprecated. So you should remove that from your README/instructions, and reference the new one instead:

`- (BOOL)application:(UIApplication *)app
            openURL:(NSURL *)url
            options:(NSDictiona

[2016-12-08 18:15] scobbe commented on #69
@xaphod: Thanks for your thoughts. Unless I haven't properly set it up, I think the SDK does that already [here](https://github.com/dropbox/dropbox-sdk-obj-c/blob/master/Source/ObjectiveDropboxOfficial/Shared/Handwritten/Networking/DBTransportClient.m#L68). If I remember, though, even setting this did not address the issue of an interrupted connection. But let me check and test it again.

[2016-12-08 18:43] scobbe commented on #70
@xaphod: Good suggestion, thanks for brining this up. 984920f should address this. Given that we support iOS > 8, I left `application:handleOpenURL:url` because it's the only option for iOS 8 targets, but also added `application:openURL:options` as well.

[2016-12-08 18:43] #70 closed

[2016-12-08 18:50] xaphod commented on #69
@scobbe Per that SO thread, there are 2 timeouts. The `timeoutIntervalForRequest` will never take effect for an interrupted connection. But in my experience, `timeoutIntervalForResource ` is reliable.

Also please note that using airplane mode is not a good way to test: things behave very differently with airplane mode vs a regular internet drop.
To simulate a regular internet drop, I suggest you

[2016-12-08 18:51] scobbe commented on #69
@xaphod: Ah actually just re-read the thread – looks like I'm setting `timeoutIntervalForRequest` and not `timeoutIntervalForResource`. Let me update that and try now. Thanks for the ping!

[2016-12-08 18:51] xaphod commented on #69
haha when comments collide....

[2016-12-08 18:51] scobbe commented on #69
Haha thanks for following up with this! I'll try your suggestions now 👍

[2016-12-08 18:54] xaphod commented on #69
@scobbe Cool. I'm actually just in the process of migrating my iOS app "Grab for Dropbox" to API v2. It does **exactly** what this thread here discusses: its whole raison d'être is to help the user download (offline) huuuuge amounts of photos and videos from dropbox, recursively. And it definitely has to be super tolerant against connectivity-loss & battery-dropout situations.

https://itunes.appl

[2016-12-08 19:59] scobbe commented on #69
@xaphod: Nice! Be sure to let us know then if you run into any performance issues using the SDK during your migration.

@Twv: Thanks to @xaphod 's suggestion, this should now be fixed in the latest version of the SDK (v2.0.3). Please pull the latest version and see if you still experience your problem.

I tested it out and the SDK now seems to handle bad network connections well. I set the timeout

[2016-12-12 15:31] Twv commented on #69
Thank you for your effort.
I will give it a spin asap.

Meanwhile, I/d just like to comment on the NSURLSession.
It seems to me, that the issue here is not really with the bug and not-bug. It is about the two different use-cases being squashed into a single api call.

I see two use-cases:
- first is the interactive use, where a user clicks on a file, is presented a download in progress dialog (as

[2016-12-13 00:07] scobbe commented on #69
@Twv: Thanks again for bringing these issues to our attention. So after reading your post and doing a little more research, I think we're going to keep the background session timeout behavior as it was before, i.e., no timeout. I think that will fit the most common user use-case the best.

That said, to accommodate the "interactive use" case (as you put it), I've gone ahead and exposed a "force fo

[2016-12-16 04:35] #56 closed

[2016-12-17 14:05] arunrajagopalan opened #71 "pod install documentation missing open newly created .xcworkspace"
The reference documentation at http://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/ is missing the following step after pod install

"Once this command completes, open the newly create .xcworkspace file. Your project should now be successfully integrated with the the SDK."

This is correctly present in README.md file on Github but is missing in the  docs here http://dropbox.github.io/dropbo

[2016-12-19 21:36] scobbe commented on #71
@arunrajagopalan: Thanks for bringing this up. I'll be sure to update the documentation for the next release!

[2016-12-19 21:36] #71 closed

[2016-12-21 09:51] jigarviprak opened #73 "unknow name "DBRequestError""
gettiing error

unknow name "DBRequestError"
 [[[client.filesRoutes downloadData:@"/test/path"]
'void (^)(DBFILESFileMetadata *__strong, DBFILESDownloadError *__strong, int *, NSData *__strong)' to parameter of type 'void (^ _Nonnull)(DBFILESFileMetadata * _Nullable __strong, DBFILESDownloadError * _Nullable __strong, DBError * _Nullable __strong, NSData * _Nonnull __strong)'

[2016-12-21 19:23] scobbe commented on #73
@jigarviprak: Are you using CocoaPods or Carthage? What version of the SDK are you using?

Could you also share your code where you make the `[[[client.filesRoutes downloadData:@"/test/path"]` call?

[2016-12-22 04:01] jigarviprak commented on #73
i am using cocoapods and verssion 1.1.1
also xcode:8.1

mycode:
DropboxClient *client = [DropboxClientsManager authorizedClient];

    // Download to NSData
    [[[client.filesRoutes downloadData:@"/test/path"]
      response:^(DBFILESFileMetadata *result, DBFILESDownloadError *routeError, DBRequestError *error, NSData *fileContents) {
          if (result) {
              NSLog(@"%@\n", result);

[2016-12-22 22:27] greg-db commented on #73
Do you mean you're using version 1.1.1 of SwiftyDropbox or version 1.1.1 of CocoaPods itself? (Stephen was asking what version of SwiftyDropbox you're using.)

If you're using version 1.1.1 of SwiftyDropbox, it won't have `DBRequestError`. `DBError` was renamed to `DBRequestError` in version 2.0.0 of SwiftyDropbox. Please update to the latest version of SwiftyDropbox (using `pod update`) and let u

[2016-12-23 04:23] jigarviprak commented on #73
i am using ObjectiveDropboxOfficial  version 2.0.6 in objective -C at that time given error..

[2016-12-23 05:10] wangbourne opened #74 "Error of canOpenURL: failed for URL: "dbapi-8-emm""
I'm quite sure that i have added in plist:

[code]

However, I still could see this error in my app:
canOpenURL: failed for URL: "dbapi-8-emm://1/connect" - error: "(null)"

More strange thing is there's no message related to "This app is not allowed to query for scheme dbapi-2", which are mentioned by a lot of articles.

Appreciate if anyone could point out the root cause.

Thanks

[2016-12-23 09:42] jigarviprak commented on #73
isssue fixed but we can't get file..return path not found..

[2016-12-23 15:44] greg-db commented on #74
HI @wangbourne , iOS is unfortunately somewhat noisy around this, but if you're getting "error: "(null)"" there actually isn't any issue.

If the actual functionality isn't working as expected, feel free to reopen this, but it sounds like this just some extra console logging in this case.

[2016-12-23 15:44] #74 closed

[2016-12-23 15:45] greg-db commented on #73
I'm glad to hear that issue is fixed.

If you're running in to a different problem, please [open a new issue](https://github.com/dropbox/dropbox-sdk-obj-c/issues/new) with the details (steps to reproduce the issue, the code, and the full error).

[2016-12-23 15:45] #73 closed

[2016-12-30 14:29] jkichline opened #75 "Why are the namespaces of this Framework so terrible?"
Maybe it's the OCD part of me, but this framework appears to be all over the place.  The framework is called ObjectiveDropboxOfficial.framework which is like the "Department of Redundancy Department".  Are you going to have another framework that supports Swift? Why not just call it Dropbox.framework or DropboxKit.framework?

Then some of the classes start with Dropbox while others start with DB a

[2016-12-30 15:26] greg-db commented on #75
Thanks for the feedback! I'll make sure the team sees it.

For reference, I believe part of the naming is due to the existence of [this unofficial ObjectiveDropbox library](https://cocoapods.org/?q=ObjectiveDropbox), and yes, we do have [a Swift library](https://github.com/dropbox/SwiftyDropbox).

[2017-01-06 17:00] goetzf opened #76 "DBTasks cannot be cancelled anymore"
Previously, running instances of `DBTasks` subclasses could be cancelled by calling `-cancel`. However, with the restructuring in commit [dc4714f](https://github.com/dropbox/dropbox-sdk-obj-c/commit/dc4714f9f82e2612c15319df054c09902e3e58ee), calling `-cancel` throws an exception because the method is not implemented in the concrete subclass. The only subclass that implements  this method is `DBBat

[2017-01-06 18:54] greg-db commented on #76
Thanks for the report! We'll look into it.

[2017-01-07 17:56] rolandpersson opened #77 "batchUploadFiles responseBlock called twice when access token is invalid"
As I understand the documentation the responseBlock should only be called once.

But, when attempting to do a batch upload of a single file on iOS and have an invalid access token I receive two calls as below:
[code]

[2017-01-09 19:44] greg-db commented on #77
Thanks for the report! We'll look into it.

[2017-01-11 16:41] tererecool opened #78 "Downloading file not supported in an app extension?"
Hello, should downloading a file be supported in an App extension? We work intensively with Dropbox APIs and in the app itself downloading a file from Dropbox with following code part is not a problem, now, in an app extension where a file from Dropbox can be selected the same code is called but we are getting an error code -955, navigating through the folders works though:

`DBDownloadDataTask *d

[2017-01-11 18:34] greg-db commented on #78
While the SDK does try to be safe for app extensions (e.g., [here](https://github.com/dropbox/dropbox-sdk-obj-c/blob/bf9c5dca9d602bf0b95a6bf26e05d7eb2787bcbd/Source/ObjectiveDropboxOfficial/ObjectiveDropboxOfficial_iOS/DBOAuthMobile-iOS.m#L25)) unfortunately I don't believe it has any specific support or documentation for using it with extensions in particular. (I'll be sure to pass this along as

[2017-01-12 12:00] tererecool commented on #78
downloadError = nil
error = DropboxClientError[{
    NSError = "Error Domain=NSURLErrorDomain Code=-995 \"(null)\"";
}];

[2017-01-12 12:39] douglashill commented on #60
I saw a similar problem (not using Dropbox SDK) where the `location` passed to `URLSession:downloadTask:didFinishDownloadingToURL:` was `/var/mobile/Library/Caches/com.apple.nsurlsessiond/Downloads/<bundle_id>/CFNetworkDownload_<id>.tmp`, which the app can’t read because it’s outside the sandbox. It only happened on a particular device for a particular app, and went away after a reboot.

I suspect

[2017-01-12 15:33] tererecool commented on #78
We came across a solution that I am still evaluating, not sure about the impact:

`DBTransportClient *dbTransport = nil;

#if defined(ISAPPEX)
        // when running in the context of an app extension, we cannot upload/download in the background
        dbTransport = [[DBTransportClient alloc] initWithForceForegroundSession];
#endif

        // tell the Dropbox SDK that our app wants to use it

[2017-01-12 22:32] greg-db commented on #78
Thanks! That error output isn't as helpful as I hoped, but it looks like the error code corresponds to [`NSURLErrorBackgroundSessionRequiresSharedContainer`](https://developer.apple.com/reference/foundation/1508628-url_loading_system_error_codes/nsurlerrorbackgroundsessionrequiressharedcontainer?language=objc).

Anyway, I'm glad to hear you got this working. As far as the Dropbox SDK is concerned,

[2017-01-12 22:32] #78 closed

[2017-01-16 03:51] sanhue0302 commented on #58
Will this feature add on next release?

[2017-01-16 20:10] greg-db commented on #58
I can't make any promises, but I've sent this along as a feature request.

[2017-01-17 13:55] goetzf commented on #76
Thanks! :)

[2017-01-19 03:42] yupliang opened #79 "Which class is the replacement of CLASS DBFileSystem ?"
Which class is the replacement of CLASS DBFileSystem ? In the elder version, I used this method to assure if the file exist in the path:
[code]
but now with this new version, how could i replace this snipper?

[2017-01-19 15:58] greg-db commented on #79
It looks like you're referring to the old [Sync SDK](https://www.dropbox.com/developers-v1/sync/sdks/ios). The new API v2 SDKs offer a different abstraction, and offer more control over the API calls made.

To check if a particular file exists, and to get its metadata if so, you can use the [`getMetadata`](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBFILESRoutes.html#/c:ob

[2017-01-19 15:58] #79 closed

[2017-01-19 23:12] tobihagemann opened #80 "Make session configuration customizable"
I'd like to customize `NSURLSessionConfiguration` of `DBTransportClient`. My use case is that I have to add a `sharedContainerIdentifier` in order to make Dropbox work in an app extension.

Initially I tried to implement something like [GTMSessionFetcher.m#L598](https://github.com/google/gtm-session-fetcher/blob/master/Source/GTMSessionFetcher.m#L598). But then I realized that this won't work, bec

[2017-01-20 01:20] kfujino7 opened #81 "Batch upload tasks aren’t cancelled with DBRequestError"
I have a question regarding to the behaviour of chunked upload using batchUploadFiles.

[code]

For example, if I try to upload about 45MB file, If I turn off the network after first chunk was sent, the response block caches the DBRequestError (as expected), but, as you can see below,  the task keeps trying to upload the rest of chunk 1minutes apart, after the error. It even shows the progress of

[2017-01-20 19:25] greg-db commented on #80
HI @tobihagemann I think you should be able to do something like this:

    DBTransportClient *transportClient = [[DBTransportClient alloc] initWithAccessToken:accessToken];
    transportClient.session = urlSession; // whatever NSURLSession you want here.
    DropboxClient *client = [[DropboxClient alloc] initWithTransportClient:transportClient];

Give that a try and let me know if it doesn't work

[2017-01-20 21:18] greg-db commented on #81
Thanks for the report! I believe the expectation is that you would need to cancel this explicitly. Can you share the error(s) you got when you tried to do so? Thanks in advance!

[2017-01-21 15:02] tobihagemann commented on #80
Thank you for your quick feedback! This is what I came up with:

[code]

Some of it is copy/paste code from [DBTransportClient.m#L84](https://github.com/dropbox/dropbox-sdk-obj-c/blob/master/Source/ObjectiveDropboxOfficial/Shared/Handwritten/Networking/DBTransportClient.m#L84) with the extra `sharedContainerIdentifier` I wanted. I'm not creating a new client, but customizing `[DropboxClientsManage

[2017-01-22 19:19] #80 closed

[2017-01-23 02:01] kfujino7 commented on #81
Thank you for the reply.

If I try to cancel the task like below,

[code]

I get following error

If I call ` [[NSOperationQueue mainQueue] cancelAllOperations];` instead of `[uploadTask cancel];`, nothing happens and following chunk upload keep happening.

[2017-01-23 02:04] greg-db commented on #81
Thanks! We're looking into it.

[2017-01-26 18:42] sevaa opened #82 "Please get rid of the DB prefix"
DB stands for "database" first and foremost, for "Dropbox" as a distant second. As a result, the potential for name clashes with existing database related code in user projects is tremendous.

In my case, the project had a class called "DBBase".

[2017-01-26 18:44] greg-db commented on #82
Thanks! I'll send this along to the team.

[2017-01-26 18:45] sevaa opened #83 "When app authorization is revoked, the API doesn't report that"
Authorize an iOS app. Revoke said authorization in Dropbox settings. Try downloading a file.

The download errors out, but the SDK still considers the client authorized. Subsequent calls to [NSClientsManager authorizedClient] return a nonnil. That's wrong.

[2017-01-26 19:13] greg-db commented on #83
You can break out the specific errors, such as an invalid/revoked access token, like this:

    [[client.filesRoutes downloadData:@"/test.txt"] response:^(DBFILESFileMetadata *metadata, DBFILESDownloadError *downloadError, DBRequestError *error, NSData *data) {
        if (metadata) {
            NSLog(@"%@", metadata);
        } else if (downloadError) {
            NSLog(@"%@", downloadError);

[2017-01-26 19:13] #83 closed

[2017-01-26 19:15] sevaa commented on #83
Not in my testing. _tag is null, instead nsError is set. The condition that works goes:

error && error.nsError &&
                    [error.nsError.domain isEqualToString:@"NSURLErrorDomain"] &&
                    error.nsError.code == NSURLErrorUserAuthenticationRequired

[2017-01-26 19:30] greg-db commented on #83
You shouldn't have to check the tag yourself. The SDK translates that for you. I tried the code I posted and it worked properly for me.

If my code example doesn't work for you, please share the following so we can try to reproduce the issue and look into it:
- how you revoked the token specifically (it sounds like you used https://www.dropbox.com/account/security ?)
- the version number of the SD

[2017-01-26 19:48] sevaa commented on #83
- Via https://www.dropbox.com/account/security ?)
 - v2.0.6, straight from the GitHub tag
 - "The rest of code" is a lot of code. Don't you have a sample iOS app?
 - It goes:

DropboxClientError[{
    NSError = "Error Domain=NSURLErrorDomain Code=-1013 \"The operation couldn\U2019t be completed. (NSURLErrorDomain error -1013.)\" UserInfo=0x7fcfb4a4e6d0 {NSErrorFailingURLStringKey=https://api-conte

[2017-01-26 21:03] greg-db commented on #83
Thanks! I didn't mean the rest of the code for your app, just the code for the download call itself, like my example earlier, in case there's something different about how you're calling it.

Anyway, I can't seem to reproduce this behavior unfortunately, even though I'm using 2.0.6 as well, and also revoked access via https://www.dropbox.com/account/security .

For reference, you can also break ou

[2017-01-27 01:14] sevaa opened #84 "Document and embrace "locale" on /oauth2/authorize"
The Web page at https://www.dropbox.com/oauth2/authorize accepts "locale" as a query string parameter. It's extremely useful. Please document and embrace.

[2017-01-27 05:05] greg-db commented on #84
Thanks! I'll send this request along to the team.

[2017-01-27 07:22] SDPrio opened #85 "How to cancel current operation(s)"
I am working on integration API v2 into my iOS 8+ app while it used the Core API (v1) before.

The old API supported the cancellation of the current operation by calling `[restClient cancelAllRequests]` or by using `cancelFileLoad:` or `cancelFileUpload`. I was not able to find such a methods in the v2 API.

How to cancel operations in API v2?

[2017-01-27 07:26] SDPrio opened #86 "Specify parent revision on file upload"
In API v1 one could (had to) specify the parent revision when uploading a file:
`
[restClient uploadFile:destFileName toPath:destFileDir withParentRev:revision fromPath:localPath]`

The new API v2 does not seem to have this option:

`[[[dropboxClient.filesRoutes uploadUrl:destPath mode:[[DBFILESWriteMode alloc] initWithOverwrite] autorename:@(NO) clientModified:nil mute:@(YES) inputUrl:localeURL].

[2017-01-27 18:57] greg-db commented on #86
In API v2, the equivalent is [`DBFILESWriteMode initWithUpdate:`](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBFILESWriteMode.html#/c:objc(cs)DBFILESWriteMode(im)initWithUpdate:), which lets you specify the parent `rev`.

[2017-01-27 18:57] #86 closed

[2017-01-27 18:57] greg-db commented on #85
The API v2 Objective-C SDK doesn't have a method like `cancelAllRequests` to cancel all active requests at once, but I'll be sure to pass this along as a feature request.

When using upload sessions though, since you control how and when each portion is uploaded, you can have your app stop the upload session by stopping further calls.

And in any case, you can cancel an individual upload call (whe

[2017-01-27 18:57] #85 closed

[2017-02-02 07:57] Twv commented on #69
Thank you for your effort.
The change is good. I can now use the download with a foreground session.

[2017-02-02 07:57] #69 closed

[2017-02-02 08:05] Twv commented on #76
As of today (f0383852f0383852babf0311074a788a671dccf31b71fcf2) DBDownloadDataTask still does not have the cancel implemented. Any ETA on delivery?

[2017-02-02 18:05] greg-db commented on #76
I don't have an ETA unfortunately. I'll follow up here once I have an update.

[2017-02-13 12:19] paulbeadle commented on #76
Hi Greg. This problem is preventing us from moving to the new API (and time is running out). We either need this one fixed or alternatively a way to chunk download requests using the ObjC API (as is currently possible with uploads). Which is more likely?

[2017-02-13 19:05] greg-db commented on #76
Thanks for checking in on this. This should be getting fixed, but I don't have an ETA right now.

[2017-02-17 19:56] scobbe commented on #84
@sevaa: Apologies for the delay here. This should be fixed in the 3.0.0 version of the SDK.

[2017-02-17 19:57] scobbe commented on #53
Compilation times are now much faster in the latest version of the SDK (v3.0.0), after we consolidated the implementation classes to only a few files, so I'm going to go ahead and close this issue.

[2017-02-17 19:57] #53 closed

[2017-02-17 20:01] scobbe commented on #75
@jkichline: Apologies for the delay in responding here. You bring up some good points. Our naming conventions were pretty confusing and bad. I think we were trying to keep a consistent naming experience across all our different supported languages (Obj-C, Swift, Java, C#, etc.), rather than adopting nice, consistent Obj-C standards.

That's changed somewhat with the latest version of the SDK (v3.0

[2017-02-17 20:01] #75 closed

[2017-02-17 20:01] scobbe commented on #76
@paulbeadle @Twv: Apologies for the long delay here. This should be fixed now in the latest version of the SDK (v3.0.0).

[2017-02-17 20:03] scobbe commented on #82
@sevaa: Apologies for the delay here. I understand where you're coming from with the `DB` prefix. I'm not sure if we'll be able to entirely switch over from `DB` to something less likely to result in a naming-collision.

But what we have done is renamed classes that are likely to result in a name collision (like `DBBase`), so hopefully that will resolve the issue for you. Sorry for the inconvenien

[2017-02-17 20:03] #82 closed

[2017-02-17 22:10] #76 closed

[2017-02-17 22:11] greg-db commented on #81
The 'You must override cancel in a subclass' issue in 2.0.6 is fixed now in [version 3.0.0](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.0.0).

The false progress issue is still open.

[2017-02-17 23:12] scobbe commented on #84
Actually, sorry, @sevaa, would you clarify if you wanted this "locale" field exposed to the consumer of the SDK, or are ok with the SDK simply passing `[[NSLocale currentLocale] localeIdentifier]`?

[2017-02-18 02:24] sevaa commented on #84
Better be exposed to the consumer of the SDK. The effective language of the app UI may not match the system locale. If the Dropbox logon page comes up in English for an otherwise localized app, that's jarring.

I've ended up patching the DBOAuthManager class - added a NSString property "locale", and made the method [DBOAuthManager authURL] look at it and add it to the query string, if nonnil:

[co

[2017-02-18 03:51] scobbe commented on #84
@sevaa: Ok, thanks for clarifying. I added what you described with 4c980e3. This will be in the next release of the SDK, which will come out shortly. Thanks for your advice! Let us know if you see other parts of the SDK that can be improved.

[2017-02-18 03:51] #84 closed

[2017-02-22 04:52] martinoneutrino opened #98 "listFolderLongpoll:timeout: times out prematurely due to default timeoutIntervalForRequest"
The configuration of the default `NSURLSessionConfiguration` `timeoutIntervalForRequest` to 60 seconds (in `DBTransportClient` init) causes `DBFILESRoutes listFolderLongpoll:timeout:` to prematurely timeout with a _NSURLErrorDomain Code=-1001 ("The request timed out.")_, even though the longpoll request timeout is valid up to 480 seconds.

[2017-02-22 21:15] greg-db commented on #98
Thanks for the report! We'll look into it.

[2017-02-23 20:14] scobbe commented on #98
@martinoneutrino: Thanks for bringing this issue up. It should be fixed by 052c961, which will be included in the next release, which should land in the next day or two.

Please note, because of an [iOS 10 bug](https://github.com/dropbox/dropbox-sdk-obj-c#longpoll-session-timeout-bug), we only support a timeout period of up to 300 seconds on iOS 10, until Apple fixes the bug.

Let us know if anyth

[2017-02-23 20:14] #98 closed

[2017-02-24 21:46] posita opened #99 "Update API spec to include Paper"
There's a new API spec (dropbox/dropbox-api-spec@4483042b0016788742a1c4233a56e163e65b3121) that contains the paper endpoints. Consider updating this SDK.

[2017-02-24 22:38] scobbe commented on #99
Thanks @posita. 730753 added this already

[2017-02-24 22:38] #99 closed

[2017-02-25 03:36] posita commented on #99
Ah! Sorry. 😞 I should have paid closer attention!

[2017-02-26 01:26] dougdenney opened #100 "Sample Code For Batch Upload Includes Undeclared Variable"
In the sample code provided for batch uploads

[code]

Has the variable _tester which isn't declared anywhere.

What should this be?

[2017-02-27 17:45] greg-db commented on #100
Apologies for the confusion! That should be your [`DBUserClient`](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBUserClient.html) instance. We'll get that fixed up in the sample code.

[2017-02-28 20:33] dougdenney commented on #100
Thanks for responding. I did figure out what it was supposed to be.

The couple of other issues I saw:

- _tester.files should be client.filesRoutes
- [uploadFilesUrlsToCommitInfo setObject:commitInfo forKey:@"/local/path/to/my/file"]; should really be         [uploadFilesUrlsToCommitInfo setObject:commitInfo forKey: [NSURL fileURLWithPath: @"/local/path/to/my/file"]];. The key is a NSURL and not

[2017-02-28 20:33] #100 closed

[2017-03-01 04:41] scobbe commented on #58
@Twv @sanhue0302: This is fixed now in [v3.0.3](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.0.3) of the SDK. Apologies for the long delay.

[2017-03-01 04:41] #58 closed

[2017-03-01 04:41] scobbe commented on #77
@rolandpersson: This is fixed now in [v3.0.3](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.0.3) of the SDK. Apologies for the long delay.

[2017-03-01 04:41] #77 closed

[2017-03-01 04:41] scobbe commented on #81
False progress issue is fixed now in [v3.0.3](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.0.3) of the SDK. Apologies for the long delay.

[2017-03-01 04:41] #81 closed

[2017-03-01 22:37] greg-db commented on #58
For reference, you can use this functionality via the download methods with `:byteOffsetStart:byteOffsetEnd:`, such as [-downloadData:byteOffsetStart:byteOffsetEnd:](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBFILESRoutes.html#/c:objc(cs)DBFILESRoutes(im)downloadData:byteOffsetStart:byteOffsetEnd:).

[2017-03-02 06:56] fans3210 opened #102 "dbfilewritemode doesn't work for dbbatchuploadtask"
tested with uploading multiple mp3s (file names are: 1.mp3, 2.mp3 ....).

I set dbfilewritemode to 'add' with autorename set to YES. I tried the code and executed it twice. For the first execution, all the 6 mp3 files were successfully uploaded. But After I executed the code once again, nothing was changed on dropbox server even though I didn't get any error in the completion block. The 'lastmodif

[2017-03-02 07:35] scobbe commented on #102
@fans3210: Thanks for reaching out. Just want to confirm that you're using the latest version of the SDK (v3.0.3).

I'll need to double check this, but in the event that `autorename` is set to `YES`, and the files you are uploading have the same name and byte content, I'm pretty sure Dropbox server treats it as a no-op, meaning no error or different file modified time, which would account for what

[2017-03-02 09:52] fans3210 commented on #102
@scobbe . Thanks for the quick reply. Yes the version is 3.0.3.

And you are right, the byte content of each file doesn't have any change. I'm uploading exact the same files every time during testing.

[2017-03-02 14:50] SDPrio opened #103 "macOS: Dropbox login does not work anymore. Username and Password text fields do not respont"
A couple of weeks ago I updated my existing macOS app from Dropbox Core API v1 to API v2. Everything worked fine, but since yesterday some users report, that they cannot connect the app to Dropbox anymore.

I call `[DropboxClientsManager authorizeFromControllerDesktop:controller:openURL:browserAuth:]` using `browserAuth:false` to connect to Dropbox. This uses the Dropbox app if installed or the br

[2017-03-02 17:44] scobbe commented on #102
@fans3210: Ok, yes, I've confirmed that this is in fact the case. You can read more in the documentation [here](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBFILESWriteMode.html).

Let us know if you run into any other issues, or if you have any feedback on the SDK.

[2017-03-02 17:44] #102 closed

[2017-03-02 17:47] scobbe commented on #103
@SDPrio: Thanks for reaching out, and sorry that you're running into issues.

Would it be possible for you to post a screenshot of the issue?

[2017-03-02 18:40] SDPrio commented on #103
Sure:
![dropbox](https://cloud.githubusercontent.com/assets/2169234/23521584/ea670f46-ff7f-11e6-97ad-b6ebcfd33c1e.png)

As you can see, the login button ("Anmelden") is still disabled, although username and password have been entered. Additionally the placeholders are still visible and overlap the username and password.

[2017-03-02 19:39] greg-db commented on #103
Thanks! That's helpful. For reference, can you let us know what version(s) of macOS you're seeing this on, and what version of Safari is installed? (I know you're not seeing this in Safari itself, per your screenshot, but I believe the same browser engine is used.) Thanks in advance!

[2017-03-02 19:55] SDPrio commented on #103
Currently  I am using Safari Version 10.0.3 (11602.4.8.0.1) on macOS 10.11.6, but since several users have reported this issue, I assume that also other versions might be effected.

[2017-03-02 21:04] greg-db commented on #103
Thanks! We just made a change that may fix this. Can you try again and let me know if you're still seeing it?

[2017-03-03 06:30] SDPrio commented on #103
The problem is solved! Thank you very much for the prompt service!

[2017-03-03 06:56] scobbe commented on #103
No problem! Let us know if anything else comes up.

[2017-03-03 13:07] SDPrio commented on #103
Unfortunately a user reports, that the problem still occurs on his system:
macOS Sierra 10.12.3 including all updates.
Safari 10.0.3 (12602.4.8).

[2017-03-03 17:51] greg-db commented on #103
Thanks for following up @SDPrio . I just tested with those versions, and I can't reproduce the issue. I suspect the user may still be seeing this due to some cached resources from the time of the issue. Please have them try again in a little while, or have them clear their cache.

[2017-03-04 07:03] SDPrio commented on #103
Do you mean the Safari cache or some system cache?

[2017-03-06 02:37] drivefast opened #104 "DBClientsManager class name is actually DropboxClientsManager?..."
I think it's just a documentation issue, right?

[2017-03-06 05:28] greg-db commented on #104
`DropboxClientsManager` was renamed to `DBClientsManager` in [release 3.0.0](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.0.0):

...

[2017-03-06 05:28] #104 closed

[2017-03-06 05:51] greg-db commented on #103
I meant the Safari cache, which would hopefully clear any cache the in-app browser is using as well. If that doesn't help, we'll have to investigate further. In that case, it would be helpful to know if this does or doesn't fail in Safari itself for the user as well.

[2017-03-06 15:28] eyeamit opened #105 "URGENT: Provide "Server_Modified" property for DBFILESMetadata class"
Please provide "server_Modified" property for DBFILESMetadata class. Only available for DBFILESFileMetadata. Not for other DBFILESMetadata types (DBFILESFolderMetada and DBFILESDeletedMetadata).

In API V1 it was available for DBMetadata (which covered all files, folders, deleted folders).

In API V2 can't create directories using attribute "server_modified" with key NSModificationDate. Please pro

[2017-03-06 19:11] greg-db commented on #105
Thanks! I'm also sending this along as a request for modified times on non-file metadata, but I can't make any promises as to if or when that would be implemented and released.

[2017-03-07 07:15] SDPrio commented on #103
Latest feedback from the user: He experiences the problem only on his iMac while on his MacBook (same OS X + Safari version) everything is fine. After switching from Safari to Chrome as default browser the login also works on iMac. I have no idea if he performed any additional steps (e.g. clearing Safari cache) but is seems to be a very limited problem.

I will let you know if I get any further in

[2017-03-07 15:37] #103 closed

[2017-03-07 17:17] claurel commented on #60
I found this thread while searching for a solution to the same problem. I was able to work around it in my app by setting the sharedContainerIdentifier of the URLSession. The app's extensions don't actually need to use any of the downloaded content, but setting the value to the app group identifier seems to have the effect of keeping the downloaded files in the sandbox container.

[2017-03-07 17:58] markmcminn commented on #60
Thanks so much! I’ll give this a try. I’ve discovered that the problem seems to be using the same device for development and then also for downloading the app from the App Store and running it that way. If I only do one or the other I don’t seem to get the error. Once I get the error, I need to completely reset the device to get it working again.

Mark

[2017-03-07 19:08] scobbe commented on #60
@claurel: Thanks for the suggestion. @markmcminn: Let us know if that solves the issue for you. I can push out a change to expose `sharedContainerIdentifier` and set it to the app group identifier by default.

[2017-03-08 05:47] markmcminn commented on #60
Yes, this seems to solve the issue. I added this code in the application didFinishLaunchingWithOptions method of the app delegate, right after the setupWithAppKey method, some of which I found in another Dropbox discussion about how to configure a separate NSURLSession.

DBTransportClient *transportClient = [DropboxClientsManager authorizedClient].transportClient;
    if (transportClient)
    {

[2017-03-08 19:03] scobbe commented on #60
@markmcminn: That's great to hear. Just wanted to clarify – did you see this error occurring in the context of using an app extension, or no?

[2017-03-08 19:05] markmcminn commented on #60
No. I’ve never used app extensions, so don’t know much about them.

[2017-03-08 20:34] scobbe commented on #60
@markmcminn: Got it, thanks!

[2017-03-09 14:54] tinymind opened #106 "How to check if an account was linked?"
Is there any API like `[[DBSession sharedSession] isLinked]` in V1?

[2017-03-09 14:59] tinymind commented on #106
Got it!
`[DBUserClient isAuthorized]`

[2017-03-09 17:32] greg-db commented on #106
You can also just check for the client itself, e.g.,:

[code]

[2017-03-09 17:32] #106 closed

[2017-03-09 23:23] truebucha opened #107 "user authorization using tokenID within same app session leads to exception"
I am authorizing app using `[DBClientsManager setupWith`... only once during life cycle.

Than am using `reauthorizeClient` when user log out the app and log in again

[code]

What I am doing wrong?

[2017-03-10 00:23] scobbe commented on #107
@truebucha: Sorry, this is a bug that is fixed on master and will be fixed in the latest version, which should be released in the hour. Thanks for your patience and sorry for the inconvenience!

Will update the thread when I've pushed out the update.

[2017-03-10 01:18] scobbe commented on #107
@truebucha: This should be fixed now in the [latest version of the SDK](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.0.4).

Thanks for your patience and sorry for the trouble. Let us know if anything else comes up.

[2017-03-10 01:18] #107 closed

[2017-03-10 01:19] scobbe commented on #60
@markmcminn: `sharedContainerIdentifier` is now exposed in the [latest version of the SDK](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.0.4).

Thanks for your patience, and let us know if anything else comes up.

[2017-03-10 01:19] #60 closed

[2017-03-14 06:37] eyeamit commented on #105
Dear Gregory,
No need for this feature enhancement. Sync is working properly without any issue with no need for modified times on non-file metadata. You were right servermodified property is not good for tracking changes in a folder. Cursor helped a lot. I am closing this topic. Thank You

[2017-03-14 06:37] #105 closed

[2017-03-16 16:00] j-cimb-barker opened #109 "Can't Download File From Dropbox"
Hello,

I am using the following code to download files using the Vs2 API:

[code]

I receive the error:

[code]
I have checked and the file at filePath exists. Is there anything I am missing...?

Kind regards,

Joel

[2017-03-16 19:58] greg-db commented on #109
[Cross-linking for reference: [https://www.dropboxforum.com/t5/API-support/Can-t-Download-File-From-Dropbox-downloadData-With-Objective-C/m-p/211957#M10699](https://www.dropboxforum.com/t5/API-support/Can-t-Download-File-From-Dropbox-downloadData-With-Objective-C/m-p/211957#M10699) ]

Thanks for the report. I unfortunately can't reproduce this error though, and your code looks correct.

The error

[2017-03-17 10:15] linhongyi opened #110 "The authentication webpage isn't closed automatically after login successfully"
After I login dropbox successfully,
the authentication webpage isn't closed automatically. It don't have any actions after clicking button.
How do I let close webpage automatically? Thanks for your help.

[2017-03-17 10:42] j-cimb-barker commented on #109
Hello, Thanks for replying. I think it's because I am using a token obtained from the App Web Console during testing. I am switching to obtaining the token via the App. I will let you know if this improves the issue.

[2017-03-17 16:41] greg-db commented on #109
Access tokens acquired via the App Console or via the app's authorization flow should be functionality equivalent. Let us know what you find though.

[2017-03-17 17:40] greg-db commented on #110
HI @linhongyi , I'm not sure I follow. Can you share the code you're using and a screenshot of the issue? Thanks in advance!

[2017-03-20 01:55] linhongyi commented on #110
First, I listen the event as the following.

  [[NSAppleEventManager sharedAppleEventManager] setEventHandler:self
                                                           andSelector:@selector(handleAppleEvent:withReplyEvent:)
                                                         forEventClass:kInternetEventClass
                                                            andEventID:kAEGetUR

[2017-03-20 16:34] puelocesar opened #111 "Can't compile after adding Dropbox via cocoapods"
I'm getting this error when compiling my project after adding Dropbox via cocoapods:

/Users/paulo/Projetos/Blogo/Blogo-iOS/Pods/Headers/Public/ObjectiveDropboxOfficial/DBTEAMMobileClientPlatform.h:122:9: Expected ';' after method prototype

[2017-03-20 18:35] j-cimb-barker commented on #109
I found out this was due to the way I was setting up DBUserClient. I switched to:

`DBUserClient *client = [DBClientsManager authorizedClient];`

and it solved the problem.

[2017-03-20 18:35] #109 closed

[2017-03-20 19:03] greg-db commented on #110
Thanks! That's helpful.

When the user clicks the button to authorize your app, they should get automatically sent back to your app. There are a few additional things you need to configure to make that work though, that you didn't mention above:

Make sure you've registered your URL scheme with your app key under `CFBundleURLTypes` in your app's plist, as covered here:

https://github.com/dropbox/

[2017-03-20 20:01] puelocesar commented on #111
My mistake, I had a macro isIpad on my project, and it was conflicting with this. Sorry.

[2017-03-20 20:01] #111 closed

[2017-03-20 20:19] ramonpoca opened #112 "Checking isAuthorized fails due to DBUserClient shadowing transportClient property"
Upon resuming an authorized session in the simulator, calling
[code]
was returning `authorized == NO` incorrectly.

This is due to  `DBUserClient.m` redeclaring as an instance variable:
[code]
a property that is declared in `DBUserBaseClient`:
[code]

The instance variable clobbers the synthesized property, generating two different instance variables. `setupWithAppKey` initializes the `DBUserBaseC

[2017-03-21 01:04] scobbe commented on #112
@ramonpoca: This is a great find. Thank you for bringing this to our attention. This should be fixed in the [v3.0.5](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.0.5) version of the SDK.

Let us know if you spot anything else!

[2017-03-21 01:29] #112 closed

[2017-03-21 08:39] linhongyi commented on #110
Thanks for your help.  It's ok for me to login dropbox by browser or in app.

Maybe, we could set the webpage to go to the dropbox home page (https://www.dropbox.com/) after signing the account. The user isn't confused on the staying webpage.

[2017-03-21 16:32] greg-db commented on #110
Thanks for the suggestion!

To clarify though, is the app authorization flow itself working properly for you now?

[2017-03-22 01:30] linhongyi commented on #110
The app authorization flow is perfectly working for myself. thanks!!!!

[2017-03-22 01:30] #110 closed

[2017-03-22 11:18] tobihagemann commented on #80
Ah, just saw that `sharedContainerIdentifier` is now being exposed beginning with version 3.0.4. Thanks for the addition @scobbe! :+1:

[2017-03-22 11:49] tobihagemann opened #113 "Unsafe for App Extensions"
With version 2.x this SDK was safe to use in app extensions. I've noticed that, beginning with 3.0.0, this is not the case anymore.

I'm getting an error in [DBOfficialAppConnector-iOS.m#L177](https://github.com/dropbox/dropbox-sdk-obj-c/blob/18a5c95f5794db5e68065ea3ed7fe3a05ec935d5/Source/ObjectiveDropboxOfficial/Platform/ObjectiveDropboxOfficial_iOS/OfficialPartners/OpenWith/DBOfficialAppConnect

[2017-03-22 12:07] tobihagemann commented on #113
Oh, this line of code is even more interesting: [DBOAuthMobile-iOS.m#L108](https://github.com/dropbox/dropbox-sdk-obj-c/blob/18a5c95f5794db5e68065ea3ed7fe3a05ec935d5/Source/ObjectiveDropboxOfficial/Platform/ObjectiveDropboxOfficial_iOS/DBOAuthMobile-iOS.m#L108)

Maybe it can be reused in `DBOfficialAppConnector-iOS.m` somehow?

[2017-03-22 17:51] greg-db commented on #113
Thanks! We'll look into it.

[2017-03-23 00:10] scobbe commented on #113
@tobihagemann: Apologies for the inconvenience. This should be fixed by 9ab686 on `master` now.

A new release will follow shortly. Thank you, and let us know if you spot anything else.

[2017-03-23 00:37] tobihagemann commented on #113
Awesome! Thanks for the quick response and solution! :+1:

[2017-03-23 00:37] #113 closed

[2017-03-23 15:49] ghouse1 opened #114 "Cocoa pods not working for 3.0"
Am trying to use cocopods,  pod 'ObjectiveDropboxOfficial', '~> 3.0', but am receiving following error while installing pod.

![screen shot 2017-03-23 at 6 47 30 pm](https://cloud.githubusercontent.com/assets/2462284/24256532/7aa88ec0-0ff9-11e7-829e-b9b255ba5f1d.png)

[2017-03-23 16:30] scobbe commented on #114
@ghouse1: Any reason you're pulling version 3.0.0? Why not the latest version?

[code]

[2017-03-23 20:17] tobihagemann commented on #114
Just dropping by, because I've noticed this "error" as well at some point. Have you tried `pod repo update` as suggested in the message you've just posted? 😅

[2017-03-24 00:28] ghouse1 commented on #114
@tobihagemann
you are right after updating the `pod repo update` ,  now i can able to install 3.0 version.

@scobbe
When i choose like
`target '<YOUR_PROJECT_NAME>' do
    pod 'ObjectiveDropboxOfficial'
end`
it is installing old version with 1.xx.xx. So i choose 3.xx.xx

[2017-03-24 00:28] #114 closed

[2017-03-24 00:48] scobbe commented on #114
@ghouse1: That's strange. At least use the latest version (3.0.5)!

[2017-03-24 08:52] ml1426 opened #115 "file not found #import <ObjectiveDropboxOfficial/ObjectiveDropboxOfficial.h>"
I followed these instruction down to "Create your project". Everything worked fine as it is. At the step "**Initialize a DBUserClient instance**", when I insert the snippet
`#import <ObjectiveDropboxOfficial/ObjectiveDropboxOfficial.h>`
into AppDelegate.m, there is an error:
` <ObjectiveDropboxOfficial/ObjectiveDropboxOfficial.h> file not found`
I checked on Pods/Pods/ObjectiveDropboxOfficial of p

[2017-03-24 11:06] ml1426 commented on #115
It fixed.
I try to reinstall Cocoapods, and change in pod file:
Before:
`platform :ios, '10.0'
target 'Prj168Onair' do
  use_frameworks!
  pod 'ObjectiveDropboxOfficial'
end`
After:
` use_frameworks!
target 'Prj168Onair' do
  platform :ios, '10.0'
  pod 'ObjectiveDropboxOfficial'
end
`
 I deleted MyProject.xcworkspace and do `pod install` again. It now gets free error of  `<ObjectiveDropboxOfficia

[2017-03-24 11:06] #115 closed

[2017-03-27 09:16] Daivest opened #116 "How to download file shared to me?"
Hello!
i fetch files shared to me with
`[client.sharingRoutes listReceivedFiles];`
it gives me
`NSArray<DBSHARINGSharedFileMetadata *> *sharedFiles = result.entries;`
but it's `pathDisplay == nil`, and i can't download it as i download my own files...

i tried it with `NSURLSessionDownloadTask` with `previewURL`, but it download just HTML page, not my file.
try it with `dl=0` and with `dl=1`, at t

[2017-03-27 12:26] tobihagemann opened #117 "Strategy for OAuth Token Migration v1 to v2"
How does `+[DBClientsManager checkAndPerformV1TokenMigration:queue:appKey:appSecret:]` fit into the setup process? When should I call `+[DBClientsManager setupWithAppKey:]` (or any other equivalent setup method)?

The thing is: I can only call the setup method once. If I wanted to check and perform a token migration, I'd have to call the setup method AFTER the migration. But how do I check if a mi

[2017-03-27 14:09] tobihagemann commented on #117
For the time being, I've created a PR, because I'd like to release a new version of my project. Not sure if that's the right solution to this issue.

[2017-03-27 18:13] scobbe commented on #117
@tobihagemann: Thanks so much for your thoughtful feedback, as well as for making the pull request. I just merged your second solution (which seems like the best way to go).

These changes will be distributed in the latest version of the SDK, which will go out today.

Please let us know if you spot other issues with the SDK. We really appreciate it! Have a great day 😄

[2017-03-27 18:13] #117 closed

[2017-03-27 18:36] greg-db commented on #116
You can use the [`DBSHARINGSharedFileMetadata.linkMetadata.url`](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBSHARINGSharedContentLinkMetadata.html#/c:objc(cs)DBSHARINGSharedContentLinkMetadata(py)url) with [`getSharedLinkFileUrl`](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBSHARINGRoutes.html#/c:objc(cs)DBSHARINGRoutes(im)getSharedLinkFileUrl:ove

[2017-03-27 18:36] #116 closed

[2017-03-28 03:07] Daivest commented on #116
thank you, Greg!

[2017-03-28 14:50] Solublepeter opened #121 "Xcode 8.3 now shows a lot of "retain self" warnings in code"
With the release of Xcode 8.3 warning messages for retain errors in blocks are more prevalent.

We now see a lot of
"Block implicitly retains 'self'; explicitly mention 'self' to indicate this is intended behaviour"
messages coming from the Dropbox iOS code.

Please check and amend the relevant code to prevent those warning messages.

[2017-03-28 14:54] Solublepeter opened #122 "Warning message for block variable names that shadow existing variables"
In Xcode 8.3 a warning message is now generated when a block variable name matches an existing variable defined outside the block.

Please rename these local variables to avoid warning messages, checking for underlying issues.

[2017-03-28 15:15] greg-db commented on #121
Thanks for letting us know! We'll look into it.

[2017-03-28 15:15] greg-db commented on #122
Thanks for letting us know! We'll look into it.

[2017-03-28 19:08] scobbe commented on #121
@Solublepeter: Thanks for bringing this to our attention. Fix is landed on master, with package manager release to follow tonight.

Let us know if you spot anything else. Have a great day!

[2017-03-28 19:08] #121 closed

[2017-03-28 19:08] scobbe commented on #122
@Solublepeter: Thanks for bringing this to our attention. Fix is landed on master, with package manager release to follow tonight.

Let us know if you spot anything else. Have a great day!

[2017-03-28 19:08] #122 closed

[2017-03-28 19:41] Solublepeter commented on #121
Great, thanks.

Cheers

Peter Johnson
Soluble Apps

Mailshot support is powered by our unique "FAQ: Email Composer" app. https://appsto.re/gb/YHN8K.i

Mobile email made easier.

[2017-03-29 20:13] jim-rhoades opened #123 "DBGlobalErrorResponseHandler.h file not found"
I've followed the instructions for adding the Dropbox API to my project via Carthage, but when I try to build the project I get an error on DBSDKImportsShared.h which says "DBGlobalErrorResponseHandler.h file not found."

It looks like the global response handling code was recently added, but maybe those new files are not being included in the framework when building via Carthage somehow?

Or am I

[2017-03-29 20:51] scobbe commented on #123
@jim-rhoades: Ah sorry about this. The `DBGlobalErrorResponseHandler.h` file was marked as "project" not "public".

It is fixed now on master ([here](https://github.com/dropbox/dropbox-sdk-obj-c/commit/b1a7abf7fd3d1e1eecfc2871cf3090cfa3c74fb4)). I will push out a release today, and re-ping this thread.

[2017-03-29 22:05] scobbe commented on #123
Ok, this should be fixed in [3.0.7](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.0.7) now.

[2017-03-29 22:05] #123 closed

[2017-03-29 22:06] scobbe commented on #122
Ok, this should be fixed in [3.0.7](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.0.7) now.

[2017-03-29 22:06] scobbe commented on #121
Ok, this should be fixed in [3.0.7](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.0.7) now.

[2017-03-29 22:06] scobbe commented on #117
Ok, this should be fixed in [3.0.7](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.0.7) now.

[2017-03-29 22:06] scobbe commented on #113
Ok, this should be fixed in [3.0.7](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.0.7) now.

[2017-03-30 00:09] jim-rhoades commented on #123
Thanks @scobbe !

[2017-04-02 17:33] guidedways commented on #60
I should add I'm seeing this almost every single time and I'm **not** using an App Extension. I'll try this solution out.

[2017-04-03 12:53] Solublepeter opened #124 ""Expected identifier" error in DBClientsManager on zip of build."
Occurs on the second "authorizedClientsCopy" in this line in DBClientsManager.m

     NSString *firstUid = [authorizedClientsCopy allKeys]
          [0][[DBClientsManager setAuthorizedClient:[authorizedClientsCopy][firstUid] tokenUid:tokenUid]];

and on the second "authorizedTeamClientsCopy" in this line

      NSString *firstUid = [authorizedTeamClientsCopy allKeys]
          [0][[DBClientsManage

[2017-04-03 15:35] scobbe commented on #60
@guidedways: Any luck?

[2017-04-03 17:45] scobbe commented on #124
@Solublepeter: Sorry about that! This is fixed on `master` now and in the [latest version](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.0.9) of the SDK.

[2017-04-03 17:45] #124 closed

[2017-04-04 10:04] guidedways commented on #60
@scobbe sorry was still testing - I *think* that fixed it for me as I've stopped seeing these errors spring up. Weird!

[2017-04-04 14:59] scobbe commented on #60
@guidedways: Good to hear the issue was resolved. Were you using multiple devices / build targets at the time of the issue?

[2017-04-04 15:06] markmcminn commented on #60
In my case, yes, multiple devices (iPhone + iPad). The latest version of the SDK has cleared it up for me. Thanks!

[2017-04-05 15:09] Sipeso opened #125 "DBDownloadUrlTask permission issue 513 under iOS 10.3"
After setting the responseBlock on the following download task:

    DBDownloadUrlTask *downloadTask = [self.dropboxClient.filesRoutes downloadUrl:originPathOfFileToDownload overwrite:YES destination:destinationURL];

I am getting the error message:

It works for us on iPad with iOS 9.3.5/iPad2 and iOS 10.2/iPad Air 2 but it fails on an iOS 10.3/iPad Pro 12.9". This morning I made a pod update to

[2017-04-05 16:32] scobbe commented on #125
@Sipeso: Thanks for reaching out. I'm looking into the issue now!

[2017-04-05 16:58] guidedways commented on #125
@Sipeso silly question but is your app setup for **App Groups** under Capabilities? You need to assign it the same container Id that you have specified there. It won't work, I think, otherwise. I had the same issue but I'm not experiencing anything since my app uses App Groups on both the Mac and iOS.

[2017-04-05 17:00] guidedways opened #126 "mute never worked, still does not"
The mute option when uploading a file never worked and still does not. When is this planned? Really, people don't need to be alerted of changes made to files made in the app sandbox folder that are private to the app itself.

[2017-04-05 17:01] guidedways commented on #125
@Sipeso can you also try with `forceForegroundSession: YES`?

[2017-04-05 17:04] greg-db commented on #126
Thanks for the report! This issue is open with the team, but I don't have an update on it right now.

[2017-04-05 17:07] guidedways commented on #126
@greg-db you're prompt with replies Greg, but no offence, you've been saying the same for over a year :D It's really something our users complain a lot about, and is frankly very annoying. I also don't understand - why provide a parameter that doesn't actually work?

[2017-04-05 17:09] greg-db commented on #126
Thanks for following up, and I certainly understand your frustration. I don't have any other details to share on this bug unfortunately. I'll forward your feedback along to the team though, to see if they can prioritize it.

[2017-04-05 17:28] scobbe commented on #125
@guidedways: Thanks for the helpful suggestions. I'm still struggling to understand why this would be a 513 permissions issue. When you experienced this issue, did you experience it when building for multiple device-types on the same simulator? Did you ever experience this on a physical device?

@Sipeso: When you experience this issue was it on a physical device or on the simulator? Do you experie

[2017-04-05 17:35] guidedways commented on #125
@scobbe for what it's worth, I don't understand why it fails for some and why it doesn't for others.. plus the 513 error doesn't make sense. Most certainly a NSURLSession bug (given v1 didn't use NSURLSession and v2 does - and we never saw these in v1). I've just recently ported from v1 to v2 and started seeing this immediately. Devices still using v1 did not.

[2017-04-05 18:08] scobbe commented on #125
@guidedways: Thanks for the perspective! This is helpful.

[2017-04-06 08:02] Sipeso commented on #125
Dear all,
thank you very much for your swift and useful responses.
I was able to resolve it based on guidedways hint 'forceForegroundSession: YES'.

Now it works on all physically used devices and iOS installation (as mentioned above) with the following DBClientsManager configuration:
    DBTransportDefaultConfig *transportConfiguration = [[DBTransportDefaultConfig alloc] initWithAppKey:DROPBOX_AP

[2017-04-06 09:27] guidedways commented on #125
@Sipeso that's great! Yeah I suspect background `NSURLSession` is at fault somehow. By the way, if your apps are using v1 already, you *will* in fact need `checkAndPerformV1TokenMigration`. This will ensure your users don't have to link with Dropbox again and they won't lose the current delta tokens etc. If you don't do this, upon updating your app your users will complain that the app isn't linke

[2017-04-06 18:26] truebucha opened #127 "missed ObjectiveDropboxOfficial/DBSDKImports-macOS.h"
I tried to implement mac os framework using this framework and found that

s.dependency 'ObjectiveDropboxOfficial', '= 3.0.10' leads to
#import <ObjectiveDropboxOfficial/DBSDKImports-macOS.h> not found in the imported pods folder

For some reason the Platform folder contains only ObjectiveDropboxOfficial_iOS and missing ObjectiveDropboxOfficial_macOS.
Am I doing something wrong?

[2017-04-06 18:37] scobbe commented on #127
@truebucha: Thanks for reaching out. I am unable to reproduce your issue:

![image](https://cloud.githubusercontent.com/assets/17483354/24769964/31001bd4-1abd-11e7-9119-93423f052c34.png)

I am using the following Podfile (which I just added to the README documentation):

[code]

Please let me know if you still experience this issue using the above Podfile. Please also ensure that you have the `.xc

[2017-04-06 20:26] truebucha commented on #127
Sorry for inconvenience. I found that pod wan't update repo that previously was set up only for iOS version so I should remove Pod directory and Podfile.lock completely and do pod install once again.
isuue resolved.

[2017-04-06 20:28] #127 closed

[2017-04-07 08:57] Sipeso commented on #125
@guidedways Thank you very much for your great support for solving our issue and your advice concerning the checkAndPerformV1TokenMigration (what we are implementing right now).

[2017-04-07 08:57] #125 closed

[2017-04-07 14:06] svendback opened #128 "in Examples method "progress:" now named "setProgressBlock""
https://github.com/dropbox/dropbox-sdk-obj-c: The current examples name progress as method for getting updates on a download

[2017-04-07 17:42] greg-db commented on #128
@svendback You only linked to the root of the project. Can you link to where specifically you're having an issue? Thanks in advance!

[2017-04-08 19:01] guidedways opened #129 "Inconsistent parameter naming and types"
This bit me a couple of times recently:

[code]

Note:
`uploadUrl` says 'URL' in the name but accepts a `NSString`
`inputUrl` says 'URL' in the name but accepts a NSURL

These should either both accept `NSString`s or both should accept `NSURL`s. Very confusing.

[2017-04-10 00:05] scobbe commented on #129
@guidedways: This is a good suggestion. I will update `inputUrl` to be a `NSString`. Thanks for the feedback!

[2017-04-11 22:57] scobbe commented on #128
As of [v3.0.11](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.0.11) I've confirmed that all examples are updated. However, I did not see any with `progress:`, so perhaps you were using an older version of the SDK?

[2017-04-11 22:57] #128 closed

[2017-04-11 22:58] scobbe commented on #129
@guidedways: This is fixed in the latest version of the SDK, [v3.0.11](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.0.11).

[2017-04-11 22:58] #129 closed

[2017-04-12 06:40] swapnilgavali opened #131 "uploading not working"
Hi,

after successful dropbox login, following code snippet for uploading file

[code]

**But following error was out:**

_DropboxClientError[{
    NSError = "Error Domain=NSURLErrorDomain Code=-999 \"cancelled\" UserInfo={NSErrorFailingURLKey=https://api-content.dropbox.com/2/files/upload, NSLocalizedDescription=cancelled, NSErrorFailingURLStringKey=https://api-content.dropbox.com/2/files/upload}

[2017-04-12 07:26] scobbe commented on #131
@swapnilgavali: Thanks for reaching out. Unfortunately, I am unable to reproduce. The following code works just fine for me:

[code]

Is there anyway your `authorizedClient` instance is somehow not being retained?

[2017-04-12 09:45] swapnilgavali commented on #131
Hey its working, Actually mistake was, am sending input data nil to upload method

[2017-04-12 09:45] #131 closed

[2017-04-13 08:56] linhongyi opened #132 "Safariservices framework isn't available on macOS 10.11"
The Safariservices framework is only supported on macOS 10.12+.

We could find the document on the website (https://developer.apple.com/reference/safariservices).

There is not a Safariservices framework on the some macOS 10.11 machines, so the project isn't not work.

[2017-04-13 18:03] scobbe commented on #132
@linhongyi: Thanks for reaching out, and sorry for the inconvenience.

This issue is fixed in the [latest version of the SDK](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.0.12).

[2017-04-13 18:03] #132 closed

[2017-04-13 19:21] guidedways opened #133 "Question: Dropbox sync API (ab)using the main thread?"
Suddenly after releasing our app on the store, it seems hundreds are complaining the app has suddenly frozen on them and the background sync is making the app hang and stall. I suspect Dropbox API 2 is doing something on the main thread?

I *think* I saw somewhere in the code where it sends notifications to the main thread but it should never be doing this. Like before, it should use the thread th

[2017-04-13 19:39] guidedways commented on #133
Too early to say - sorry, I'm closing this for now.

[2017-04-13 23:36] scobbe commented on #133
@guidedways: Certainly let us know if you determine that the SDK is causing you issues. The only thing I can think of is the default setting of the `transportClient` delegate is to use the main thread as a dispatcher [here](https://github.com/dropbox/dropbox-sdk-obj-c/blob/33dc18a6593477d0c850d34dd58ecb6b502336d0/Source/ObjectiveDropboxOfficial/Shared/Handwritten/Networking/DBTransportDefaultClien

[2017-04-13 23:39] guidedways commented on #133
Thanks @scobbe was about to update you :) That was it! I *just* updated my code to specifically use a custom `NSOperationQueue` with quality of service set to background / utility :) I didn't realize the importance of the property as a bunch of our beta testers didn't stumble on this issue, yet a number of App Store users saw the app freeze randomly.

[2017-04-13 23:41] scobbe commented on #133
@guidedways: Ah I'm really sorry for the trouble. I wouldn't have expected this to be an issue, but I guess it's not too hard to imagine with a high-volume of traffic there being a real problem.

Should the default delegate then be `[NSOperationQueue new]` in your opinion?

Again, apologies for the issues.

[2017-04-13 23:47] guidedways commented on #133
@scobbe no harm done, we learn every day, right :D

I think it was the Dropbox API for Android where during the port it surprised me to see the app crash as it was trying to run network code on the main thread (from `OkHttp`). I made me realize then that there's no valid reason to have the network code run on the main thread, ever - and that was a pretty clever `assert` added just to make sure we'

[2017-04-14 00:50] scobbe commented on #133
@guidedways: Thanks for the feedback, and sorry again for the problems!

This is fixed now in the [latest version of the SDK](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.0.14).

[2017-04-14 22:47] guidedways commented on #133
Thanks again @scobbe

Out of curiosity, there are still numerous places where I see:

`NSOperationQueue *queueToUse = queue ?: [NSOperationQueue mainQueue];`

Is that intended?

[2017-04-14 22:55] scobbe commented on #133
@guidedways: So I'm a little bit torn here – clearly, for dispatching responses, there's no need for anything to be done on the main queue, and that was updated in my latest change.

However, I feel like the most common use-case for any response block includes updating some UI component, which is why I left the response block execution on the main thread by default.

But I'm not totally sold by my

[2017-04-14 23:00] scobbe commented on #133
For reference, respected networking libraries like [AlamoFire](https://github.com/Alamofire/Alamofire#response-handler-queue) exhibit this default behavior (executing response blocks on main thread).

[2017-04-14 23:16] guidedways commented on #133
@scobbe I totally get you, and would agree that the usual response is to update the UI after some network operation completes. But then, this applies to all asynchronous GCD stuff we otherwise do - it's the responsibility of the user to ensure they always update any UI code explicitly, and intentionally, using some means of posting it on the main thread. The moment you enter the realm of multi-thr

[2017-04-14 23:27] scobbe commented on #133
@guidedways: This makes sense. Thanks for the detailed writeup and for your feedback! I will update the default execution behavior for all blocks to be off the main thread, and then update the documentation accordingly.

I'll ping this thread when I've released the new update. Thanks again for all the help and for the feedback!

[2017-04-14 23:28] guidedways commented on #133
Pleasure! Thanks for looking into this so deeply 👍

[2017-04-18 12:21] guidedways opened #136 "Question: A way to set custom timeout?"
Although timeouts have always plagued the Dropbox v1 API, I seem to be hitting these often during testing. It seems the moment you try and make requests a little too frequently, the API call would hang for a good 60 seconds or so. Since we're trying to do this in a background fetch (when app is suspended), we miss the 30 second window and the app gets killed. I'd rather we set a custom timeout for

[2017-04-18 19:47] greg-db commented on #136
You can set custom timeouts by constructing the transport client and setting the values in the configuration as desired, like this:

[code]

Hope this helps!

[2017-04-18 19:47] #136 closed

[2017-04-19 10:20] mitsuteru opened #137 "Callback not triggered wi-fi is disconnected after download request"
I am having trouble preparing code for the following error scenario (steps as written below):
1) request downloadUrl
2) disconnect wi-fi on iPad
3) The downloadUrl block is never called

[code]

[2017-04-19 17:07] scobbe commented on #137
@mitsuteru: Thanks for reaching out. Try checking out the [NSURLSession section](https://github.com/dropbox/dropbox-sdk-obj-c#note-about-background-sessions) of the README. Let me know if you have any questions after reading this.

[2017-04-20 10:07] mitsuteru commented on #137
Thanks, I got it.

[2017-04-20 10:07] #137 closed

[2017-04-20 14:00] stefanceriu opened #138 "Properly adopt semantic versioning and mark breaking changes accordingly"
Hello there,

There were 2 recent breaking changes added to the project and not marked:

- this one here https://github.com/dropbox/dropbox-sdk-obj-c/commit/8936d7fc0be220e4cb1664b17ea6829044230a52#diff-c81aa4f783505ecb7aaecb5ba74e700cL33 which wasn't that bad as the compiler warned us about the change

- and this other one https://github.com/dropbox/dropbox-sdk-obj-c/commit/51cc2a172455c6425b0f59

[2017-04-20 16:55] scobbe commented on #138
@stefanceriu: Thanks for your feedback, and apologies for the inconvenience on your end. You're totally right, we really need to be more strict with adhering to semantic versioning. Going forward, I will endeavor to be strict about it.

As far as [51cc2a1](https://github.com/dropbox/dropbox-sdk-obj-c/commit/51cc2a172455c6425b0f594edbbe4ecc8c74801b), I'm a little confused as to how this would cause

[2017-04-20 19:30] stefanceriu commented on #138
Hey Stephen,

Thank you for your quick reply and for understanding.

Regarding [51cc2a1](https://github.com/dropbox/dropbox-sdk-obj-c/commit/51cc2a172455c6425b0f594edbbe4ecc8c74801b), please apply this [patch.diff](https://github.com/dropbox/dropbox-sdk-obj-c/files/945245/patch.diff.zip) on top of your CocoaPods powered DBRoulette demo and watch it fail when picking a photo.

[2017-04-24 08:22] monish152 opened #140 "Downloading in order"
Thanks for wonderful library.
I have just updated it and facing below issue:

1. In previous library I used semaphore for download files in order. and it was working fine.
2. But after updating library now files are not downloading with that semaphore code.

I have tried below conditions:
1. After removing semaphore, files are downloading but not in order as I have requested.
2. With semaphore, fi

[2017-04-24 22:21] greg-db commented on #140
@monish152 Can you share the rest of the relevant code, so we can better understand the issue here? Thanks in advance!

[2017-04-25 19:49] greg-db commented on #138
Apologies for the delay here. We're looking into it and will follow up here once we have an update for you.

[2017-04-26 06:49] stefanceriu commented on #138
No worries, you don't really need to do anything about it now.
Feel free to close this issue when you see fit.

Thanks,
Stefan

[2017-04-26 06:56] monish152 commented on #140
DropDown — UITableVieeController
Search bar -  Done
crash
account summary didselect overdue, paid
Present view controller
iPad test
iPhone5
Landscape test
Remove tooltip
remove coreplot
Library html
Launch screen
iPad Screenshots
inventory
Fabric
flurry
navigation title click
contacts
iPad pro
pie graph value
Next Phase
graph jbgraph
whatsapp pdf
swift-objective
ipad arabic
iPad screensots
NSdatef

[2017-04-26 06:57] monish152 commented on #140
Hi, Thanks for reply. Below is code details:

[code]

1. If above code if I remove dispatch_semaphore_wait  then files are not downloading in order
2. If I run above code then files are not downloading even its not calling error.

[2017-04-26 21:43] greg-db commented on #140
Thanks! Can you let me know what version of the SDK you have installed though? I notice that you're still using `response` instead of `setResponseBlock`. (It was renamed in v3.0.0.) Also, please let me know what version you updated from that was working for you.

Also, it looks like you aren't checking for an error (`routeError` and `error`). Make sure you check that. Additionally, it looks like y

[2017-04-27 09:02] IliyanKafedzhiev opened #141 "Upload a file URL from iCloud Drive container leads to file with zero bytes(empty file) no data."
Upload a file URL from iCloud Drive container leads to file with zero bytes(empty file) no data.

example of fileURL from iCloud Drive containter:
file:///private/var/mobile/Library/Mobile%20Documents/M30Q9HQZUK~com~company~AppName/Documents/Monthly%20budget.xlsx

[2017-04-27 17:36] xjki commented on #138
Changelog document with versions/API changes (with related commits) would be essential to follow up what has ben changed between versions. Now it's really hard.

[2017-04-27 17:38] greg-db commented on #138
Thanks for the feedback! We currently document changes in [the release notes](https://github.com/dropbox/dropbox-sdk-obj-c/releases), but I'll send this along as a request to offer more specific information.

[2017-04-27 17:52] xjki commented on #138
If release notes would dcument changes in header files and links to individual commits that would be perfect. Like https://github.com/skywinder/github-changelog-generator does.

[2017-04-27 21:08] greg-db commented on #141
Can you share the code to reproduce this issue? Thanks in advance!

[2017-04-28 06:30] monish152 commented on #140
Hi There,

In previous we had 1.1.0 version and now we have updated to 3.0.14 version. Below is latest code after updation. and its not working.

I have checked authorizedClient is not nil. In below code I only changed setResponseBlock method from previous version. Now its not working.

`-(BOOL)downloadAndDelete :(NSString*)fileName :(NSString *)companyName :(NSString *)uName :(int)fileType{
    _

[2017-04-28 12:37] billymeltdown commented on #138
It's good that this SDK is so well maintained, but I think I should mention that since we updated to it, we were trying to keep up with the releases. They come out quite often. We had adapted to how the newer SDK handled response callbacks (on main thread, so we adapted). Then, in a span of I think less than 24 hours, this behavior changed and a new release was out with response callbacks not on t

[2017-04-28 18:04] greg-db commented on #138
Thanks for the feedback @billymeltdown . I'll make sure the team reviews this.

[2017-04-28 18:43] greg-db commented on #140
What output are you getting?

Also, I see that you're now printing `error`, but not `routeError`. You should check both. It looks like you're still missing `dispatch_semaphore_signal` in that path though. I.e., if an error occurs, your semaphore will never be released.

Likewise, it looks like you're missing a `dispatch_semaphore_signal` in the case where `didWriteSuccessfull` is not true.

[2017-04-28 21:30] scobbe commented on #133
@guidedways: Wanted to update this thread here. After some consideration, additional research, and consultation with other members of my team, I think we are opting to keep the default behavior of executing response code on the main thread. As I have mentioned earlier, other networking libraries do this, and the most common use case for response code is updating the UI.

That said, all dispatching

[2017-04-28 21:30] #133 closed

[2017-04-28 21:36] scobbe commented on #138
@stefanceriu @xjki @billymeltdown: Thank you all for your feedback. It is much appreciated on our end.

I really do owe all of you an apology. I have failed to adhere to the well-defined conventions around semantic versioning, especially in the case of the 3.0.14 update, which inadvertently made a subtle, but quite destructive change to the SDK interface: executing response handler code off the ma

[2017-04-28 21:52] scobbe commented on #140
@monish152: Thanks for reaching out. In addition to @greg-db's recommendation that you add `dispatch_semaphore_signal` to all possible paths, I would recommend that you

1. update to v3.0.16 (as it fixes a threading regression from v3.0.14)
2. supply a specific (non-main) response queue to your `[client.filesRoutes downloadData:srcPath]` call (for example, `[NSOperationQueue new]`) with the `setRe

[2017-04-29 17:34] monish152 commented on #140
ok @scobbe I will check on monday and will let you know.

[2017-04-30 19:46] chrisvanbuskirk opened #142 "3.0.15/16 sometimes fileContents is nil"
I'm trying to figure out what's going on with this, but as of 3.0.15 my app is no longer functioning properly downloading files.  Looks like **sometimes** fileContents is nil after the progress block is finished.  Tried both 15/16.  I'm using threads to run each download.

[2017-05-01 04:12] timeflying opened #143 "Why don't you just add a overwrite parameter in your upload function ?"
[code]
The above code can't overwrite a file in dropbox. But why don't you just add a overwrite parameter into it ?

You add a function like the following without any tutorial ? why?  You want us delete the file before upload a file ?
[code]

[2017-05-01 06:30] scobbe commented on #143
@timeflying: Sorry for the confusion. I have updated the [README](https://github.com/dropbox/dropbox-sdk-obj-c#upload-style-request) to use the more explicit version of the upload function.

Let me know if you have any more feedback for the SDK.

[2017-05-01 06:30] #143 closed

[2017-05-01 06:33] scobbe commented on #142
@chrisvanbuskirk: Sorry for this issue. The [latest version of the SDK](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.0.17) should fix your issue. Apologies for the inconvenience!

[2017-05-01 07:52] stefanceriu commented on #138
Hey Stephen, I appreciate your apology and I do understand that things like these sometimes happen, no worries.

Also, I think we've dwelled on the subject for long enough now, I'm closing the issue.

Cheers,
Stefan

[2017-05-01 07:52] #138 closed

[2017-05-01 07:59] monish152 commented on #140
`-(BOOL)downloadAndDelete :(NSString*)fileName :(NSString *)companyName :(NSString *)uName :(int)fileType{
    __block BOOL didWriteSuccessfull = NO;
     dispatch_semaphore_t sem = dispatch_semaphore_create(0);
        NSString *srcPath = [NSString stringWithFormat:@"/%@/%@/%@",companyName,uName,fileName];
        NSString *dstPath = [[DataHelper sharedDataHelperObject] getFolderPath:@"/JSON_Admi

[2017-05-01 08:09] guidedways commented on #133
@scobbe thanks for the update on this. Completely understand 👍 I'm just glad there's an option to override this behaviour by supplying a custom queue, as in our particular case I saw a marked improvement in UI animations, list scrolling etc while the app continued syncing in the background.

Many thanks.

[2017-05-01 08:13] guidedways commented on #140
To avoid callback hell and not rely on a pyramid model that is error prone (not to mention, you cannot later introduce another 'download' in the middle of three successive downloads easily), I would recommend you initiate the first download in a background thread / queue, then simply use a boolean flag with the following after the first download call:

[code]

And then just use this method easily

[2017-05-01 08:16] monish152 commented on #140
There is dynamic data. i am reading multiple folders and calling download files with for loop. and I need to download all files in order as I hit that. It was working on 3.0.1

[2017-05-01 08:18] guidedways commented on #140
Sure, the above solution I've provided you is perfect for looping in sequence. Not sure if it was working or not - I don't believe the SDK guarantees this (it never did in v2). We rely on this very approach since not only do we have to download files in sequence, we have dependencies between downloads, so file 2 depends on file 1 to have completed fully in order to join the two, for instance.

[2017-05-01 08:21] guidedways commented on #140
@monish152 This is guaranteed to work irrespective of the SDK you use (network calls are not meant to block, and there's never a guarantee of 'sequential' download using a network library since one call may finish earlier than the other - or the OS may prioritise to its will).

[2017-05-01 13:44] billymeltdown commented on #138
@scobbe no need for an apology here, and looking back I think I came on a little too strong! Thanks for all your hard work Stephen.

[2017-05-01 17:24] scobbe commented on #141
@IliyanKafedzhiev: Are you still seeing the issue? Do you have code to reproduce?

[2017-05-01 17:34] scobbe commented on #140
Thanks @guidedways for your helpful suggestion.

@monish152: If you wish to use the approach that you're currently, and not the implementation that @guidedways suggested, then please ensure the following:

1. You need to make sure the response code is being executed **on a different queue** from the queue that is executing `dispatch_semaphore_wait(sem, DISPATCH_TIME_FOREVER);`. You can either do a

[2017-05-01 22:54] chrisvanbuskirk commented on #142
@scobbe Thanks for the quick turnaround.  Everything looks good.

[2017-05-01 22:57] #142 closed

[2017-05-02 06:17] monish152 commented on #140
Hi @scobbe Thanks for help.

I have changed my code to below code. In result set it seems working. I have tested roughly. Can you please have a look in code and see if I am missing something.
`-(BOOL)downloadAndDelete :(NSString*)fileName :(NSString *)companyName :(NSString *)uName :(int)fileType{
    __block BOOL didWriteSuccessfull = NO;
     dispatch_semaphore_t sem = dispatch_semaphore_create(

[2017-05-02 07:40] IliyanKafedzhiev commented on #141
Yes @greg-db I still can reproduce it. Please checkout the following code.

[code]

[2017-05-02 10:57] IliyanKafedzhiev commented on #141
Guys, I fixed my issue by using this method.
[code]

[2017-05-02 16:58] scobbe commented on #141
@IliyanKafedzhiev: Great to hear! I've updated the sample documentation to use this method by default (rather than the less explicit upload method). Let us know if you run into any other issues, or have any feedback for the SDK.

[2017-05-02 17:30] scobbe commented on #140
@monish152: Thanks for your reply! If I understand you correctly, your code is working correctly? Is that right?

As far as further advice, only a couple of things come to mind:
- remove the redundant `dispatch_semaphore_signal(sem);` after `if ([self importExport:fileName :fileType :srcPath]) {`
- handle your `delete_` call here `[client.filesRoutes delete_:srcPath];` (actually set a response blo

[2017-05-02 18:23] scobbe commented on #141
@IliyanKafedzhiev: Would you mind confirming that you've updated to the latest version of the SDK, then trying your above `uploadUrl:mode:autorename:clientModified:mute` call with an **NSString** for `inputUrl` and not an **NSURL**?

I think that should make it work. Let me know if you can check this out. Many thanks!

[2017-05-03 05:56] monish152 commented on #140
Thanks @scobbe its working perfect.

[2017-05-03 06:46] IliyanKafedzhiev commented on #141
This method still does not work with iCloudDrive URL(in this case file path string). It uploads a empty file.

`- (DBUploadTask<DBFILESFileMetadata *, DBFILESUploadError *> * _Nonnull)uploadUrl:(NSString * _Nonnull)path
                                                                            mode:(DBFILESWriteMode * _Nullable)mode

[2017-05-03 07:17] scobbe commented on #140
@monish152: Great to hear! Let us know if anything else comes up, or if you have any feedback for the SDK. Good luck!

[2017-05-03 07:17] #140 closed

[2017-05-03 17:55] greg-db commented on #141
@IliyanKafedzhiev Can you share the code you're using to get the file URL? We'll need to make sure we're reproducing that the same way you are to investigate. Thanks in advance!

[2017-05-04 04:53] alebaldi commented on #60
@markmcminn can you help me? I have same problem that you describe before: "And a bit more information... If I use the client.filesRoutes downloadData method instead of client.filesRoutes downloadUrl, I don't get the 513 error. Everything seems to work fine in terms of progress monitoring and the metadata download, but the NSData object is nil at the end of the download."

I just use last DropBox

[2017-05-04 08:00] alebaldi commented on #125
I have same problem with iOS 10.3 on iPhone and Dropbox SDK (last version). I set forceForegroundSession to YES but no result... sometimes I have no error... but more frequently my download fails... and error is criptic...
If I use downloadData instead of downloadUrl I have no error but NSData is emtpy (no data)... so my download fails...

[2017-05-04 09:07] IliyanKafedzhiev commented on #141
@greg-db I use file coordinator with the following configuration go get access to this file URL.

`self.fCoordinator = [[[NSFileCoordinator alloc] initWithFilePresenter:nil] autorelease];
			[self.fCoordinator coordinateReadingItemAtURL:fileItem.fileURL
											options:NSFileCoordinatorReadingWithoutChanges
											  error:&error
										 byAccessor:^(NSURL *newURL) {`

[2017-05-04 14:06] markmcminn commented on #60
@alebaldi I'm sorry to hear about the problem. The latest SDK cleared it up for me so I'm not sure what might be happening in your situation. Before the latest SDK, I had to completely reset my device (iPad or iPhone) and then when I reinstalled the app it worked okay for a while. If I used the device both for development and also to run my app from the App Store, then the problem started again. Y

[2017-05-04 14:14] alebaldi commented on #60
@markmcminn what is versione of SDK that resolve your problem? Whit this version you must set trasnportConfig or not?
I can't reset my device so easy... it's my personale phone... :-(
Thanks

[2017-05-04 14:27] markmcminn commented on #60
It was version 3.0.4 released on March 9 that worked for me. Yes, mine was my personal phone also. It was a pain. No, the DBTransportClient was no longer necessary with the March 9 release.

[2017-05-04 14:29] alebaldi commented on #60
I downloaded SDK in first day of April... so my version I think is correct... :-(... but I have this problem... I don't know what to do...

[2017-05-04 14:44] markmcminn commented on #60
Yes, it is probably the current version. And you're not using the DBTransportClient code, right? I had to take that code out with the latest version. If all this is correct, I have no idea what is going on. You may need to file a bug report.

[2017-05-04 14:47] alebaldi commented on #60
I have same problem with or without DBTransportClient... nothing it's changed... Only one thing to note: first day of my test it's all ok... for all day... but starting from second day I had this problem... What's changed?! In my code... nothings...

[2017-05-04 16:32] plusadd opened #144 "DownloadData doesn't work"
DownloadData doesn't work. fileData is nil.

[code]

When I tried downloadUrl and watched cache directory, a temporary file was created before ResponseBlock. DBRoulette works well, so it may be caused by my code. But the only difference is Swift or Objective-C.

Environment
- Xcode 8.3.2
- Swift3
- iOS 10.3.2
- Install from CocoaPods (3.0.11)

[2017-05-04 16:58] plusadd commented on #144
I solved it. My ObjectiveDropboxOfficial from cocoapods.org is old. Latest version(3.0.17) from github works well.

Thanks.

[2017-05-04 16:58] #144 closed

[2017-05-04 17:49] scobbe commented on #60
@alebaldi: Could you update to the latest version of the SDK, and the let me know if your problem is still there?

[2017-05-04 20:49] scobbe commented on #60
@alebaldi: I think I might have determined with the issue is. Please try updating to the latest version of the SDK, v3.0.18, and see if that fixes your issue.

[2017-05-04 20:49] scobbe commented on #125
@alebaldi: I think I might have determined with the issue is. Please try updating to the latest version of the SDK, v3.0.18, and see if that fixes your issue.

[2017-05-04 22:13] greg-db commented on #141
@IliyanKafedzhiev Are you passing `newURL` (a `NSURL`) to the `inputUrl` parameter of the `uploadUrl` method? That parameter should be a `NSString` (e.g., `newURL.path`), and not a `NSURL`, per [Stephen's earlier comment](https://github.com/dropbox/dropbox-sdk-obj-c/issues/141#issuecomment-298719223). When I try to do that with the latest SDK, I get an exception.

Also, can you let me know what yo

[2017-05-05 06:47] alebaldi commented on #125
@scobbe with last version, 3.0.18, it's all ok. I have three App, and all Apps now it's all ok. Thank you very much! ;-)

[2017-05-05 06:48] alebaldi commented on #60
@scobbe with last version, 3.0.18, it's all ok. I have three App, and all Apps now it's all ok. Thank you very much! ;-)

[2017-05-05 07:12] scobbe commented on #60
@alebaldi: That's great to hear! Let us know if anything else comes up, or if you have feedback for the SDK.

Good luck!

[2017-05-05 07:23] guidedways commented on #60
@scobbe We were getting a lot of reports of hang-ups and other strange timeouts which suddenly seem to have disappeared for those users (currently in beta). I was using v3.0.9 and just updated to 3.0.18 - looks like there are a number of improvements packed in. Thanks!

[2017-05-05 08:27] IliyanKafedzhiev commented on #141
Yes @greg-db  I did it with `newURL.path`.

The property `fileItem.fileURL` of `fileItem` object returns an NSURL object for file before the reading access via FileCoordinatior.

[code]

[2017-05-05 11:12] truebucha opened #145 "AppStore Reject: using safari for auth flow"
I have an app reject from app store. The main theme is I use safary instead of brand new SFSafaryViewController.
![screen shot 2017-05-04 at 2 20 55 pm](https://cloud.githubusercontent.com/assets/16370048/25743372/b4bcb0c2-319c-11e7-9042-8500532f3861.jpg)
But for me it doesn't look like the thing I could use to authorize the user anyway. Any suggestions?
the deployment target of the app is 8.0. Th

[2017-05-05 14:58] scobbe commented on #60
@guidedways: That's great to hear! Hopefully, things should be more stable going forward. Let us know if you have any more suggestions!

[2017-05-05 14:59] scobbe commented on #145
@truebucha: Thanks for letting us know. If you update to the latest version of the SDK, it will automatically use `SFSafariViewController`? Let us know if you have any issues doing this.

[2017-05-05 20:59] CrazyGoose opened #146 "Apple Mach-O Linker Error"
Pod is installed correctly.  Followed all setup as outlined but I am getting the following errors:

  "_OBJC_CLASS_$_DBClientsManager", referenced from:

clang: error: linker command failed with exit code 1 (use -v to see invocation)

If I comment out: [DBClientsManager setupWithAppKey:@"XXXXXXXXXX"]; everything complies without issue.

[2017-05-05 21:04] scobbe commented on #146
@CrazyGoose: Do you have the `.xcworkspace` file open and **not** the `.xcodeproj` file?

[2017-05-05 21:05] CrazyGoose commented on #146
Yes, I am using xcworkspace.

[2017-05-05 21:09] scobbe commented on #146
@CrazyGoose: To get the obvious stuff out of the way, would you mind confirming that you've restarted Xcode, and then run `cmd+option+shift+k` and done a clean build?

[2017-05-05 21:12] CrazyGoose commented on #146
Yes,

I have cleaned derived data, restarted xcode, uninstalled pod, reinstalled pod.... many combination of each.

It is the minute I put in the code: [DBClientsManager setupWithAppKey:@"XXXXXXXXXX"];
The actual line of code does not show any errors. But it just wont compile.

[2017-05-05 21:14] scobbe commented on #146
Would you mind trying the step [here](https://github.com/dropbox/dropbox-sdk-obj-c#cocoapods) that involves adding `$(inherited)` to your project's **Other Linker Flags** in Build Settings, and ensure that the `-ObjC flag` is included in **Other Linker Flags**?

`DBClientsManager` uses categories, which can fail at link time sometimes if the `-ObjC` flag isn't added

[2017-05-05 21:21] CrazyGoose commented on #146
![screen shot 2017-05-05 at 5 21 20 pm](https://cloud.githubusercontent.com/assets/3039813/25764707/48489800-31b7-11e7-8e5d-5fcb7b85ccab.png)

[2017-05-05 21:27] scobbe commented on #146
@CrazyGoose: Ok, thanks. Another thing – set `BUILD ACTIVE ARCHITECTURE ONLY` to `NO` for both debug and release in your project's build settings. Let me know if that helps at all.

[2017-05-05 21:29] scobbe commented on #146
Also, if you run `pod --version` and it's less than 0.25.0, you may need to update (`sudo gem update cocoapods`)

[2017-05-05 21:30] CrazyGoose commented on #146
Pod version 1.2.1
Changed Active Arch.. to NO for Debug.  Release was already NO.

[2017-05-05 21:33] greg-db commented on #141
Can you share the code you're using to get that `fileURL` in the first place? I can't reproduce this with a standard `NSURL` for a local file, even with the file coordinator.

[2017-05-09 09:44] attilaz opened #147 "Please redistribute the sdk as a simple framework"
v1 sdk was distributed as a framework.

Installation was (https://www.dropbox.com/developers-v1/core/sdks/ios)

Open your project in Xcode.
1. Navigate to where you uncompressed the SDK and drag the DropboxSDK.framework folder into your project in Xcode.
2. Make sure Copy items ... is selected.
3. Press Finish button.
4. Ensure that you have Security.framework and QuartzCore.framework added to you

[2017-05-09 18:34] greg-db commented on #147
Thanks for the request and feedback! I can't make any promises, but I'll send this along to the team.

[2017-05-14 19:17] guidedways opened #148 "authorizeFromControllerDesktop doesn't work at times"
I distinctly remember that in one of the SDK updates, the Mac app was displaying a Dialog window where the user would authenticate and link. Now, it opens the browser like before. Sadly, at times clicking the 'Allow' button does nothing. Some users complain that clicking the button repeatedly also does not work. I've tried unlinking and linking our app just today and I've experienced the same issu

[2017-05-15 20:19] greg-db commented on #148
Thanks for the report! Are you seeing this in any particular browsers/versions? We'll try to reproduce it here.

[2017-05-17 02:55] scobbe commented on #145
@truebucha: Any update here? Were you able to get this working?

[2017-05-17 03:09] scobbe commented on #148
@guidedways: Thanks for reaching out. Yes, the dialog unfortunately was deliberately disabled. Companies like Google, which Dropbox uses as an identity provider, are starting to force everyone away from using lightweight web-views, in favor of full-fledged browsers (for security reasons). Hence our shift to `SFSafariViewController` on iOS and default browser for macOS.

In the past, I have noticed

[2017-05-17 03:13] scobbe commented on #147
@attilaz: Thanks for the feedback. Although using a package manager can be a little bit harder than just dragging and dropping a `.framework` file, it is a more reliable and robust way of integrating with our SDK.

Here are two of our reasons for doing this:

- `.framework` files are less transparent to the developer (there isn't always an easy way to tell which version of the SDK is being used).

[2017-05-17 04:36] scobbe commented on #148
@guidedways: Ok, I looked into this some more. What I've observed is sometimes that app doesn't go to the foreground up redirect (but the actual redirect still works). If this is the issue that you're encountering, I recommend adding the following code to your app delegate:

`[[NSRunningApplication currentApplication] activateWithOptions(NSApplicationActivateAllWindows | NSApplicationActivateIgnor

[2017-05-17 04:56] truebucha commented on #145
hi, I updated the pod to last available 8.0 version and pushed it to review. the app is in the store now. it is because you repo code implement in app web view auth without options now.

[2017-05-17 04:56] #145 closed

[2017-05-18 12:16] appsaleslover opened #151 "[Devastating] How to support iOS 8 with API v2 SDK?"
The new SDK doesn't support iOS 8 (requirements state iOS 9+). Yet the v1 API is going to be turned off on June 28th.
What is this? How is this acceptable behavior?

I'm only interested in using the simple "upload" functionality of Dropbox SDK. How to support iOS 8 with the v2 API SDK for Objective C?
Please help. Dropping support for iOS 8 is not an option.

[2017-05-18 13:10] billymeltdown commented on #151
iOS 9 became the minimum deployment target in release 3.0.12. You could try one of the previously tagged releases, e.g. `git checkout 3.0.11`

https://github.com/dropbox/dropbox-sdk-obj-c/releases

YMMV, but I was using an earlier release to support iOS 8 until very recently, worked alright in our device testing.

[2017-05-18 18:36] greg-db commented on #151
Thanks for the feedback @appsaleslover . I'll send this along to the team.

BIlly is correct, support for iOS 8 was dropped in [3.0.12](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.0.12), so you should be able to use [3.0.11](https://github.com/dropbox/dropbox-sdk-obj-c/releases/tag/3.0.11) if you do need support for iOS 8.

Alternatively, there are some [third party libraries](http

[2017-05-19 07:47] pascalfribi opened #152 "Up/download stalls on iMac"
Hi,

I am using dropbox embedded in an application and I have observer a very strange behaviour. On almost all of my devices, up/downloading files with downloadURL:overwrite:destination works well, but on one machine these up/downloads just stall from time to time. Not always, sometimes they work fine, at other attempts they just stall.

It works on all my iOS devices and on my Macbook Pros. But i

[2017-05-19 18:00] greg-db commented on #152
Thanks for the report! We'll take a look to see if we can figure out what's happening in this case.

[2017-05-23 06:39] euroboy opened #153 "DBDownloadUrlTask failure"
DBDownloadUrlTask works well, showing progress until 100%, but in response block it gives me the following error (and file is not downloaded in the end):

`DropboxClientError[{
    NSError = "Error Domain=NSCocoaErrorDomain Code=4 \"\U201cCFNetworkDownload_dxtMTH.tmp\U201d couldn\U2019t be moved to \U201cDocuments\U201d because either the former doesn't exist, or the folder containing the latter d

[2017-05-23 06:47] scobbe commented on #153
@euroboy: Thanks for reaching out. Could you confirm which version of the SDK you're using? Also some sample code to reproduce would be helpful. Thanks!

[2017-05-23 07:06] euroboy commented on #153
I'm using ObjectiveDropboxOfficial (3.0.15)

Sample code:
`- (void) downloadDropBoxFile:(DBFILESFileMetadata *) dbFile toPath:(NSString *) destinationPath
{
    NSString *path = [NSString stringWithString:dbFile.pathLower];
    __block DBDownloadUrlTask *task = [self.client.filesRoutes downloadUrl:path overwrite:YES destination:[NSURL fileURLWithPath:destinationPath]];

    [task setResponseBlock:

[2017-05-23 07:15] scobbe commented on #153
@euroboy: Would you mind updating to the latest version of the SDK (v3.1.0)? A number of download bugs have been fixed in recent versions.

Once you have updated to the latest version, please let me know if the problem you're experiencing still persists. Thank you.

[2017-05-23 07:37] euroboy commented on #153
Yes, version 3.1.0 works well. Closing the issue and thanks for help )

[2017-05-23 07:37] #153 closed

[2017-05-23 07:40] scobbe commented on #153
Great to hear! Let us know if anything else comes up, or if you have any feedback for the SDK.

[2017-05-24 15:38] Dirk23 commented on #115
Sorry to reopen this, but i tried the same as @ml1426 but for me the error does not get removed. I try to convert from API1 to the newest so i deleted .xcworkspace file, ran `pod install`, clean builded my Project and still error.

What did i miss?

[2017-05-24 15:43] Dirk23 commented on #115
Ok, deleting the Pod Folder in my project and the .xcworkspace file the `pod install` did the trick!

[2017-05-24 17:17] scobbe commented on #148
@guidedways: Any updates? Was this connected to the issue at all?

[2017-05-24 17:58] guidedways commented on #148
Hi @scobbe sorry, I did try this and it seems that was it! I had something similar before but used your code verbatim and that seems to have fixed it for me at least. I'll continue to monitor this as I know some people have had issues with using Safari directly at times - not sure why.

[2017-05-24 18:01] scobbe commented on #148
@guidedways: Great to hear! Do let us know if the issue resurfaces, or if other problems arise. Closing for now.

[2017-05-24 18:01] #148 closed

[2017-05-26 06:05] kinhchendev opened #154 "createSharedLink and listSharedLinks crash with utf-8 file name"
When I use createSharedLinkWithSettings to get shared url for file, if result is nil (cause of already_shared_link error), I use listSharedLinks.
But this will crash if the file name is in utf-8, for example "Tổng hợp báo cáo.docx". The log says:  *** Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: '*** -[NSFileManager moveItemAtPath:toPath:error:]: destination path

[2017-05-26 06:49] #154 closed

[2017-06-01 00:04] scobbe commented on #146
@CrazyGoose: Sorry for the radio silence here. Wanted to follow up and see if this issue was still happening for you. If it is, would you mind sending in a redacted Xcode project to the following link:

https://www.dropbox.com/developers/contact

That way, we can debug it on our end and get to the bottom of this. Either way, let me know. Thank you!

[2017-06-01 00:36] scobbe commented on #152
@pascalfribi: Any update here? Are you still seeing this issue?

Can you also confirm that your app is not in the background when the download finishes? It won't execute your handlers until the app is in the foreground again.

Would you mind updating to 3.1.0 as well?

Given that this is an issue only on your quadcore iMac and not other apple platforms, I'm more inclined to think it's an `NSURLSes

[2017-06-01 06:59] pascalfribi commented on #152
Hi,

since I force the foreground session I did not see the problem anymore.

Be aware that foregound/background sessions on the macOS have a different meaning than on the iOS. macOS has no such thing as running in the background with limited resources. This is a thing introduced on iOS to prevent battery drain. On a normal unix system you are allowed to run as much in the background as you want t

[2017-06-01 17:39] scobbe commented on #152
Thanks for the detailed repro steps. I'll see if I can look into this and try and repro on my end. Thanks!

[2017-06-05 16:46] Schwiiz commented on #146
Hi scobbe, could you please help me with the same problem:
ld: framework not found Pods-DBRoulette
clang: error: linker command failed with exit code 1 (use -v to see invocation)
I'm trying to run the sample code..
thanks!

[2017-06-05 16:54] scobbe commented on #146
@Schwiiz: I assume you tried everything above?

Based on your error, it seems like you don't have the `.xcworkspace` file open (but instead the `.xcodeproj` file).

Would you mind confirming that you have the `.xcworkspace` file open while attempting to build?

[2017-06-05 16:59] Schwiiz commented on #146
unfortunately, it's .xcworkspace. it looks like this:

![screen shot 2017-06-05 at 18 58 10](https://cloud.githubusercontent.com/assets/13655824/26794185/ff2e5dd0-4a20-11e7-9b7e-a79c7607f968.png)

[2017-06-05 17:25] scobbe commented on #146
@Schwiiz: Oh this is the example project. Did you run `pod install` in the directory that contains the `Podfile`?

We don't distribute the framework code (ObjectiveDropboxOfficial) in the examples directly, but instead require you to fetch them. Let me know if this works.

[2017-06-05 17:26] scobbe commented on #146
Oh wait, yeah we don't distribute the workspace files either, so you must have...

[2017-06-05 17:55] scobbe commented on #146
@Schwiiz: Would you mind trying this:

In Project Navigator in the folder Pods look for Pods_DBRoulette.framework which is red in the above screenshot. It should also be present in Linked Frameworks and Libraries. Remove both references and see if that helps.

[2017-06-05 18:15] Schwiiz commented on #146
@scobbe ok, let me try. thanks.

[2017-06-06 17:16] scobbe commented on #146
@Schwiiz: Any word?

[2017-06-07 04:47] shoaibhassanWhizpool commented on #55
greg-db is there  a way to get files created date and check whether it is file or folder.

[2017-06-07 07:31] kennybuc commented on #153
@scobbe Can you please tell me how I can update the dropbox official sdk which I've installed with Cocoapods?

[2017-06-07 16:50] scobbe commented on #153
@kennybuc: Sure thing. Go to the folder that contains your `Podfile` and run `pod update`.

[2017-06-07 17:53] greg-db commented on #55
@shoaibhassanWhizpool The Dropbox API doesn't return file creation date, but I'll pass this along as a feature request.

You can determine if a [`DBFILESMetadata`](https://dropbox.github.io/dropbox-sdk-obj-c/api-docs/latest/Classes/DBFILESMetadata.html) is a file or folder by using `isKindOfClass` as shown here:

https://github.com/dropbox/dropbox-sdk-obj-c#response-handling-edge-cases

Also, your

[2017-06-08 11:32] shoaibhassanWhizpool opened #156 "Need Created Date"
As Created date of file is not returned by sdk,
please add this functionality as i have option in my app to sort files in created date ascending and descending order
Thanks.

[2017-06-08 18:57] greg-db commented on #156
Thanks for the request!

[2017-06-11 17:18] bazimogmbh opened #157 "DropboxClientError while downloading large number of files"
I'm using ObjectiveDropboxOfficial (3.1.1) and receive these errors randomly when i try to download large number of files -

I use a NSOperationQueue to send 10 parallel download requests at a time, many files do get downloaded but few get the error. All the dropboxFilePaths do exist.
Here is my code :

[code]

[2017-06-12 02:04] scobbe commented on #157
@bazimogmbh: I suspect that these requests are timing out because so many are queued up at one time. I wouldn't start more than 3-5 simultaneous requests at any one time. Would you try setting `maxConcurrentOperationCount = 3` and see if these errors still happen?

[2017-06-12 07:48] scobbe commented on #146
Ping @Schwiiz and @CrazyGoose.

Any update? Where you able to get this to work?

[2017-06-12 08:20] bazimogmbh commented on #157
Works well with maxConcurrentOperationCount 3 & 5, Thanks.

[2017-06-12 08:20] #157 closed

[2017-06-13 00:12] paulbeadle opened #158 "restClient.filesRoutes listFolder no longer returns full folder content listing."
Over the last couple of days we've had a lot of complaints from users that they aren't seeing newly uploaded files in listings. Files that are uploaded are successfully listed using the Dropbox web site but aren't when using our app. We found that changing the restClient.filesRoutes listFolder API so that 'includeMediaInfo:[NSNumber numberWithBool:YES]' is changed to 'includeMediaInfo:[NSNumber nu

[2017-06-13 00:16] greg-db commented on #158
Yes, this is an issue on our side specific to using `includeMediaInfo` like this. We're working on it, and expect have all entries being properly returned tomorrow.

[2017-06-13 05:32] shoaibhassanWhizpool commented on #156
@greg-db  please let me know when this modification will be done so that i can move further.
Thanks.

[2017-06-13 06:51] paulbeadle commented on #158
Thank you for the update, we'll reassure our customers.

[2017-06-13 16:28] greg-db commented on #156
I've sent this along as a feature request, but I can't promise if/when this would be implemented. I'm not aware of any current work on this.

[2017-06-13 23:54] greg-db commented on #158
This is fixed now. Calls to listFolder will now return the latest entries. Please let us know if you're still seeing any issues.

[2017-06-13 23:54] #158 closed

[2017-06-15 13:18] puneettest opened #159 "App is quit automatically when try to open ."
Hello
I have used dropbox sdk . I have choose the carthage process for installing dropbox. After that sdk app working but after quit the app if try to reopen the app then app quit automatically and same happen in ipad .

deployment target : 9.1
testing in iPad ios 9.3, simulator 10.2

let me know the problem.

Console of simulator

[MC] Reading from private effective user settings.
2017-06-15 18:2

[2017-06-15 20:25] greg-db commented on #159
Can you share the code that triggers this?

Also, is that all of the error/output you get?

[2017-06-16 06:10] puneettest commented on #159
Hello greg
I have found one more thing i have use objective c dropbox sdk through pod and project work fine but there is only problem is that image are not downloading .
DBUserClient *client = [DBClientsManager authorizedClient];
    [[client.filesRoutes downloadData:imagePath]
     setResponseBlock:^(DBFILESFileMetadata *result, DBFILESDownloadError *routeError, DBRequestError *error, NSData *fil

[2017-06-16 06:42] scobbe commented on #159
@puneettest: Would you mind sending us a redacted version of your project so that we can debug on our end?

https://www.dropbox.com/developers/contact

Let us know – thanks!

[2017-06-16 07:42] puneettest commented on #159
Hello
I have do same process in new project which don't have any code . Only dropbox added through carthage process and its have similar problem. SO I am sending you the code please check and let me know if i am doing something wrong.
https://www.dropbox.com/s/tmjnwgyokn7fxg8/cartagetest.zip?dl=0

Thanks

[2017-06-16 08:27] paulbeadle commented on #158
Hi Greg. The listings are fine for us now and many of our customers, but a small number are still saying they aren't seeing all their files. It doesn't seem to be geographical because someone in the UK reports it doesn't work yet, but it's OK for us in the UK. Is the change taking time to roll out to all servers?

[2017-06-16 17:02] greg-db commented on #158
@paulbeadle We're investigating a related issue affecting a smaller portions of cases around this. I'll follow up here once we have an update on that.

[2017-06-19 07:31] puneettest commented on #159
Hello Scobbe

Can you help me on this . I have sent you the code which have that issue. SO please check that and let me know how I can solve that.

Thanks

[2017-06-19 10:10] danielgruber opened #160 "Dropbox SDK Dismisses my ViewController"
Hi There,

The dropbox SDK has one Bug I think: If it is opening the Dropbox App via URL, it although dismisses the current pushed ViewController from the Stack, even if it's not the WebViewViewController. This dismisses my Settings View, which is leading to the Problem that I am not able to handle the result correctly.

What can I do?

Thanks!

Best

Daniel

[2017-06-19 10:22] danielgruber commented on #160
Opening with nil as controller worked:

 [DBClientsManager authorizeFromController:[UIApplication sharedApplication]
                                       controller:**nil**
                                          openURL:^(NSURL *url) {
                                              [[UIApplication sharedApplication] openURL:url];
                                          }];

[2017-06-19 10:22] #160 closed

[2017-06-19 12:55] puneettest opened #161 "Dropbox added from pod but download image function not working"
I have attached dropbox in my project from pod and all things working fine but when try to download the image its returning nil.  So please let me know how i can resolve this problem.

[code]
in this method filedata is nil so image is not downloading. So please let me know how i can resolve this.

Thanks

[2017-06-19 13:47] JustStoryteller commented on #153
@scobbe update doesn't work, the latest version is ObjectiveDropboxOfficial (3.0.15) after 'pod update'

[2017-06-19 17:20] scobbe commented on #161
@puneettest: Thanks for reaching out. Usually if the result is `nil`, then there is some error. Can you print out `routeError` and `error` in your response block, and share those values here?

[2017-06-19 17:21] scobbe commented on #159
@puneettest: Sorry for the delay here. I downloaded the above project, and built/ran it, and I did not receive any errors.

Are you able to reproduce your issue in this test project that you shared with me? In this test project, do you receive the same crash as the one you posted above?

Also, which version of Xcode are you using?

Thanks!

[2017-06-19 17:22] scobbe commented on #153
@JustStoryteller: `rm Podfile.lock; rm -rf Pods/; pod install` should update. Let me know if that doesn't work.

[2017-06-19 20:02] JBishopJr opened #162 "Validation error submitting Dev ID signed application containing 3.1.2"
Cannot pass online validation from Xcode of an app using latest ObjectiveDropboxOfficial signed with Developer ID credentials.  Validation error message is:
**An error occurred during validation**
Couldn't find platform family in info.plist CFBundleSupportedPlatforms or Mach-O LC_VERSION_MIN for ObjectiveDropboxOfficial

version 3.1.2 info.plist contains a CFBundleSupportedPlatforms array item wit

[2017-06-19 20:12] scobbe commented on #162
@JBishopJr: Based on some Googling, it seems like it may be related to have a superfluous .dSYM file.

Checkout out the thread [here](https://github.com/Alamofire/Alamofire/issues/823) and try some of the suggestions and let me know if any of them help.

[2017-06-19 21:25] JBishopJr commented on #162
I've followed all these threads without success.   I have only 1 .dSYM onboard - ObjectiveDropboxOfficial.framework.dSYM, which is dictated in the installation instructions (which have worked fine up through v. 3.0.18).   This app has been on the App Store and outside delivered with Developer ID for years, and for a month or so with the new Dropbox API.  The ObjectiveDropboxOfficial info.plist con

[2017-06-19 21:57] scobbe commented on #162
Hmm that's strange. Any chance the .dSYM in your bundle is somehow cached from the 3.0.18 SDK, instead of the latest SDK?

I'll look into the "MacOSX" issue, but that frankly would be a surprisingly aggressive name deprecation from Apple to suddenly start failing validation like this (and without an appropriate error message).

[2017-06-19 23:43] JBishopJr commented on #162
No chance the Dropbox .dSYM is old.  But, there is a chance that Apple now can identify the difference between an App Store version of the  app and a Developer ID version of the app and fail if the there's ANY .dSYM onboard the Developer ID target.

I agree about the "MacOSX" deprecation, but Apple also has documentation that there is ONLY one valid CFBundleSupportedPlatforms key:  "iPhoneOS".  Bu

[2017-06-20 06:18] puneettest commented on #161
Hello Scobbe
When  downloadImage function call then its not returning any error both  error and routeError is nil. also result is contain the metadata of the image but filedata is nil.

result contain this:
Printing description of result:
{
    "client_modified" = "2015-09-14T13:37:05Z";
    "content_hash" = 96cd5fddeb194c4b704b1ebceaaea73f1008c8e016308e1518dbb54f4316c19d;
    id = "id:KFg21KDAOqA

[2017-06-20 06:46] scobbe commented on #161
Ok, thanks for the detailed information. We'll investigate further. And you're able to reproduce this on multiple different .jpg files?

[2017-06-20 06:50] puneettest commented on #161
Yes this error comes on multiple different  .jpg , .png files .

[2017-06-20 06:58] puneettest commented on #159
Yes, i'm able to reproduce this issue with this test project i shared. It does not crash in the debug mode.

Please follow these steps to generate the error:-
1.) Build and run the project (i did it in a simulator).
2.) Stop the project.
3.) Now run it directly from the simulator by clicking the project icon. Here it crashes as soon as it opens.

Using xcode 8.2

Thanks!

[2017-06-20 07:57] JustStoryteller commented on #153
@scobbe unfortunately, it doesn't work too

[2017-06-20 08:27] kennybuc commented on #153
@JustStoryteller Please try the followings.
pod 'ObjectiveDropboxOfficial', '~>3.1.0'

Pod update doesn't work sometimes and when I specify the version, I can get the latest version of sdk.
pod 'ObjectiveDropboxOfficial', '~>3.x.x'
You can specify the latest version you find on this repository as well.

https://github.com/dropbox/dropbox-sdk-obj-c/blob/master/ObjectiveDropboxOfficial.podspec
The p

[2017-06-20 10:41] JustStoryteller commented on #153
@kennybuc, @scobbe thank you for your help! It's OK

[2017-06-20 23:30] greg-db commented on #161
Thanks @puneettest . I tried reproducing this using your code though, and I don't get a `nil` `fileData` as you described.

To help us investigate further, can you share:
- the version of Xcode you're using.
- the version of iOS you're using.
- the version of the API v2 Objective-C SDK you're using.
- the rest of the code you're using to call and check this. (Your shared code doesn't include any o

[2017-06-21 00:28] greg-db commented on #158
This secondary issue should also be fixed now.

[2017-06-21 03:54] greg-db commented on #159
Thanks! We're looking into it.

[2017-06-21 07:08] puneettest commented on #161
Xcode version is 8.2.
iOS versio - 10.2
Objective-C SDK version - 3.0.15

The following code goes inside the block:-
if (result) {
     NSString* path = [self photoPath:fileName];
     [fileData writeToFile:path atomically:YES];

     imgLocation.image=[UIImage imageWithContentsOfFile:path];
     finalImageData = UIImageJPEGRepresentation([UIImage imageWithContentsOfFile:path], 0.0);
     [self.na

[2017-06-21 17:29] scobbe commented on #161
Thanks! We're looking into this now. In the meantime, please update from 3.0.15 to the latest version of the SDK, and let us know if the problem persists. Thanks!

[2017-06-21 18:33] greg-db commented on #161
Thanks for the information @puneettest . I can reproduce this in v3.0.15, and not 3.1.2, so it looks like it was already fixed, so please update your SDK. I'll close this accordingly.

[2017-06-21 18:33] #161 closed

[2017-06-23 12:36] delitestudio opened #163 "Method checkAndPerformV1TokenMigration does not delete old V1 tokens on success"
Hi, we have used `checkAndPerformV1TokenMigration` method to upgrade old V1 tokens to the new format but we've seen that after an uninstall of the application the procedure starts over migrating old tokens, even if a `unlinkAndResetClients` has been called.

We think the `checkAndPerformV1TokenMigration` does not delete old tokens from keychain after successful migration. Is there a way to solve t

[2017-06-23 21:43] greg-db commented on #163
Thanks @delitestudio ! For reference, [the implementation of `checkAndPerformV1TokenMigration` can be found here](https://github.com/dropbox/dropbox-sdk-obj-c/blob/fd17b3b6586c9409dfd6027d4b6de33b667209d1/Source/ObjectiveDropboxOfficial/Shared/Handwritten/OAuth/DBSDKKeychain.m#L151).

It doesn't delete the original tokens, and `unlinkAndResetClients` would only apply to the new tokens. Also, the b

[2017-06-26 08:33] delitestudio commented on #163
Hello @greg-db and thanks for your fast answer.

We think it's not a big problem for users and we suppose that if they uninstall an application there's a little chance that they will re-install it. It just turned out in our debug sessions and we decided to alert you of this behaviour. We personally believe it will be cleaner to remove old tokens after a successful migration because there is little

[2017-06-26 21:01] greg-db commented on #163
I see, thank you!

[2017-06-30 11:16] tererecool commented on #142
Should this fix be in cocoapods ObjectiveDropboxOfficial 3.1.2? Because I'am having this same issue. Problem seems to be in following line of code:
`downloadContent = [NSData dataWithContentsOfFile:[location path]];`
The returned value is nil and errors are also nil.

[2017-07-03 09:27] SDPrio opened #164 "Release information 3.0.11 does mention any BC changes"
After updating from v2 to the latest Objective C SDK version 3.1.2 my app crashed when using `[uploadUrl:mode:autorename:clientModified:mute:inputUrl:]` with `-[NSURL length]: unrecognized selector sent to instance...`

The reason for this is, that in 3.0.11 the `inputURL` parameter was changed from `NSURL` to `NSString`. Not a big deal, but the release notes of v3.0.11 do not mention this changes